{% load staticfiles %}
{% load querys %}
{% load static notifications_tags %}

<!DOCTYPE html>
<html>

<head>

{% block head %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Empty Page</title>

    <link rel="icon" type="image/png" href="{% static 'img/icono-springlabs.png' %}" />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">

    <!-- Toastr style -->
    <link href="{% static 'css/plugins/toastr/toastr.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link href="{% static 'css/estilos_menu.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>

{% endblock head %}

</head>

<body class="" onclose="mostrarAlert()">

<div id="myNav" class="overlay">
   <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element"> <span>
                        <p class="text-center text-muted">
                            {% if extras %}
                                <small>{{extras.cargo}}</small>
                            {% else %}
                                <small>Perfil en construcción</small>
                            {% endif %}
                        </p>
                            {% if extras.foto %}
                                <img alt="image" class="img-circle" src="{{extras.foto.url}}" height="165" width="165"/>
                            {% else %}
                                <img alt="image" class="img-circle" src="{% static 'img/no_image.png' %}" />
                            {% endif %}
                             </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{user.first_name}} {{user.last_name}}</strong>
                             </span> <span class="text-muted text-xs block">

                             {% if request.user|has_group:"Administrador" %}

                                <small>Administrador SpringLabs</small>

                             {% elif request.user|has_group:"Cliente Administrador" %}

                                <small>Administrador DashBot</small>
                             {% elif request.user|has_group:"Usuario Cliente" %}

                                <small>Operador DashBot</small>

                             {% endif %}

                             <b class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="{% url 'perfil' user.id %}">Perfil</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'logout' %}">Salir</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        DB+
                    </div>
                </li>
                {% block menu_lateral_header %}
                    {% if request.user|has_group:"Administrador" %}
                        <li>
                            <a href=""><i class="fa fa-th-large"></i> <span class="nav-label">Opciones</span> <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="{% url 'ingresar_cliente' %}">Ingresar Cliente</a></li>
                                <li><a href="{% url 'ingresar_agente' %}">Ingresar Agente</a></li>
                                <li><a href="{% url 'ingresar_usuario' %}">Ingresar Usuario</a></li>
                                <li><a href="{% url 'ingresar_grafica' %}">Ingresar Gráfica</a></li>
                                <li><a href="{% url 'asignar_grafica' 0 %}">Asignar Gráfica</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url 'faq' %}"><i class="fa fa-question"></i><span class="nav-label">Preguntas Frecuentes</span></a>
                        </li>
                    {% elif request.user|has_group:"Cliente Administrador" %}
                        {% if not '/home/' in request.path and not 'faq' in request.path and not 'interacciones' in request.path and not 'sesiones' in request.path and not 'timeline' in request.path and not 'perfil' in request.path and not 'notificaciones' in request.path %}
                           <li class="active">
                        {% else %}
                            {% if '/modificar_perfil/' in request.path or '/perfil/' in request.path and request.user.id == usuario_inDjango.id %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                        {% endif %}
                                <a href=""><i class="fa fa-th-large"></i> <span class="nav-label">Opciones</span> <span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse">

                                    {% if '/modificar_perfil/' in request.path or '/perfil/' in request.path and request.user.id == usuario_inDjango.id %}
                                    <li class="active">
                                    {% else %}
                                    <li>
                                    {% endif %}
                                    <a href="{% url 'perfil' user.id %}">Mi Perfil</a></li>

                                    {% if '/operadores/' in request.path %}
                                    <li class="active">
                                    {% else %}
                                    <li>
                                    {% endif %}
                                    <a href="{% url 'operadores' %}">Operadores</a></li>

                                    {% if '/equipos_agente/' in request.path or 'equipos_agenteusuarios' in request.path %}
                                    <li class="active">
                                    {% else %}
                                    <li>
                                    {% endif %}
                                    <a href="{% url 'equipos_agente' %}">Equipos</a></li>

                                    {% if '/ingresar_operador/' in request.path %}
                                    <li class="active">
                                    {% else %}
                                    <li>
                                    {% endif %}
                                    <a href="{% url 'ingresar_operador' %}">Nuevo Usuario</a></li>

                                </ul>
                            </li>
                            {% if '/notificaciones/' in request.path %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{% url 'notificaciones' %}"><i class="fa fa-bell"></i><span class="nav-label">Notificaciones</span></a>
                            </li>
                            {% if '/faq/' in request.path %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{% url 'faq' %}"><i class="fa fa-question"></i><span class="nav-label">Preguntas Frecuentes</span></a>
                            </li>
                            <li>
                                <a href="{% url 'graficas_personalizadas' %}"><i class="fa fa-bar-chart-o"></i><span class="nav-label">Estadísticas personalizadas</span></a>
                            </li>

                    {% elif request.user|has_group:"Usuario Cliente" %}

                        {% if not '/home/' in request.path and not 'faq' in request.path and not 'interacciones' in request.path and not 'sesiones' in request.path and not 'timeline' in request.path %}
                           <li class="active">
                        {% else %}
                            <li>
                        {% endif %}
                                <a href=""><i class="fa fa-th-large"></i> <span class="nav-label">Opciones</span> <span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse">
                                    {% if '/modificar_perfil/' in request.path or '/perfil/' in request.path %}
                                    <li class="active">
                                    {% else %}
                                    <li>
                                    {% endif %}
                                    <a href="{% url 'perfil' user.id %}">Mi Perfil</a></li>
                                </ul>
                            </li>
                            {% if '/notificaciones/' in request.path %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{% url 'notificaciones' %}"><i class="fa fa-bell"></i><span class="nav-label">Notificaciones</span></a>
                            </li>
                            {% if '/faq/' in request.path %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{% url 'faq' %}"><i class="fa fa-question"></i><span class="nav-label">Preguntas Frecuentes</span></a>
                            </li>
                            <li>
                                <a href="{% url 'graficas_personalizadas' %}"><i class="fa fa-bar-chart-o"></i><span class="nav-label">Estadísticas personalizadas</span></a>
                            </li>

                    {% endif %}
                {% endblock menu_lateral_header %}
            </ul>
        </div>
    </nav>
  </div>
  </div>

<div class="top">
     <div class="border-bottom">
    <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <div class="menu">
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

      </div>
        <form role="search" class="navbar-form-custom" action="search_results.html">
            <div class="form-group">
                <input type="text" placeholder="Expandir / Contraer" class="form-control" name="top-search" id="top-search">
            </div>
        </form>
    </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                {% if datos_empresa.nombre_empresa == None %}
                  <span class="m-r-sm text-muted welcome-message">Bienvenido</span>
                {% else %}
                  <span class="m-r-sm text-muted welcome-message">Bienvenido a {{datos_empresa.nombre_empresa}}</span>
                {% endif %}

            </li>

            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                <script type="text/javascript" src="//code.jquery.com/jquery.js"></script>
                    <i class="fa fa-bell"></i>  <span class="label label-danger">{% live_notify_badge %}</span>
                </a>
                 
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="{% url 'notificaciones' %}">
                            <div>
                                <i class="fa fa-warning fa-fw"></i>
                                &nbsp;
                                Tienes <strong>{% live_notify_badge %}</strong> notificaciones
                            </div>
                        </a>
                
                    </li>
                </ul>
            </li>

            <li>
                <a href="{% url 'logout' %}">
                    <i class="fa fa-sign-out"></i> Salir
                </a>
            </li>
        </ul>
    </nav>
    </div>
  </div>
    <div id="wrapper">
      <div id="page-wrapper" >
        {% block contenido_header %}
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-sm-4">
                    <h2>This is main title</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">This is</a>
                        </li>
                        <li class="active">
                            <strong>Breadcrumb</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-sm-8">
                    <div class="title-action">
                        <a href="" class="btn btn-primary">This is action area</a>
                    </div>
                </div>
            </div>
        {% endblock contenido_header %}
        {% block contenido %}
        <div class="row">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content">
                    <div class="middle-box text-center animated fadeInRightBig">
                        <h3 class="font-bold">This is page content</h3>

                        <div class="error-desc">
                            You can create here any grid layout you want. And any variation layout you imagine:) Check out main dashboard and other site. It use many different layout.
                            <br/><a href="" class="btn btn-primary m-t">Dashboard</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock contenido %}
            <div class="footer">
                <div class="pull-right">
                    <strong>Hoy </strong>{{user.last_login|date:"d M Y"}}
                </div>
                <div>
                    {% if datos_empresa.nombre_empresa == 'SpringLabs' %}
                    <strong>Copyright</strong> SpingLabs &copy; 2019
                    {% else %}
                    <strong>Copyright</strong> &copy; 2019
                    {% endif %}
                </div>
            </div>
        </div>
      </div>

    {% block js %}
    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{% static 'js/inspinia.js' %}"></script>
    <script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
    <!-- Notificaciones -->

    {% endblock js %}

    <script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
    <script src="{% static 'notifications/live-test.js' %}" type="text/javascript"></script>
    {% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge' fetch=20 refresh_period=5 %}

    {% block scripts %}

    {% endblock scripts %}


</body>

</html>
