{% load static %}
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>SpringLabsBots | Restablecer contraseña</title>
<link rel="icon" type="image/png" href="{% static 'img/icono-springlabs.png' %}" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/estilos-responsive.css' %}">
<link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet">
<link href="{% static 'css/estilos_menu.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'js/menu.js' %}"></script>

<!-- Sweet Alert -->
<link href="{% static 'css/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet">
</head>

{% block content %}
<!--TOP-->
<div class="top">
<div class="topcont">
<div class="logo"><img src="{% static 'imgs/logo.png' %}"/> </div>

<!--MAIN-->
<div class="margen_top"></div>
<div class="main">
	<div class="mainr">
		<h1>Su contraseña se reestableció correctamente</h1>
		<p><a href="{% url 'index' %}" style="color: rgba(48,157,205,8.00);">Iniciar sesión</a></p>
	</div>
</div>

<!-- Mainly scripts -->
  <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
  <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

  <!-- Custom and plugin javascript -->
  <script src="{% static 'js/inspinia.js' %}"></script>
  <script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>

  <!-- Sweet alert -->
  <script src="{% static 'js/plugins/sweetalert/sweetalert.min.js' %}"></script>


{% endblock %}
</html>
