{% load static %}
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>SpringLabsBots | Restablecer contraseña</title>
<link rel="icon" type="image/png" href="{% static 'img/icono-springlabs.png' %}" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/estilos-responsive.css' %}">
<link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet">
<link href="{% static 'css/estilos_menu.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'js/menu.js' %}"></script>

<!-- Sweet Alert -->
<link href="{% static 'css/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet">
</head>

{% block content %}
<body margin="50px">
<!--TOP-->
  <div class="top">
    <div class="row">
    <br>
      <div class="col-sm-6"><img src="{% static 'imgs/logo.png' %}" align="center" /></div>
      <br><br>
      <br>
    </div>
  </div>
<!--MAIN-->
  <div class="margen_top"></div>
  <div class="main">
    <div class="container">
      <div class="col-sm-4">
        <h1>SpringLabs</h1>
        <div class="mainl_card">
          <div class="mainl_card_img"><img src="{% static 'imgs/Bipbot.png' %}"/></div>
        </div>
      </div>
      <div class="col-sm-4">
        <h1 text-align="center">Recuperar contraseña</h1>
		<p>Ingresa el correo electrónico asociado a tu cuenta.</p>

		<form method="post" class="m-t" role="form" enctype="multipart/form-data">
			{% csrf_token %}
			<label for="id_email">Correo:</label> {{ form.email }}
			<input type="submit" class="btn btn-primary" value="Enviar"/>
		</form>
      </div>
    </div>
  </div>
  <!-- Mainly scripts -->
  <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
  <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

  <!-- Custom and plugin javascript -->
  <script src="{% static 'js/inspinia.js' %}"></script>
  <script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>

  <!-- Sweet alert -->
  <script src="{% static 'js/plugins/sweetalert/sweetalert.min.js' %}"></script>

  <footer class="page-footer font-small blue">
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3"> Desarrollado por:
        <a href="http://springlabs.net/"> SpringLabs</a> &copy; 2019</a>
      </div>
  <!-- Copyright
      <div class="legal">
        <strong>Legal</strong>: Desarrollado por
        <a href="http://springlabs.net/" >SpringLabs</a> &copy; 2019
      </div>-->
</footer>
</body>
<!--TOP-->
<!--<div class="top">
<div class="topcont">
<div class="logo"><img src="{% static 'imgs/logo.png' %}"/> </div>


<div class="margen_top"></div>
<div class="main">
	<div class="mainr">
		<h1>Recuperar contraseña</h1>
		<p>Ingresa el correo electrónico asociado a tu cuenta.</p>

		<form method="post" class="m-t" role="form" enctype="multipart/form-data">
			{% csrf_token %}
			<label for="id_email">Correo:</label> {{ form.email }}
			<input type="submit" class="btn2" value="Enviar"/>
		</form>
		<p><a href="{% url 'index' %}" style="color: rgba(48,157,205,8.00);">Regresar</a></p>
		<div class="legal"><strong>Legal</strong>: Desarrollado por <a href="http://springlabs.net/" >SpringLabs</a> &copy; 2019 </div>
	</div>

</div>-->

<!-- Mainly scripts -->
  <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
  <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

  <!-- Custom and plugin javascript -->
  <script src="{% static 'js/inspinia.js' %}"></script>
  <script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>

  <!-- Sweet alert -->
  <script src="{% static 'js/plugins/sweetalert/sweetalert.min.js' %}"></script>


{% endblock %}
</html>
