@charset "UTF-8";
/* CSS Document */
@media screen and (max-width: 480px){
.top{
	width: 100%;
	height: 300px;
	background:rgba(48,157,205,8.00);
	position: relative;
}

.topcont
{
	width:100%;

}
.logo {
	position: relative;
}
.margen_top{
	width:100%;
	height: 15px;
	float: left;
}

.formulario1{
	width:100%;
	height:auto;
	position:relative !important;
	float:left;
}
.formulario1 p{
margin-left: 5%;
font-size:14px;
}
.form1_shoot {
	width:93%;
	margin-left: 5%;
	
}

.form2_shoot {
	width:93%;
	margin-left: 5%;
	
}

.main{
    width: 100%;
	margin:auto;
}
.mainl{
    width: 93%;
	margin:auto;
	float:left;
}

.mainl_card{
	width:120px;
	margin-right:10px;
	border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
	border: solid #CDCDCD 1px;
	background-color:#ffffff;
	verflow:hidden;
	float:left;
}

.mainl_card_img{
	width:120px;
	height:120px;
	border-radius: 5px 5px 0px 0px;
-moz-border-radius: 5px 5px 0px 0px;
-webkit-border-radius: 5px 5px 0px 0px;
	overflow:hidden;
}

.mainl_card_img img{
	width:100%;
}

.mainl_card_name{
	width:120px;
	line-height:2.5;
	text-align:center;
}

.mainr{
    width: 93%;
	margin:auto;
	float:left;
}
}