@charset "UTF-8";
/* CSS Document */


body
{background-color:#eaebef;
font-family: 'Dosis', sans-serif;
font-weight:400;
}

a {
	color:inherit;
	text-decoration:inherit;
}

a:hover {
	color:inherit;
	text-decoration:inherit;
}
.top{
	width: 100%;
	height: auto;
	background:rgba(48,157,205,8.00);
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 21;
}
.margen_top{
	width:100%;
	height: 115px;
	float: left;
}

.topcont
{
	width:900px;
	height:auto;
	margin: auto;
	position:relative;
}
.logo {
	max-width: 200px;
	height: auto;
	height: auto;
	padding-top: 0px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 14px;
	position: absolute;
}

.logo img{
	width: 100%;
	height:auto;
	margin-top: 15px;
}

.formulario1{
	width:450px;
	height:auto;
	position:absolute;
	right:0px;
}

.formulario1 p{
	font-size:10px;
	line-height:3;
	color:#ffffff;
}

.formulario1 p:hover{
	text-decoration: underline;
}

.form1_shoot {
	width:30%;
	margin-top:7px;
	float:left;
	color:#ffffff;
}

.form2_shoot {
	width:40%;
	margin-top:7px;
	float:left;
	color:#ffffff;
}
.btn1 {
	min-width: 25px;
	max-width:50px;
	padding:5px;
	background-color:rgba(4,87,145,1.00);
	border-radius: 2px 2px 2px 2px;
-moz-border-radius: 2px 2px 2px 2px;
-webkit-border-radius: 2px 2px 2px 2px;
text-align:center;
color:#fff;
}

.btn1:hover {
	background-color: rgba(8,58,94,1.00);	
}


.btn2 {
	min-width: 25px;
	max-width:90px;
	padding:5px;
	background-color:rgba(4,87,145,1.00);
	border-radius: 2px 2px 2px 2px;
-moz-border-radius: 2px 2px 2px 2px;
-webkit-border-radius: 2px 2px 2px 2px;
text-align:center;
color:#fff;
}

.btn2:hover {
	background-color: rgba(8,58,94,1.00);	
}


/*Formularios*/
input[type=text]{
    width: 90%;
    padding: 5px 5px;
    margin: 8px 0;
	background-color:#fff;
	border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
border: 1px solid #29abe2;
	color: #000;
}

input[type=email]{
    width: 90%;
    padding: 5px 5px;
    margin: 8px 0;
	background-color:#fff;
	border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
border: 1px solid #29abe2;
	color: #000;
}

input[type=password]{
    width: 90%;
    padding: 5px 5px;
    margin: 8px 0;
	background-color:#fff;
	border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
border: 1px solid #29abe2;
	color: #000;
}
/*MAIN*/

.main{
    width: 900px;
	margin:auto;
}
.mainl{
    width: 450px;
	margin:auto;
	float:left;
}

.mainl_card{
	width:130px;
	margin-right:10px;
	margin-bottom:20px;
	border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
	border: solid #CDCDCD 1px;
	background-color:#ffffff;
	verflow:hidden;
	float:left;
}

.mainl_card_img{
	width:130px;
	height:130px;
	border-radius: 5px 5px 0px 0px;
-moz-border-radius: 5px 5px 0px 0px;
-webkit-border-radius: 5px 5px 0px 0px;
	overflow:hidden;
}

.mainl_card_img img{
	width:100%;
}

.mainl_card_name{
	width:130px;
	line-height:2.5;
	text-align:center;
}

.mainr{
    width: 450px;
	margin:auto;
	float:left;
}
h1 {
	font-size:26px;
}


.legal {
	margin-top:20px;
	font-size:12px;
	color:#9F9F9F;
    
}