@charset "UTF-8";
/* CSS Document */
form{
	width: 98%;
	margin-left:1%;
}

select {
  width: 100%;
	height: 36px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color:rgba(244,244,244,1.00);
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 8px;
	margin-bottom: 3%;
	
}

td select  {
  width: 100%;
	height: 25px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
  background-color:rgba(244,244,244,1.00);
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 8px 8px 8px 8px;
	margin-bottom: 3%;
	
}

.shot_form1 form{
	width: 98%;
	margin-left:0%;
}


input[type=text] {
width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color:rgba(244,244,244,1.00);
  padding: 8px 8px 8px 8px;
	margin-bottom: 2%;
}

input[type=password] {
width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color:rgba(244,244,244,1.00);
  padding: 8px 8px 8px 8px;
  margin-bottom: 2%;
}

input[type=email] {
width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color:rgba(244,244,244,1.00);
  padding: 8px 8px 8px 8px;
	margin-bottom: 2%;
}

.shot_form1 input[type=date] {
width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color:rgba(244,244,244,1.00);
  padding: 6px 8px 6px 8px;
	margin-bottom: 3%;
}

.shot_form1 input[type=tel] {
width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color:rgba(244,244,244,1.00);
  padding: 8px 8px 8px 8px;
	margin-bottom: 2%;
}

.shot_form1 input[type=tel] {
width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color:rgba(244,244,244,1.00);
  padding: 8px 8px 8px 8px;
	margin-bottom: 2%;
}

.shot_form1 input[type=number] {
width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color:rgba(244,244,244,1.00);
  padding: 8px 8px 8px 8px;
	margin-bottom: 2%;
}

.shot_form3 input[type=date] {
width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color:rgba(244,244,244,1.00);
  padding:8px 8px 8px 8px;
	margin-bottom: 3%;
}

input[type=search] {
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 14px;
	background-color: rgba(244,244,244,1.00);
	background-image: url(../imgs/searchicon.png);
	    background-position: 10px 10px;
    background-repeat: no-repeat;
	padding-top: 8px;
	padding-right: 8px;
	padding-left: 40px;
	padding-bottom: 8px;
	margin-bottom: 2%;
	margin-left: 0px;
}


.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
	margin-bottom: 2%;
}


.upload-btn-wrapper input[type=file] {
  font-size: 30px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

input[type=file] {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: rgba(255,255,255,0.0);
  padding:8px 8px 8px 8px;
  margin-bottom: 3%;
  color: #ffffff;
}

$primary: #457d2c
$primary-light: #C3D443
$gray: #9A9999

.toggle {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}
.toggle:before {
  content: "";
  position: relative;
  top: 3px;
  left: 3px;
  width: 34px;
  height: 14px;
  display: block;
  background: #9A9999;
  border-radius: 8px;
  transition: background 0.2s ease;
}
.toggle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  display: block;
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
  transition: all 0.2s ease;
}
.toggle span:before {
  content: "";
  position: absolute;
  display: block;
  margin: -18px;
  width: 56px;
  height: 56px;
  background: rgba(69,125,44,0.50);
  border-radius: 50%;
  transform: scale(0);
  opacity: 1;
  pointer-events: none;
}

#cbx:checked + .toggle:before {
  background: #C3D443;
}
#cbx:checked + .toggle span {
  background: #457d2c;
  transform: translateX(20px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}
#cbx:checked + .toggle span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease;
}

.center {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 20px);
}


#cbx2:checked + .toggle:before {
  background: #C3D443;
}
#cbx2:checked + .toggle span {
  background: #457d2c;
  transform: translateX(20px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}
#cbx2:checked + .toggle span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease;
}

form{
  margin-bottom: 30px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #457d2c;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #C3D443;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.83);	
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0.83);	
}
::-webkit-scrollbar-track:active {
  background-color: rgba(0, 0, 0, 0.83);	
}
::-webkit-scrollbar-corner {
  background: transparent;
}

ul{
	list-style: none;
}

li{
	margin-left: 0px;
}


/* The container */
.cont_check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	line-height: 1.8;
}

/* Hide the browser's default checkbox */
.cont_check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.cont_check:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.cont_check input:checked ~ .checkmark {
  background-color: #457d2c;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.cont_check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.cont_check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
