@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: 'Smoolthanregular';
    src: url("Smoolthan Regular.otf");
    font-weight: normal;
    font-style: normal;
    font-strecht: condensed;
    unicode-range: "U+0-10FFFF";
}

@font-face {
    font-family: 'Smoolthanthin';
    src: url("Smoolthan Thin.otf");
    font-weight: normal;
    font-style: normal;
    font-strecht: condensed;
    unicode-range: "U+0-10FFFF";
}

body{
	margin: 0px;
	 background: url( "../imgs/bg1.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
	font-family: 'Smoolthan' !important;
	font-size: 14px;
	 color: #555;
}
.cover{
	width: 100%;
	height: auto;
	position: absolute;
}

img {
	border: 0px;
}

ol {
  color: #ccc;
  list-style-type: none !important;
	font-size: inherit;
}
.top_up{
	width: 100%;
	height: 95px;
	float: left;
	background-color: rgba(37,171,185,0.00);
}

.top_up2{
	width: 100%;
	height: 95px;
	float: left;
	background-color:;
}

.contenedormax{
	width: 100%;
}

.diagonal1{
	content: "";
    display: block;
    width: 120%;
    height: 500px;
    position: absolute;
    top: -80px;
    -webkit-transform: rotate(-187deg);
    transform: rotate(-187deg);
    z-index: 0;
    left: -10em;
	    background-color: rgba(37,171,185,0.70);
}

.contenedor1{
	width: 100%;
	min-height: 400px;
	position: relative;
	float: left;
	padding-bottom: 120px;
	
}

.contenedor_saito {
	width: 60%;
	position: absolute;
	right: 0px;
}

.contenedor_saito img{
	min-width: 90%;
	max-width: 600px;
	margin-left: 5%;
}

.contenedor_saito2 {
	width: 60%;
	position: absolute;
	right: 0px;
}

.contenedor_saito2 img{
	min-width: 90%;
	max-width: 600px;
	margin-left: 5%;
}

.contenedor_top{
	width: 30%;
	position: absolute;
	left: 0px;
	top: -15px;
}

.contenedor_top h1{
color: #ffffff;
font-size: 23px;
	line-height:1;
	margin-left: 20px;
	font-family: 'Smoolthan';
}


/*footer*/


.footer{
	width:100%;
	height: 35px;
	background-color: #757575;
	position: fixed;
	bottom: 0px;
	color:#404040;
	font-size: 12px;
	left: 0px;
	z-index: 20;
}
.footer p{
	color: #ffffff;
	font-size: 12px;
	line-height: 12px;
	margin: 10px 5px 5px 5px;
	font-family: 'Smoolthan';
	
}

.footer_mar{
	width:100%;
	height: 5px;
	float: left;
	padding-top: 150px;
	
}


.boot {
    width: 350px;
    height: 40px;
    background-color: #f93549;
    position: fixed;
    bottom: 35px;
    color: #404040;
    font-size: 12px;
    right: 25px;
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 0px solid #fff;
    border-top: 1px solid #fff;
    z-index: 18;
}
.boot:hover {
	background-color:#cf3339;
}

.boot p{
	color: #ffffff;
	line-height: 1;
	font-size: 13px;
	margin-top: 8px;
}
.boot img{
	margin-bottom: -4px;
	padding-left: 5px;
	font-family: 'Smoolthan';
}



/*formularios*/

input[type=submit], input[type=reset] {
    background-color: #1d7d82;
    border: none;
    color: white;
    padding-top: 12px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 12px;
    text-decoration: none;
    margin: 5px 0px;
    cursor: pointer;
    margin-right: 15px;
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
	font-size: 18px;
	font-family: 'Smoolthan' !important;
}

.btns {
	min-width: 30%;
	max-width: 30%;
	height: auto;
	margin-left: 35%;
	margin-right: 35%;
	position: relative;
}

.btn_btn{
	width: 100%;
    background-color: #d7384a;
    color: white;
	text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    text-decoration: none;
    margin: 5px 0px;
    cursor: pointer;
	border: 1px solid #ffffff;
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
	font-size: 18px;
	float: left;
	position: relative;
}
.btn_btn:hover {
	background-color: #961e2c;
}
input:hover[type=submit] {
    background-color: #d7384a;
}

input::placeholder {
  color:#C9C9C9;
	font-size: 15px;
	padding-left: 5px;
}



/*nuevos_form*/

.divform1 input[type=email]{
    width: 80%;
height: 17px;
    padding: 10px 15px;
    margin: 8px 0;
	background-color:#fff;
	float: left;
	border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
border: 1px solid #25abb9;
	color: #000;
	float: left;
}

.divform1 input[type=password]{
    width: 80%;
height: 17px;
    padding: 10px 15px;
    margin: 8px 0;
	background-color:#fff;
	float: left;
	border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
border: 1px solid #25abb9;
	color: #000;
	float: left;
}

.divform1 input[type=text]{
    width: 80%;
height: 17px;
    padding: 10px 15px;
    margin: 8px 0;
	background-color:#fff;
	float: left;
	border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
border: 1px solid #25abb9;
	color: #000;
	float: left;
}


.divform1{
	min-width: 120px;
	min-height:20px; 
	float: left;
	margin-right: 15px;
	margin-top: 10px;
	margin-left: 35px;
}

.divform1 ul{
	list-style: none;
	width: 100%;
	margin-top: 8px;
}

.divform1 ul li {
	padding: 10px 15px;
	color:inherit;
	text-decoration: none;
	text-transform:;
	background-color: inherit;
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border: 1px solid #25abb9;
	float: left;
	margin-right: 15px;
}


.divform1  li img {
		width: 18px;
		height: auto;
	margin-left: 3px;
	margin-bottom: -5px;
    }
a{
	text-transform: none;
	text-decoration: inherit;
}
.cont_logs{
	width:100%;
	height: auto;
	float: left;
	margin-top: 90px;
}
.logs{
width: 46%;
	margin-left: 27%;
	min-height:300px;
	margin-top: 50px;
	background-color: rgba(37,171,185,0.40);
	border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
	border: 1px solid #25abb9;
	padding-bottom: 30px;
	-webkit-box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.75);
box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.75);
}

.logs h1{
	text-align: center;
	padding: 8px;
	font-size: 28px;
}

.logs p{
	text-align: center;
	padding: 0px;
	font-size: 18px;
}

.logsin{
  width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	float: left;
	margin-bottom: 15px;
}
.logsin input[type=email]{
   width: 80%;
	margin-left: 10%;
	margin-right: 10%;
height: 40px;
	background-color:#fff;
	float: left;
	border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
border: 1px solid #25abb9;
	color: #000;
	float: left;
}

.logsin input[type=password]{
  width: 80%;
	margin-left: 10%;
	margin-right: 10%;
height: 40px;
	background-color:#fff;
	float: left;
	border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
border: 1px solid #25abb9;
	color: #000;
	float: left;
}

.logsin input[type=text]{
   width: 80%;
	margin-left: 10%;
	margin-right: 10%;
height: 40px;
	background-color:#fff;
	float: left;
	border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
border: 1px solid #25abb9;
	color: #000;
	float: left;
}
