@charset "UTF-8";
/* CSS Document */

@media screen and (max-width: 768px) {
	
	.divform1{
		width: 80px;;
	
	}
	.divform1 ul{
		margin-left: -20px;
	}
.divform1 ul li{
		padding: 10px 2px;
	}	
	    
}


@media screen and (max-width: 480px) {
	body{
	margin: 0px;
	 background: url( "../imgs/bg2.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
	.top{
		min-height:400px;
	}
	.cont_logs{
		margin-top: 420px;
		margin-bottom: 85px;
	}
	.logo{
		max-width: 80% !important;
		min-width: 80%;
		margin-left: 10%;
		
	}
	
	.logo img{
		width: 80% !important;
		margin-left: 10%;
		
	}
	.logs{
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
}
	.divform1{
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}
	
	.divform1 ul{
		margin-left: -40px;
	}
	
	.divform1 input[type=email]{
		width: 95%;
	}
	
	.divform1 input[type=password]{
		width: 95%;
	}

	.divform1 input[type=text]{
		width: 95%;
	}
	
	.logsin input[type=email]{
		width: 100%;
		margin-left: 0%;
	}
	
	.logsin input[type=password]{
		width: 100%;
		margin-left: 0%;
	}

	.logsin input[type=text]{
		width: 100%;
		margin-left: 0%;
	}
}

@media screen and (max-width: 320px){
	
	body{
	margin: 0px;
	 background: url( "../imgs/bg2.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
	.logs{
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
}
		}
