

a{
	color: inherit !important;
}

.top{
	width: 100%;
	height: 75px;
background: rgba(255,255,255,0.80);
	top:0px;
	left: 0px;
	position: absolute;
	border-top: #25abb9 8px solid;
	-webkit-box-shadow: 0px 4px 7px 2px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 4px 7px 2px rgba(0,0,0,0.31);
box-shadow: 0px 4px 7px 2px rgba(0,0,0,0.31);
	 transition-property: opacity, left, top, height;
  transition-duration: 3s, 5s, 3s, 5s;
}
.margen_top{
	width:100%;
	height: 75px;
	float: left;
}
.logo {
	max-width: 200px;
	height: auto;
	height: auto;
	padding-top: 0px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 14px;
	position: absolute;
}

.logo img{
	width: 90%;
	height:auto;
	margin-top: 0px;
}


.containermenu {
	position: absolute;
    min-width: 500px;
    max-width: 1050px;
 right: 15px;
}
.toggleMenu {
    display:  none;
    padding: 10px 15px;
    color: #fff;
}
.nav {
	margin-top: 15px;
    list-style: none;
     *zoom: 1;
     background: rgba(0,0,0,0.0);
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
    width: 9em;
}
.nav a {
    padding: 10px 15px;
    color:#fff;
}
.nav li {
    position: relative;
}

/*menu*/
.nav > li {
    float: left;
	margin: 3px;
	color: #25abb9;
	text-decoration: none;
	font-size: 14px;
	border: #25abb9 1px solid;
	border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
}

.nav > li a {
    
	color:inherit;
	text-decoration: none;
	text-transform:;
	background-color: inherit;
	border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
}

.nav > li a:hover {
    
	color:#ffffff;
	text-decoration: none;
	background-color: rgba(37,171,185,0.40) !important;
	border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
	}

.nav > li > .parent {
    background-image: url("images/downArrow.png");
    background-repeat: no-repeat;
    background-position: right;
}
.nav > li > a {
    display: block;
}
.nav > li > a:hover {
	color: #ffffff !important;
}

.nav > li > a > img {
		width: 18px;
		height: auto;
	margin-left: 3px;
	margin-bottom: -5px;
    }
.nav li  ul {
    position: absolute;
    left: -9999px;
}
.nav > li.hover > ul {
    left: 0;
}
.nav li li.hover ul {
    left: 100%;
    top: 0;
}

/*submenu*/
.nav li li a {
    display: block;
    background-color:rgba(33,33,33,1.00) !important;
    position: relative;
    z-index:100;
    border: 1px solid #000;
	margin-top: 5px;
	border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
}

.nav li li a:hover {
	color: rgba(246,222,50,1.00);
	background-color:rgba(33,33,33,0.80) !important ;
}

/*sub-submenu*/
.nav li li li a {
    background:rgba(55,54,54,1.00);
    z-index:200;
    border-top: 1px solid rgba(25,25,25,1.00);
	margin-left: 3px;
	min-width: 160px;
}

@media screen and (max-width: 766px) {
	.container {
	position: relative;
    min-width: 100%;
    right: 0px;
		background-color: rgba(0,0,0,.8);
		z-index: 0;
		
}
	
	.containermenu {
	position: absolute;
	min-width: 100%;
 right: 0px;
}
	
	.contmenu{
		float:left;
	}
	.toggleMenu {
    display:block;
		position: absolute;
		right: 10px;
    padding: 10px 15px;
    color: #fff;
}
    .active {
        display: block;
    }
	
	.nav {
		margin-top: 75px;
		position: absolute;
		background-color: rgba(0,0,0,0.70);
		width: 100%;
		min-height: 900px;
		right: 0px;
}
    .nav > li {
	float: none;
	background-color: rgba(0,0,0,0.40);
		border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
    }
	
	
    .nav > li > .parent {
        background-position: 95% 50%;
    }
    .nav li li .parent {
        background-image: url("images/downArrow.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    .nav ul {
        display: block;
        width: 100%;
    }
   .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }
	
	.nav li li li a {
    background:#696969 !important;
    z-index:200;
    border-top: 1px solid rgba(25,25,25,1.00);
	margin-left: 3px;
	min-width: 160px;
		margin-top: 3px !important;
}
}

@media screen and (max-width: 480px) {
	.container {
	position: relative;
    min-width: 100%;
    right: 0px;
		background-color: rgba(0,0,0,.8);
		z-index: 0;
		
}
	
	.containermenu {
	position: absolute;
	min-width: 90%;
 right: 5%;
		top: 90px;
}
	
	.contmenu{
		float:left;
		width: 100%;
	}
	.toggleMenu {
    display:block;
		position: absolute;
		right: 10px;
    padding: 10px 15px;
    color: #fff;
}
    .active {
        display: block;
    }
	
	.nav {
		margin-top: 75px;
		position: absolute;
		background-color: rgba(0,0,0,0.70);
		width: 100%;
		min-height: 900px;
		right: 0px;
}
    .nav > li {
	float: none;
	background-color: rgba(0,0,0,0.40);
		border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
    }
	
	
    .nav > li > .parent {
        background-position: 95% 50%;
    }
    .nav li li .parent {
        background-image: url("images/downArrow.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    .nav ul {
        display: block;
        width: 100%;
    }
   .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }
	
	.nav li li li a {
    background:#696969 !important;
    z-index:200;
    border-top: 1px solid rgba(25,25,25,1.00);
	margin-left: 3px;
	min-width: 160px;
		margin-top: 3px !important;
}
}