{% extends 'tags/empty_page.html' %}
{% load staticfiles %}
{% load querys %}

{% block head %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>

        {% if datos_empresa.nombre_empresa == None %}
          Dashboard | Bienvenido
        {% else %}
          {{datos_empresa.nombre_empresa}} | Bienvenido
        {% endif %}

    </title>
<link rel="icon" type="image/png" href="{% static 'img/icono-springlabs.png' %}" />

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/iCheck/custom.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/chosen/bootstrap-chosen.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/colorpicker/bootstrap-colorpicker.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/cropper/cropper.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/switchery/switchery.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/jasny/jasny-bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/nouslider/jquery.nouislider.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/datapicker/datepicker3.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/ionRangeSlider/ion.rangeSlider.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/clockpicker/clockpicker.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/daterangepicker/daterangepicker-bs3.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/select2/select2.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/touchspin/jquery.bootstrap-touchspin.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/dualListbox/bootstrap-duallistbox.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/animate.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/blueimp/css/blueimp-gallery.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/estilos_menu.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>


{% endblock head %}

{% block js %}
    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{% static 'js/inspinia.js' %}"></script>
    <script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
    <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

    <!-- Chosen -->
    <script src="{% static 'js/plugins/chosen/chosen.jquery.js' %}"></script>

   <!-- JSKnob -->
   <script src="{% static 'js/plugins/jsKnob/jquery.knob.js' %}"></script>

   <!-- Input Mask-->
    <script src="{% static 'js/plugins/jasny/jasny-bootstrap.min.js' %}"></script>

   <!-- Data picker -->
   <script src="{% static 'js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>

   <!-- NouSlider -->
   <script src="{% static 'js/plugins/nouslider/jquery.nouislider.min.js' %}"></script>

   <!-- Switchery -->
   <script src="{% static 'js/plugins/switchery/switchery.js' %}"></script>

    <!-- IonRangeSlider -->
    <script src="{% static 'js/plugins/ionRangeSlider/ion.rangeSlider.min.js' %}"></script>

    <!-- iCheck -->
    <script src="{% static 'js/plugins/iCheck/icheck.min.js' %}"></script>

    <!-- MENU -->
    <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>

    <!-- Color picker -->
    <script src="{% static 'js/plugins/colorpicker/bootstrap-colorpicker.min.js' %}"></script>

    <!-- Clock picker -->
    <script src="{% static 'js/plugins/clockpicker/clockpicker.js' %}"></script>

    <!-- Image cropper -->
    <script src="{% static 'js/plugins/cropper/cropper.min.js' %}"></script>

    <!-- Date range use moment.js same as full calendar plugin -->
    <script src="{% static 'js/plugins/fullcalendar/moment.min.js' %}"></script>

    <!-- Date range picker -->
    <script src="{% static 'js/plugins/daterangepicker/daterangepicker.js' %}"></script>

    <!-- Select2 -->
    <script src="{% static 'js/plugins/select2/select2.full.min.js' %}"></script>

    <!-- TouchSpin -->
    <script src="{% static 'js/plugins/touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>

    <!-- Tags Input -->
    <script src="{% static 'js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script>

    <!-- Dual Listbox -->
    <script src="{% static 'js/plugins/dualListbox/jquery.bootstrap-duallistbox.js' %}"></script>

    <!-- blueimp gallery -->
    <script src="{% static 'js/plugins/blueimp/jquery.blueimp-gallery.min.js' %}"></script>


    <script src="{% static 'js/plugins/dataTables/datatables.min.js' %}"></script>

    <link href="{% static 'css/plugins/dataTables/datatables.min.css' %}" rel="stylesheet">

    <!--Morris-->

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">

    <script src="{% static 'js/plugins/morris/raphael-2.1.0.min.js' %}"></script>

    <script src="{% static 'js/plugins/morris/morris.js' %}"></script>

{% endblock js %}
{% block scripts %}
    <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                pageLength: 25,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy'},
                    {extend: 'csv'},
                    {extend: 'excel', title: 'ExampleFile'},
                    {extend: 'pdf', title: 'ExampleFile'},

                    {extend: 'print',
                     customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');

                    }
                    }
                ]
            });
        });
    </script>
{% endblock scripts %}
{% block contenido_header %}
<div class="row wrapper white-bg page-heading">
    <div class="col-sm-4">
        <h2><img alt="image" height="50" src="{{cliente.logotipo.url}}" /></h2>
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'home' %}">Inicio</a>
            </li>
            <li class="active">
                <a href=""><strong>Preguntas Frecuentes</strong></a>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <h2><strong>{{cliente.nombre_cliente}}</strong></h2>
        </div>
    </div>
</div>
{% endblock contenido_header %}
{% block contenido %}
  <div id="wrapper">
          <div class="row">
              <div class="col-lg-1"></div>
              <div class="col-lg-10">
                <div class="ibox-content content-grafica">
                  <h3 class="text-titulo">Preguntas frecuentes</h3>
                  <div class="wrapper wrapper-content animated fadeInRight">
                      <div class="faq-item">
                          <div class="row">
                              <div class="col-md-7">
                                  <a data-toggle="collapse" href="#faq1" class="faq-question">¿Cuántos bots puedo tener en el dashboard?</a>
                              </div>
                              <div class="col-md-3">
                                  <div class="tag-list">
                                      <span class="tag-item">General</span>
                                      <span class="tag-item">Bots</span>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-12">
                                  <div id="faq1" class="panel-collapse collapse">
                                      <div class="faq-answer">
                                          <p>
                                          Puedes tener cuantos bots hayas adquirido y cuenten con más de 15 intenciones.
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- Pregunta 2-->
                      <div class="faq-item">
                          <div class="row">
                              <div class="col-md-7">
                                  <a data-toggle="collapse" href="#faq2" class="faq-question">¿Para qué sirve el dashboard?</a>
                              </div>
                              <div class="col-md-3">
                                  <div class="tag-list">
                                      <span class="tag-item">General</span>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-12">
                                  <div id="faq2" class="panel-collapse collapse">
                                      <div class="faq-answer">
                                          <p>
                                            Sirve para llevar un registro detallado de las interacciones de cada uno de los bots así como de los empleados encargados de darles
                                            mantenimiento.
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!--Pregunta 3-->
                      <div class="faq-item">
                          <div class="row">
                              <div class="col-md-7">
                                <a data-toggle="collapse" href="#faq3" class="faq-question">¿Cómo puedo ingresar al dashboard si no tengo un bot?</a>
                              </div>
                              <div class="col-md-3">
                                  <div class="tag-list">
                                      <span class="tag-item">General</span>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-12">
                                  <div id="faq3" class="panel-collapse collapse">
                                      <div class="faq-answer">
                                          <p>
                                              No podrás acceder si no posees un bot. Ponte en contacto con nosotros para tener mayor información.
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!--pregunta 4-->
                      <div class="faq-item">
                          <div class="row">
                              <div class="col-md-7">
                                  <a data-toggle="collapse" href="#faq4" class="faq-question">¿Cuantos empleados puedo agregar ?</a>
                              </div>
                              <div class="col-md-3">
                                  <div class="tag-list">
                                      <span class="tag-item">General</span>
                                      <span class="tag-item">Perfil</span>
                                      <span class="tag-item">Importante</span>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-12">
                                  <div id="faq4" class="panel-collapse collapse">
                                      <div class="faq-answer">
                                          <p>
                                              No hay un limite de empleados registrados solo ten en cuenta que no es
                                              necesario registrar tantas personas
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!--pregunta 5-->
                      <div class="faq-item">
                          <div class="row">
                              <div class="col-md-7">
                                  <a data-toggle="collapse" href="#faq5" class="faq-question">¿Qué pasa si nadie utiliza el bot?</a>
                              </div>
                              <div class="col-md-3">
                                  <div class="tag-list">
                                      <span class="tag-item">General</span>
                                      <span class="tag-item">Importante</span>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-12">
                                  <div id="faq5" class="panel-collapse collapse">
                                      <div class="faq-answer">
                                          <p>
                                              Tu bot seguirá registrado; cuando vuelvas interactuar la información se mostrará nuevamente.
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!--pregunta 6-->
                      <div class="faq-item">
                          <div class="row">
                              <div class="col-md-7">
                                  <a data-toggle="collapse" href="#faq6" class="faq-question">¿Qué información contiene las gráficas?</a>
                              </div>
                              <div class="col-md-3">
                                  <div class="tag-list">
                                      <span class="tag-item">General</span>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-12">
                                  <div id="faq6" class="panel-collapse collapse">
                                      <div class="faq-answer">
                                          <p>
                                              Las gráficas muestran información registrada y ordenada según el título.
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!--Pregunta 7-->
                      <div class="faq-item">
                          <div class="row">
                              <div class="col-md-7">
                                  <a data-toggle="collapse" href="#faq7" class="faq-question">¿Cómo puedo cambiar mi contraseña?</a>
                              </div>
                              <div class="col-md-3">
                                  <div class="tag-list">
                                      <span class="tag-item">General</span>
                                      <span class="tag-item">Perfil</span>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-12">
                                  <div id="faq7" class="panel-collapse collapse">
                                      <div class="faq-answer">
                                          <p>
                                              Ingresa al área de “Iniciar sesión”; Una vez ahí da click en “Olvidé mi contraseña”;
                                              llena el formulario con los datos solicitados, y listo.
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!--pregunta 8-->
                      <div class="faq-item">
                          <div class="row">
                              <div class="col-md-7">
                                  <a data-toggle="collapse" href="#faq8" class="faq-question">¿Cómo puedo modificar mi perfil?</a>
                              </div>
                              <div class="col-md-3">
                                  <div class="tag-list">
                                      <span class="tag-item">General</span>
                                      <span class="tag-item">Perfil</span>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-12">
                                  <div id="faq8" class="panel-collapse collapse">
                                      <div class="faq-answer">
                                          <p>
                                              En el menú izquierdo selecciona “Perfil”, ahí podrás modificar la información que desees.
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!--pregunta 9-->
                      <div class="faq-item">
                          <div class="row">
                              <div class="col-md-7">
                                  <a data-toggle="collapse" href="#faq9" class="faq-question">¿Dónde puedo comprar un bot?</a>
                              </div>
                              <div class="col-md-3">
                                  <div class="tag-list">
                                      <span class="tag-item">General</span>
                                      <span class="tag-item">compras</span>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-12">
                                  <div id="faq9" class="panel-collapse collapse">
                                      <div class="faq-answer">
                                          <p>
                                              En nuestra página web, SpringLabsBots, o a través de nuestros teléfonos.
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- pregunta 10-->
                      <div class="faq-item">
                          <div class="row">
                              <div class="col-md-7">
                                  <a data-toggle="collapse" href="#faq10" class="faq-question">¿Cómo cierro sesión?</a>
                              </div>
                              <div class="col-md-3">
                                  <div class="tag-list">
                                      <span class="tag-item">General</span>
                                      <span class="tag-item">Perfil</span>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-12">
                                  <div id="faq10" class="panel-collapse collapse">
                                      <div class="faq-answer">
                                          <p>
                                              Dirígete a la parte superior derecha, ahí encontrarás un ícono de salida junto a la viñeta “Salir”.
                                              Da click y eso es todo.
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- Pregunta 11-->
                      <div class="faq-item">
                          <div class="row">
                              <div class="col-md-7">
                                  <a data-toggle="collapse" href="#faq11" class="faq-question">¿Qué hago si el dashboard dejó de funcionar?</a>
                              </div>
                              <div class="col-md-3">
                                  <div class="tag-list">
                                      <span class="tag-item">General</span>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-12">
                                  <div id="faq11" class="panel-collapse collapse">
                                      <div class="faq-answer">
                                          <p>
                                            Ponte en contacto con nosotros para que podamos hacer un diagnóstico y ofrecerte una solución.
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
  <!-- Mainly scripts -->
  <script src="js/jquery-3.1.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
  <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

  <!-- Custom and plugin javascript -->
  <script src="js/inspinia.js"></script>
  <script src="js/plugins/pace/pace.min.js"></script>


{% endblock contenido %}
