{% extends 'tags/empty_page.html' %}
{% load staticfiles %}
{% load querys %}

{% block head %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>

        {% if datos_empresa.nombre_empresa == None %}
          Dashboard | Bienvenido
        {% else %}
          {{datos_empresa.nombre_empresa}} | Bienvenido
        {% endif %}

    </title>
<link rel="icon" type="image/png" href="{% static 'img/icono-springlabs.png' %}" />

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/iCheck/custom.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/chosen/bootstrap-chosen.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/colorpicker/bootstrap-colorpicker.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/cropper/cropper.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/switchery/switchery.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/jasny/jasny-bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/nouslider/jquery.nouislider.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/datapicker/datepicker3.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/ionRangeSlider/ion.rangeSlider.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/clockpicker/clockpicker.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/daterangepicker/daterangepicker-bs3.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/select2/select2.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/touchspin/jquery.bootstrap-touchspin.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/dualListbox/bootstrap-duallistbox.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/animate.css' %}" rel="stylesheet">

    <link href="{% static 'css/formularios.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/blueimp/css/blueimp-gallery.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/steps/jquery.steps.css' %}" rel="stylesheet">

    <link href="{% static 'css/estilos_menu.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>

{% endblock head %}

{% block js %}
    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{% static 'js/inspinia.js' %}"></script>
    <script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
    <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

    <!-- Chosen -->
    <script src="{% static 'js/plugins/chosen/chosen.jquery.js' %}"></script>

   <!-- JSKnob -->
   <script src="{% static 'js/plugins/jsKnob/jquery.knob.js' %}"></script>

   <!-- Input Mask-->
    <script src="{% static 'js/plugins/jasny/jasny-bootstrap.min.js' %}"></script>

   <!-- Data picker -->
   <script src="{% static 'js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>

   <!-- NouSlider -->
   <script src="{% static 'js/plugins/nouslider/jquery.nouislider.min.js' %}"></script>

   <!-- Switchery -->
   <script src="{% static 'js/plugins/switchery/switchery.js' %}"></script>

    <!-- IonRangeSlider -->
    <script src="{% static 'js/plugins/ionRangeSlider/ion.rangeSlider.min.js' %}"></script>

    <!-- iCheck -->
    <script src="{% static 'js/plugins/iCheck/icheck.min.js' %}"></script>

    <!-- MENU -->
    <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>

    <!-- Color picker -->
    <script src="{% static 'js/plugins/colorpicker/bootstrap-colorpicker.min.js' %}"></script>

    <!-- Clock picker -->
    <script src="{% static 'js/plugins/clockpicker/clockpicker.js' %}"></script>

    <!-- Image cropper -->
    <script src="{% static 'js/plugins/cropper/cropper.min.js' %}"></script>

    <!-- Date range use moment.js same as full calendar plugin -->
    <script src="{% static 'js/plugins/fullcalendar/moment.min.js' %}"></script>

    <!-- Date range picker -->
    <script src="{% static 'js/plugins/daterangepicker/daterangepicker.js' %}"></script>

    <!-- Select2 -->
    <script src="{% static 'js/plugins/select2/select2.full.min.js' %}"></script>

    <!-- TouchSpin -->
    <script src="{% static 'js/plugins/touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>

    <!-- Tags Input -->
    <script src="{% static 'js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script>

    <!-- Dual Listbox -->
    <script src="{% static 'js/plugins/dualListbox/jquery.bootstrap-duallistbox.js' %}"></script>

    <!-- blueimp gallery -->
    <script src="{% static 'js/plugins/blueimp/jquery.blueimp-gallery.min.js' %}"></script>


    <script src="{% static 'js/plugins/dataTables/datatables.min.js' %}"></script>

    <!-- Morris -->
    <link href="{% static 'css/plugins/morris/morris-0.4.3.min.css' %}" rel="stylesheet">
    <!--
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">-->

    <!-- Morris demo data-->
    <script src="{% static 'js/demo/morris-demo.js' %}"></script>

    <!-- Morris -->
    <script src="{% static 'js/plugins/morris/raphael-2.1.0.min.js' %}"></script>
    <script src="{% static 'js/plugins/morris/morris.js' %}"></script>


    <!-- Steps -->
    <script src="{% static 'js/plugins/steps/jquery.steps.min.js' %}"></script>

    <!-- Jquery Validate -->
    <script src="{% static 'js/plugins/validate/jquery.validate.min.js' %}"></script>


    <link href="{% static 'css/plugins/dataTables/datatables.min.css' %}" rel="stylesheet">

{% endblock js %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                pageLength: 25,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy'},
                    {extend: 'csv'},
                    {extend: 'excel', title: 'ExampleFile'},
                    {extend: 'pdf', title: 'ExampleFile'},

                    {extend: 'print',
                     customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                    }
                    }
                ]

            });

        });
    </script>
    <script>
    $(document).ready(function(){
            $("#wizard").steps();
            $("#form").steps({
                bodyTag: "fieldset",
                onStepChanging: function (event, currentIndex, newIndex)
                {
                    // Always allow going backward even if the current step contains invalid fields!
                    if (currentIndex > newIndex)
                    {
                        return true;
                    }

                    // Forbid suppressing "Warning" step if the user is to young
                    if (newIndex === 3 && Number($("#age").val()) < 18)
                    {
                        return false;
                    }

                    var form = $(this);

                    // Clean up if user went backward before
                    if (currentIndex < newIndex)
                    {
                        // To remove error styles
                        $(".body:eq(" + newIndex + ") label.error", form).remove();
                        $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                    }

                    // Disable validation on fields that are disabled or hidden.
                    form.validate().settings.ignore = ":disabled,:hidden";

                    // Start validation; Prevent going forward if false
                    return form.valid();
                },
                onStepChanged: function (event, currentIndex, priorIndex)
                {
                    // Suppress (skip) "Warning" step if the user is old enough.
                    if (currentIndex === 2 && Number($("#age").val()) >= 18)
                    {
                        $(this).steps("next");
                    }

                    // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                    if (currentIndex === 2 && priorIndex === 3)
                    {
                        $(this).steps("previous");
                    }
                },
                onFinishing: function (event, currentIndex)
                {
                    var form = $(this);

                    // Disable validation on fields that are disabled.
                    // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                    form.validate().settings.ignore = ":disabled";

                    // Start validation; Prevent form submission if false
                    return form.valid();
                },
                onFinished: function (event, currentIndex)
                {
                    var form = $(this);

                    // Submit form input
                    form.submit();
                }
            }).validate({
                        errorPlacement: function (error, element)
                        {
                            element.before(error);
                        },
                        rules: {
                            confirm: {
                                equalTo: "#password"
                            }
                        }
                    });
       });
   </script>

    <script>
        $(document).ready(function(){
            validate();
            $("#my-btn").click(function() {
              validate();
            });
            //validate();
        });

        /*
        Funcion encargada de mostrar mensajes de error
        */
        function validate() {
            let apellido_paterno = $.trim($('#id_apellido_paterno').val());
            let apellido_materno = $.trim($('#id_apellido_materno').val());
            let tlf  = $('#id_tlf').val();
            let edad = $('#id_edad').val();

            
            $("#alertas").show();
            if (apellido_paterno.length == 0) {
                location.href ="https://e4cf1155.ngrok.io/home";
                $("#alertas").attr("class","alert alert-warning");
                location.href ="https://e4cf1155.ngrok.io/home" ;
                $("#info-detect").text("Procesando...").show();
            }else if (apellido_materno.length == 0) {
                $("#alertas").attr("class","alert alert-warning");
                $("#info-detect").text("Procesando...").show();
            }else if($.isNumeric(edad) == false){
                $("#alertas").attr("class","alert alert-danger");
                $("#info-detect").text("¡Error!, La edad debe ser un número mayor a 17 y menor o igual 100.").show();
            }else{
                $("#alertas").hide();
                $("#info-detect").hide();
            }

        }
        /*End validate function*/
    </script>


{% endblock scripts %}

{% block contenido_header %}
    <div class="row wrapper page-heading">
        <div class="col-sm-4">
            <h2><img alt="image" height="50" src="{{cliente.logotipo.url}}" /></h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{% url 'home' %}">Inicio</a>
                </li>
                <li class="active">
                    <a href=""><strong>Modificar perfil</strong></a>
                </li>
            </ol>
        </div>
    </div>
{% endblock contenido_header %}

{% block contenido %}

        <div class="wrapper wrapper-content">
            <div class="row animated fadeInRight">
                {% if estado == 1 %}
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert"></button>
                        <strong>Se modificaron los datos de {{usuarioExt.user}} exitosamente</strong>
                    </div>
                {%endif%}
                <div class="col-md-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title text-blanco">
                            <h5>Detalles de Perfil</h5>
                        </div>
                        <div>
                            <div class="ibox-content no-padding border-left-right">
                                {% if usuarioExt.foto %}
                                    <img alt="image" width="100%" class="img-responsive" src="{{usuarioExt.foto.url}}">
                                {% else %}
                                    <img alt="image" width="100%" class="img-responsive" src="{% static 'img/NO-IMAGE-AVAILABLE-300x300.png' %}" />
                                {% endif %}
                                <a data-toggle="modal" class="btn btn-primary" href="#modal-form">Modificar Imagen</a>
                            </div>
                                <div id="modal-form" class="modal fade" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content content-grafica">
                                            <div class="modal-body">
                                                <!--Aqui comienza form-->
                                                <div class="ibox-content">
                                                    <form class="form-horizontal" method="post" role="form" action="" enctype="multipart/form-data">
                                                        <div class="form-group">
                                                            {% csrf_token %}
                                                            {{ imagen.as_p }}
                                                            <div class="col-md-6">
                                                                <a href="{% url 'modificar_perfil' usuarioExt.user_id%}">
                                                                    <button type="submit" class="btn btn-primary btn-sm btn-block"><i class="fa fa-save (alias)"></i> Guardar</button>
                                                                </a>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <a href="{% url 'modificar_perfil' usuarioExt.user_id%}" style="color:#000;">
                                                                    <button type="button" class="btn btn-default btn-sm btn-block"><i class="fa fa-times"></i>Cancelar</button>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            <div class="ibox-content profile-content">
                                <h4><strong>{{usuarioExt}}</strong></h4>
                                <p><i class="fa fa-id-card"></i> {{usuarioExt.user_id}}</p>
                                <p><i class="fa fa-envelope-open"></i> {{usuarioExt.user.email}}</p>
                                <h5>
                                    Empresa:
                                </h5>
                                <p>
                                    {{usuarioExt.cliente}}
                                </p>

                                <div class="row m-t-lg">
                                    <div class="col-md-4">
                                        <h5><strong>Nombre</strong></h5>
                                        <span class="bar">{{usuarioExt.user.first_name}}</span>
                                    </div>
                                    <div class="col-md-4">
                                        <h5><strong>Ap. Paterno</strong></h5>
                                        <span class="line">{{usuarioExt.apellido_paterno}}</span>
                                    </div>
                                    <div class="col-md-4">
                                        <h5><strong>Ap. Materno</strong></h5>
                                        <span class="bar">{{usuarioExt.apellido_materno}}</span>
                                    </div>
                                </div><br>
                                <a data-toggle="modal" class="btn btn-primary" href="#modal-form1">Modificar Contraseña</a>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="col-md-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title text-blanco">
                    <h5>Modificar perfil</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" id="" method="post" role="form" action="" enctype="multipart/form-data">
                        <div class="form-group">
                            <div id="alertas" class="alert" role="alert">
                                <span id="info-detect" style="font-size: 20px;"></span>
                            </div>

                            {% csrf_token %}
                            {{ perfil.as_p }}
                            <div class="col-md-6" >
                            <a href="{% url 'modificar_perfil' usuarioExt.user_id%}" style="color:#000;">
                                <button type="submit" id="my-btn" class="btn btn-primary btn-sm btn-block"><i class="fa fa-save (alias)"></i> Guardar</button>
                            </div>
                            <div class="col-md-6">
                                <a href="{% url 'modificar_perfil' usuarioExt.user_id%}" style="color:#000;">
                                    <button type="button" class="btn btn-default btn-sm btn-block"><i class="fa fa-times"></i>Cancelar</button>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content content-grafica">
            <div class="modal-body">
                <!--Aqui comienza form-->
                <div class="ibox-content">
                    <form class="form-horizontal" method="post" role="form" action="" enctype="multipart/form-data">
                        <div class="form-group">
                            {% csrf_token %}
                            {{ imagen.as_p }}
                            <div class="col-md-6">
                                <a href="{% url 'modificar_perfil' usuarioExt.user_id%}">
                                    <button type="submit" class="btn btn-primary btn-sm btn-block"><i class="fa fa-save (alias)"></i> Guardar</button>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="{% url 'modificar_perfil' usuarioExt.user_id%}" style="color:#000;">
                                    <button type="button" class="btn btn-default btn-sm btn-block"><i class="fa fa-times"></i>Cancelar</button>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="modal-form1" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content content-grafica">
            <div class="modal-body">
                <div class="ibox-content">
                    <h2>
                        Modificar contraseña
                    </h2>
                    <form id="form" action="" class="wizard-big" method="post" role="form" enctype="multipart/form-data">
                        <h1>Contraseña</h1>
                        <fieldset>
                            <h2>Modificar contraseña</h2>
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="form-group">
                                        {% csrf_token %}
                                        {{ usuarioDjango.as_p }}
                                        
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}

