{% extends 'tags/empty_page.html' %}
{% load staticfiles %}
{% load querys %}

{% block head %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>

        {% if datos_empresa.nombre_empresa == None %}
          Dashboard | Bienvenido
        {% else %}
          {{datos_empresa.nombre_empresa}} | Bienvenido
        {% endif %}

    </title>
<link rel="icon" type="image/png" href="{% static 'img/icono-springlabs.png' %}" />

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/iCheck/custom.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/chosen/bootstrap-chosen.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/colorpicker/bootstrap-colorpicker.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/cropper/cropper.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/switchery/switchery.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/jasny/jasny-bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/nouslider/jquery.nouislider.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/datapicker/datepicker3.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/ionRangeSlider/ion.rangeSlider.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/clockpicker/clockpicker.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/daterangepicker/daterangepicker-bs3.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/select2/select2.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/touchspin/jquery.bootstrap-touchspin.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/dualListbox/bootstrap-duallistbox.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/animate.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/blueimp/css/blueimp-gallery.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/estilos_menu.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>


{% endblock head %}

{% block js %}
    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{% static 'js/inspinia.js' %}"></script>
    <script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
    <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

    <!-- Chosen -->
    <script src="{% static 'js/plugins/chosen/chosen.jquery.js' %}"></script>

   <!-- JSKnob -->
   <script src="{% static 'js/plugins/jsKnob/jquery.knob.js' %}"></script>

   <!-- Input Mask-->
    <script src="{% static 'js/plugins/jasny/jasny-bootstrap.min.js' %}"></script>

   <!-- Data picker -->
   <script src="{% static 'js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>

   <!-- NouSlider -->
   <script src="{% static 'js/plugins/nouslider/jquery.nouislider.min.js' %}"></script>

   <!-- Switchery -->
   <script src="{% static 'js/plugins/switchery/switchery.js' %}"></script>

    <!-- IonRangeSlider -->
    <script src="{% static 'js/plugins/ionRangeSlider/ion.rangeSlider.min.js' %}"></script>

    <!-- iCheck -->
    <script src="{% static 'js/plugins/iCheck/icheck.min.js' %}"></script>

    <!-- MENU -->
    <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>

    <!-- Color picker -->
    <script src="{% static 'js/plugins/colorpicker/bootstrap-colorpicker.min.js' %}"></script>

    <!-- Clock picker -->
    <script src="{% static 'js/plugins/clockpicker/clockpicker.js' %}"></script>

    <!-- Image cropper -->
    <script src="{% static 'js/plugins/cropper/cropper.min.js' %}"></script>

    <!-- Date range use moment.js same as full calendar plugin -->
    <script src="{% static 'js/plugins/fullcalendar/moment.min.js' %}"></script>

    <!-- Date range picker -->
    <script src="{% static 'js/plugins/daterangepicker/daterangepicker.js' %}"></script>

    <!-- Select2 -->
    <script src="{% static 'js/plugins/select2/select2.full.min.js' %}"></script>

    <!-- TouchSpin -->
    <script src="{% static 'js/plugins/touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>

    <!-- Tags Input -->
    <script src="{% static 'js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script>

    <!-- Dual Listbox -->
    <script src="{% static 'js/plugins/dualListbox/jquery.bootstrap-duallistbox.js' %}"></script>

    <!-- blueimp gallery -->
    <script src="{% static 'js/plugins/blueimp/jquery.blueimp-gallery.min.js' %}"></script>


    <script src="{% static 'js/plugins/dataTables/datatables.min.js' %}"></script>

    <!-- Morris -->
    <link href="{% static 'css/plugins/morris/morris-0.4.3.min.css' %}" rel="stylesheet">
    <!--
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">-->

    <!-- Morris demo data-->
    <script src="{% static 'js/demo/morris-demo.js' %}"></script>

    <!-- Morris -->
    <script src="{% static 'js/plugins/morris/raphael-2.1.0.min.js' %}"></script>
    <script src="{% static 'js/plugins/morris/morris.js' %}"></script>

    <link href="{% static 'css/plugins/dataTables/datatables.min.css' %}" rel="stylesheet">

{% endblock js %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                pageLength: 25,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy'},
                    {extend: 'csv'},
                    {extend: 'excel', title: 'ExampleFile'},
                    {extend: 'pdf', title: 'ExampleFile'},

                    {extend: 'print',
                     customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                    }
                    }
                ]

            });

        });
    </script>

    <!-- Función para pintar los datos de grafica 2-->
    <script>

    </script>


{% endblock scripts %}

{% block contenido_header %}
    <div class="row wrapper white-bg page-heading">
        <div class="col-sm-4">
            <h2><img alt="image" height="50" src="{{cliente.logotipo.url}}" /></h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{% url 'home' %}">Inicio</a>
                </li>
                <li class="active">
                    <a href=""><strong>Perfil</strong></a>
                </li>
            </ol>
        </div>
    </div>
{% endblock contenido_header %}

{% block contenido %}
    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
            <div class="col-md-8">
                <div class="ibox float-e-margins">
                    <div class="ibox-content content-grafica">
                        <h3 class="text-titulo">Detalles de Perfil</h3>
                        <div class="row m-t-lg">
                            <div class="col-md-4">
                                {% if usuarioExt.foto %}
                                    <img alt="image" width="100%" class="img-responsive img-circle center-block" src="{{usuarioExt.foto.url}}">
                                {% else %}
                                    <img alt="image" width="100%" class="img-responsive img-circle center-block" src="{% static 'img/NO-IMAGE-AVAILABLE-300x300.png' %}" />
                                {% endif %}
                            </div>
                            <div class="col-md-8">
                                <div class="text-blanco">
                                    <h3><strong>{{usuarioExt}}</strong></h3>
                                    <h5>{{usuarioExt.user.email}}</h5>
                                    <p><i class="fa fa-id-card"></i> {{usuarioExt.user_id}}</p>
                                    <h4>
                                        {{usuarioExt.cliente}}
                                    </h4>
                                    <img alt="image" width="10%" class="img-responsive" src="{{cliente.logotipo.url}}" />

                                    <h5>
                                        <strong>Fecha de nacimiento: </strong>{{usuarioExt.fecha_nacimiento}}
                                    </h5>
                                    <h5>
                                        <strong>Teléfono: </strong>{{usuarioExt.tlf}}
                                    </h5>
                                    <h5>
                                        <strong>Edad: </strong>{{usuarioExt.edad}}
                                    </h5>
                                    <h5>
                                        <strong>Cargo: </strong>{{usuarioExt.cargo}}
                                    </h5>
                                    <h5>
                                        <strong>Dirección: </strong>{{usuarioExt.direccion}}
                                    </h5>
                                    <div class="user-button">
                                        <div class="row">
                                            <div class="col-md-6">
                                                {% if usuario_inDjango == request.user %}
                                                    <a href="{% url 'modificar_perfil' usuarioExt.user_id %}">
                                                    <button type="button" class="btn btn-primary btn-sm btn-block">
                                                        <i class="fa fa-cog"></i>
                                                            Modificar Perfil
                                                    </button>
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ibox-content content-grafica">
                    <h3 class="text-titulo">Bots Afiliados</h3>
                    {% if agentes_finales %}
                    <ul class="list-group">
                        {% for agente in agentes_finales %}
                        <li class="list-group-item">
                            <a href="{% url 'interacciones' agente.id %}"><span class="label label-info">{{forloop.counter}}</span> {{agente.nombre_agente}}</a>
                        </li>
                        {% endfor %}
                        {% if request.user|has_group:"Cliente Administrador" %}
                            <div class="ibox-content">
                                <a href="{% url 'bots_afiliados' usuarioExt.user_id %}">
                                    <button type="button" class="btn btn-primary btn-block">
                                    <i class="fa fa-cog"></i>
                                        Modificar bots afiliados
                                    </button>
                                </a>
                            </div>
                        {% endif %}
                    </ul>
                    {% elif agentes %}
                    <ul class="list-group">
                        {% for agente in agentes %}
                        <li class="list-group-item">
                            <a href="{% url 'interacciones' agente.id %}"><span class="label label-info">{{forloop.counter}}</span> {{agente.nombre_agente}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    
                    {% endif %}
                </div>
            </div>

           

        </div>
    </div>

{% endblock contenido %}

