{% extends 'tags/empty_page.html' %}
{% load staticfiles %}
{% load querys %}

{% block head %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>

        {% if datos_empresa.nombre_empresa == None %}
          Dashboard | Gráficas Personalizadas
        {% else %}
          {{datos_empresa.nombre_empresa}} | Estadisticas Personalizadas
        {% endif %}

    </title>
<link rel="icon" type="image/png" href="{% static 'img/icono-springlabs.png' %}" />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">

    <!-- Toastr style -->
    <link href="{% static 'css/plugins/toastr/toastr.min.css' %}" rel="stylesheet">

    <!-- Gritter -->
    <link href="{% static 'js/plugins/gritter/jquery.gritter.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/dataTables/datatables.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link href="{% static 'css/estilos_menu.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>

{% endblock head %}

{% block js %}

     <!-- Mainly scripts -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

    <!-- Peity -->
    <script src="{% static 'js/plugins/peity/jquery.peity.min.js' %}"></script>
    <script src="{% static 'js/demo/peity-demo.js' %}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{% static 'js/inspinia.js' %}"></script>
    <script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>

    <!-- jQuery UI -->
    <script src="{% static 'js/plugins/jquery-ui/jquery-ui.min.js' %}"></script>

    <!-- Sparkline -->
    <script src="{% static 'js/plugins/sparkline/jquery.sparkline.min.js' %}"></script>

    <!-- Sparkline demo data  -->
    <script src="{% static 'js/demo/sparkline-demo.js' %}"></script>

    <script src="{% static 'js/plugins/dataTables/datatables.min.js' %}"></script>

    <!-- ChartJS -->
    <script src="{% static 'js/plugins/chartJs/Chart.min.js' %}"></script>

    <!-- Morris -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="{% static 'js/plugins/morris/raphael-2.1.0.min.js' %}"></script>
    <script src="{% static 'js/plugins/morris/morris.js' %}"></script>

    <!-- Toastr -->
    <script src="{% static 'js/plugins/toastr/toastr.min.js' %}"></script>


    <!-- GRAFICA NUEVA DE PRUEBA -->
    <style>
        #chartdiv {
          width: 100%;
          height: 800px;
        }
        #donutdiv {
          width: 100%;
          height: 800px;
        }
        #tuneldiv {
          width: 100%;
          height: 800px;
        }
        #chartdiv2 {
          width: 100%;
          height: 800px;
        }
    </style>

    <!-- GRAFICAS DE AMCHARTS LOCALMENTE -->
    <script src="{% static 'js/plugins/amcharts_4.4.10/amcharts4/core.js' %}"></script>
    <script src="{% static 'js/plugins/amcharts_4.4.10/amcharts4/charts.js' %}"></script>
    <script src="{% static 'js/plugins/amcharts_4.4.10/amcharts4/themes/animated.js' %}"></script>
    <script src="{% static 'js/plugins/amcharts_4.4.10/amcharts4/themes/dark.js' %}"></script>
    <script src="{% static 'js/plugins/amcharts_4.4.10/amcharts4/themes/kelly.js' %}"></script>
    <script src="{% static 'js/plugins/amcharts_4.4.10/amcharts4/themes/material.js' %}"></script>

{% endblock js %}

{% block scripts %}

{% if request.user|has_group:"Administrador" %}
{% elif request.user|has_group:"Cliente Administrador" %}

    <script>
        $(document).ready(function() {
            setTimeout(function() {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'slideDown',
                    timeOut: 4000
                };
                toastr.success('Bienvenido a DashBot 1.0', '{{user.first_name}} {{user.last_name}}');

            }, 1300);
        });

        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                pageLength: 25,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy'},
                    {extend: 'csv'},
                    {extend: 'excel', title: 'ExampleFile'},
                    {extend: 'pdf', title: 'ExampleFile'},

                    {extend: 'print',
                     customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                    }
                    }
                ]

            });

        });
    </script>


<!-- GRAFICA NUEVA DE PRUEBA "ESTADISTICAS POR DÍA" -->
    <script>
        am4core.ready(function() {

        // Themes begin
        //am4core.useTheme(am4themes_dark);
        //am4core.useTheme(am4themes_kelly);
        am4core.useTheme(am4themes_dark);
        am4core.useTheme(am4themes_animated);
        // Themes end

        // Create chart instance
        var chart = am4core.create("chartdiv", am4charts.XYChart3D);
        chart.responsive.enabled = true;

        // Add data
        chart.data = [

        {% for hora in interacciones_hora %}
            {
                "horas": "{{hora.hora|date:'H:i'}}",
                "interacciones": "{{hora.total}}"
            },
        {% endfor %}

        ];

        // Create axes
        let categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
        categoryAxis.dataFields.category = "horas";
        categoryAxis.renderer.labels.template.rotation = 270;
        categoryAxis.renderer.labels.template.hideOversized = false;
        categoryAxis.renderer.minGridDistance = 20;
        categoryAxis.renderer.labels.template.horizontalCenter = "right";
        categoryAxis.renderer.labels.template.verticalCenter = "middle";
        categoryAxis.tooltip.label.rotation = 270;
        categoryAxis.tooltip.label.horizontalCenter = "right";
        categoryAxis.tooltip.label.verticalCenter = "middle";

        let valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
        valueAxis.title.text = "No. de interacciones";
        valueAxis.title.fontWeight = "bold";

        // Create series
        var series = chart.series.push(new am4charts.ColumnSeries3D());
        series.dataFields.valueY = "interacciones";
        series.dataFields.categoryX = "horas";
        series.name = "Interacciones";
        series.tooltipText = "{categoryX} hrs.: [bold]{valueY}[/] interacciones";
        series.columns.template.fillOpacity = .8;

        var columnTemplate = series.columns.template;
        columnTemplate.strokeWidth = 2;
        columnTemplate.strokeOpacity = 1;
        columnTemplate.stroke = am4core.color("#FFFFFF");

        columnTemplate.adapter.add("fill", (fill, target) => {
          return chart.colors.getIndex(target.dataItem.index);
        })

        columnTemplate.adapter.add("stroke", (stroke, target) => {
          return chart.colors.getIndex(target.dataItem.index);
        })

        chart.cursor = new am4charts.XYCursor();
        chart.cursor.lineX.strokeOpacity = 0;
        chart.cursor.lineY.strokeOpacity = 0;

        }); // end am4core.ready()
    </script>

<!-- GRAFICA NEGOCIOS -->
<style>
#chartdiv {
  width: 100%;
  height: 500px;
}

</style>

<!-- Resources -->
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>






<!-- GRAFICA NUEVA DE PRUEBA "INTENCIONES FRECUENTES" -->
    <script>
        am4core.ready(function() {

        // Themes begin
        am4core.useTheme(am4themes_dark);
        am4core.useTheme(am4themes_animated);
        // Themes end

        // Create chart instance
        var chart = am4core.create("donutdiv", am4charts.PieChart);
        chart.responsive.enabled = true;

        // Add data
        chart.data = [
        {%for data in intents_totales %}
            {
                "intencion": '{{data.intent_displayName}}',
                "cantidad":'{{data.totales}}'
            },
        {% endfor %}

        ];

        // Add and configure Series
        var pieSeries = chart.series.push(new am4charts.PieSeries());
        pieSeries.dataFields.value = "cantidad";
        pieSeries.dataFields.category = "intencion";
        pieSeries.innerRadius = am4core.percent(50);
        pieSeries.ticks.template.disabled = true;
        pieSeries.labels.template.disabled = true;

        var rgm = new am4core.RadialGradientModifier();
        rgm.brightnesses.push(-0.8, -0.8, -0.5, 0, - 0.5);
        pieSeries.slices.template.fillModifier = rgm;
        pieSeries.slices.template.strokeModifier = rgm;
        pieSeries.slices.template.strokeOpacity = 0.4;
        pieSeries.slices.template.strokeWidth = 0;

        chart.legend = new am4charts.Legend();
        chart.legend.position = "bottom";

        }); // end am4core.ready()
    </script>

<!-- GRAFICA NUEVA DE PRUEBA "FRASES NO RECONOCIDAS" -->
    <script>
        am4core.ready(function() {

        // Themes begin
        am4core.useTheme(am4themes_animated);
        // Themes end

        let chart = am4core.create("tuneldiv", am4charts.SlicedChart);
        chart.responsive.enabled = true;
        chart.data = [
            {%for data in frases_noReconocidas %}
                {
                    "name": '{{data.queryText}}',
                    "value":'{{data.totales}}'
                },
            {% endfor %}
        ];

        let series = chart.series.push(new am4charts.FunnelSeries());
        series.dataFields.value = "value";
        series.dataFields.category = "name";

        var fillModifier = new am4core.LinearGradientModifier();
        fillModifier.brightnesses = [-0.5, 1, -0.5];
        fillModifier.offsets = [0, 0.5, 1];
        series.slices.template.fillModifier = fillModifier;
        series.alignLabels = true;

        series.labels.template.text = "{category}: [bold]{value}[/]";

        }); // end am4core.ready()
    </script>


<!-- GRAFICA NUEVA DE PRUEBA "ESTADÍSTICAS POR SEMANA" -->
    <script>
        am4core.ready(function() {

        // Themes begin
        am4core.useTheme(am4themes_animated);
        // Themes end

        // Create chart instance
        var chart = am4core.create("chartdiv2", am4charts.XYChart3D);
        chart.responsive.enabled = true;

        // Add data
        chart.data = [{
            "fecha": "{{fecha1}}",
            "sesiones": {{nro_sesiones1}},
            "interacciones": {{nro_interacciones1}}
        }, {
            "fecha": "{{fecha2}}",
            "sesiones": {{nro_sesiones2}},
            "interacciones": {{nro_interacciones2}}
        }, {
            "fecha": "{{fecha3}}",
            "sesiones": {{nro_sesiones3}},
            "interacciones": {{nro_interacciones3}}
        }, {
            "fecha": "{{fecha4}}",
            "sesiones": {{nro_sesiones4}},
            "interacciones": {{nro_interacciones4}}
        }, {
            "fecha": "{{fecha5}}",
            "sesiones": {{nro_sesiones5}},
            "interacciones": {{nro_interacciones5}}
        }, {
            "fecha": "{{fecha6}}",
            "sesiones": {{nro_sesiones6}},
            "interacciones": {{nro_interacciones6}}
        }, {
            "fecha": "{{fecha7}}",
            "sesiones": {{nro_sesiones7}},
            "interacciones": {{nro_interacciones7}}
        }];

        // Create axes
        var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
        categoryAxis.dataFields.category = "fecha";
        categoryAxis.renderer.grid.template.location = 0;
        categoryAxis.renderer.minGridDistance = 30;

        // Setting up label rotation
        //categoryAxis.renderer.labels.template.rotation = 315;
        categoryAxis.renderer.labels.template.rotation = 270;

        var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
        valueAxis.title.text = "Cantidad";
        valueAxis.renderer.labels.template.adapter.add("text", function(text) {
          return text;
        });


        // Create series
        var series = chart.series.push(new am4charts.ColumnSeries3D());
        series.dataFields.valueY = "sesiones";
        series.dataFields.categoryX = "fecha";
        series.name = "Cantidad de sesiones";
        series.clustered = false;
        series.columns.template.tooltipText = "Cantidad de sesiones: [bold]{valueY}[/]";
        series.columns.template.fillOpacity = 0.9;
        series.fill = am4core.color("green");

        var series2 = chart.series.push(new am4charts.ColumnSeries3D());
        series2.dataFields.valueY = "interacciones";
        series2.dataFields.categoryX = "fecha";
        series2.name = "Cantidad de interacciones";
        series2.clustered = false;
        series2.columns.template.tooltipText = "Cantidad de interacciones: [bold]{valueY}[/]";
        series2.fill = am4core.color("#e93d31");
        });



         // end am4core.ready()
    </script>

{% elif request.user|has_group:"Usuario Cliente" %}

    <script>
        $(document).ready(function() {
            setTimeout(function() {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'slideDown',
                    timeOut: 4000
                };
                toastr.success('Bienvenido a DashBot 1.0', '{{user.first_name}} {{user.last_name}}');

            }, 1300);
        });

        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                pageLength: 25,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy'},
                    {extend: 'csv'},
                    {extend: 'excel', title: 'ExampleFile'},
                    {extend: 'pdf', title: 'ExampleFile'},

                    {extend: 'print',
                     customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                    }
                    }
                ]

            });

        });
    </script>



<!-- GRAFICA NUEVA DE PRUEBA "ESTADÍSTICAS POR DÍA" -->
    <script>
        am4core.ready(function() {

        // Themes begin
        //am4core.useTheme(am4themes_dark);
        //am4core.useTheme(am4themes_kelly);
        am4core.useTheme(am4themes_dark);
        am4core.useTheme(am4themes_animated);
        // Themes end

        // Create chart instance
        var chart = am4core.create("chartdiv", am4charts.XYChart3D);
        chart.responsive.enabled = true;

        // Add data
        chart.data = [

        {% for hora in interacciones_hora %}
            {
                "horas": "{{hora.hora|date:'H:i'}}",
                "interacciones": "{{hora.total}}"
            },
        {% endfor %}

        ];

        // Create axes
        let categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
        categoryAxis.dataFields.category = "horas";
        categoryAxis.renderer.labels.template.rotation = 270;
        categoryAxis.renderer.labels.template.hideOversized = false;
        categoryAxis.renderer.minGridDistance = 20;
        categoryAxis.renderer.labels.template.horizontalCenter = "right";
        categoryAxis.renderer.labels.template.verticalCenter = "middle";
        categoryAxis.tooltip.label.rotation = 270;
        categoryAxis.tooltip.label.horizontalCenter = "right";
        categoryAxis.tooltip.label.verticalCenter = "middle";

        let valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
        valueAxis.title.text = "No. de interacciones";
        valueAxis.title.fontWeight = "bold";

        // Create series
        var series = chart.series.push(new am4charts.ColumnSeries3D());
        series.dataFields.valueY = "interacciones";
        series.dataFields.categoryX = "horas";
        series.name = "Interacciones";
        series.tooltipText = "{categoryX} hrs.: [bold]{valueY}[/] interacciones";
        series.columns.template.fillOpacity = .8;

        var columnTemplate = series.columns.template;
        columnTemplate.strokeWidth = 2;
        columnTemplate.strokeOpacity = 1;
        columnTemplate.stroke = am4core.color("#FFFFFF");

        columnTemplate.adapter.add("fill", (fill, target) => {
          return chart.colors.getIndex(target.dataItem.index);
        })

        columnTemplate.adapter.add("stroke", (stroke, target) => {
          return chart.colors.getIndex(target.dataItem.index);
        })

        chart.cursor = new am4charts.XYCursor();
        chart.cursor.lineX.strokeOpacity = 0;
        chart.cursor.lineY.strokeOpacity = 0;

        }); // end am4core.ready()
    </script>

<!-- GRAFICA NUEVA DE PRUEBA "INTENCIONES FRECUENTES" -->
    <script>
        am4core.ready(function() {

        // Themes begin
        am4core.useTheme(am4themes_animated);
        // Themes end

        // Create chart instance
        var chart = am4core.create("donutdiv", am4charts.PieChart);
        chart.responsive.enabled = true;

        // Add data
        chart.data = [
        {%for data in intents_totales_por_usuario %}
            {
                "intencion": '{{data.intent_displayName}}',
                "cantidad":'{{data.totales}}'
            },
        {% endfor %}

        ];

        // Add and configure Series
        var pieSeries = chart.series.push(new am4charts.PieSeries());
        pieSeries.dataFields.value = "cantidad";
        pieSeries.dataFields.category = "intencion";
        pieSeries.innerRadius = am4core.percent(50);
        pieSeries.ticks.template.disabled = true;
        pieSeries.labels.template.disabled = true;

        var rgm = new am4core.RadialGradientModifier();
        rgm.brightnesses.push(-0.8, -0.8, -0.5, 0, - 0.5);
        pieSeries.slices.template.fillModifier = rgm;
        pieSeries.slices.template.strokeModifier = rgm;
        pieSeries.slices.template.strokeOpacity = 0.4;
        pieSeries.slices.template.strokeWidth = 0;

        chart.legend = new am4charts.Legend();
        chart.legend.position = "bottom";

        }); // end am4core.ready()
    </script>

<!-- GRAFICA NUEVA DE PRUEBA "FRASES NO RECONOCIDAS" -->
    <script>
        am4core.ready(function() {

        // Themes begin
        am4core.useTheme(am4themes_animated);
        // Themes end

        let chart = am4core.create("tuneldiv", am4charts.SlicedChart);
        chart.responsive.enabled = true;
        chart.data = [
            {%for data in frases_noReconocidas_por_usuario %}
                {
                    "name": '{{data.queryText}}',
                    "value":'{{data.totales}}'
                },
            {% endfor %}
        ];

        let series = chart.series.push(new am4charts.FunnelSeries());
        series.dataFields.value = "value";
        series.dataFields.category = "name";

        var fillModifier = new am4core.LinearGradientModifier();
        fillModifier.brightnesses = [-0.5, 1, -0.5];
        fillModifier.offsets = [0, 0.5, 1];
        series.slices.template.fillModifier = fillModifier;
        series.alignLabels = true;

        series.labels.template.text = "{category}: [bold]{value}[/]";

        }); // end am4core.ready()
    </script>


<!-- GRAFICA NUEVA DE PRUEBA "ESTADÍSTICAS POR SEMANA" -->
    <script>
        am4core.ready(function() {

        // Themes begin
        am4core.useTheme(am4themes_animated);
        // Themes end

        // Create chart instance
        var chart = am4core.create("chartdiv2", am4charts.XYChart3D);
        chart.responsive.enabled = true;

        // Add data
        chart.data = [{
            "fecha": "{{fecha1_por_usuario}}",
            "sesiones": {{nro_sesiones1_por_usuario}},
            "interacciones": {{nro_interacciones1_por_usuario}}
        }, {
            "fecha": "{{fecha2_por_usuario}}",
            "sesiones": {{nro_sesiones2_por_usuario}},
            "interacciones": {{nro_interacciones2_por_usuario}}
        }, {
            "fecha": "{{fecha3_por_usuario}}",
            "sesiones": {{nro_sesiones3_por_usuario}},
            "interacciones": {{nro_interacciones3_por_usuario}}
        }, {
            "fecha": "{{fecha4_por_usuario}}",
            "sesiones": {{nro_sesiones4_por_usuario}},
            "interacciones": {{nro_interacciones4_por_usuario}}
        }, {
            "fecha": "{{fecha5_por_usuario}}",
            "sesiones": {{nro_sesiones5_por_usuario}},
            "interacciones": {{nro_interacciones5_por_usuario}}
        }, {
            "fecha": "{{fecha6_por_usuario}}",
            "sesiones": {{nro_sesiones6_por_usuario}},
            "interacciones": {{nro_interacciones6_por_usuario}}
        }, {
            "fecha": "{{fecha7_por_usuario}}",
            "sesiones": {{nro_sesiones7_por_usuario}},
            "interacciones": {{nro_interacciones7_por_usuario}}
        }];

        // Create axes
        var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
        categoryAxis.dataFields.category = "fecha";
        categoryAxis.renderer.grid.template.location = 0;
        categoryAxis.renderer.minGridDistance = 30;
        // Setting up label rotation
        //categoryAxis.renderer.labels.template.rotation = 315;
        categoryAxis.renderer.labels.template.rotation = 270;

        var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
        valueAxis.title.text = "Cantidad";
        valueAxis.renderer.labels.template.adapter.add("text", function(text) {
          return text;
        });

        // Create series
        var series = chart.series.push(new am4charts.ColumnSeries3D());
        series.dataFields.valueY = "sesiones";
        series.dataFields.categoryX = "fecha";
        series.name = "Cantidad de sesiones";
        series.clustered = false;
        series.columns.template.tooltipText = "Cantidad de sesiones: [bold]{valueY}[/]";
        series.columns.template.fillOpacity = 0.9;
        series.fill = am4core.color("green");

        var series2 = chart.series.push(new am4charts.ColumnSeries3D());
        series2.dataFields.valueY = "interacciones";
        series2.dataFields.categoryX = "fecha";
        series2.name = "Cantidad de interacciones";
        series2.clustered = false;
        series2.columns.template.tooltipText = "Cantidad de interacciones: [bold]{valueY}[/]";
        series2.fill = am4core.color("#e93d31");
        });

         // end am4core.ready()
    </script>

{% endif %}


{% endblock scripts %}

{% block contenido_header %}
{% if request.user|has_group:"Administrador" %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <ol class="breadcrumb">
                <li class="active">
                    <a href=""><strong>Estadísticas Personalizadas</strong></a>
                </li>
            </ol>
        </div>
    </div>
{% elif request.user|has_group:"Cliente Administrador" %}
    <div class="row wrapper white-bg page-heading">
        <div class="col-sm-4">
            <h2><img alt="image" height="50" src="{{cliente.logotipo.url}}" /></h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{% url 'home' %}">Inicio</a>
                </li>
                <li class="active">
                    <a href=""><strong>Estadísticas Personalizadas</strong></a>
                </li>
            </ol>
        </div>
        <div class="col-sm-8">
            <div class="title-action">
                <h2><strong>{{cliente.nombre_cliente}}</strong></h2>
            </div>
        </div>
    </div>
{% endif %}

{% endblock contenido_header %}

{% block contenido %}

{% if request.user|has_group:"Administrador" %}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Listado de clientes</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#">Config option 1</a>
                        </li>
                        <li><a href="#">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">

            <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover dataTables-example">
            <thead>
            <tr>
                <th>Logotipo</th>
                <th>Nombre o razón social</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>

            {% for cliente in clientes %}

            <tr class="gradeX">
                <td>
                    <img alt="image" height="50" src="{{cliente.logotipo.url}}" />
                </td>
                <td>{{cliente.nombre_cliente}}</td>
                <td class="center">
                    <a href="{% url 'agentes' cliente.id %}">
                    <p class="text-success">Ver Agentes</p></a>
                </td>
            </tr>

            {% endfor %}

            </tbody>
            </table>
                </div>

            </div>
        </div>
    </div>
    </div>
</div>
{% endif %}



{% if request.user|has_group:"Usuario Cliente" %}

<div class="wrapper wrapper-content animated fadeInUp">
    <div class="row">

            {% if mensaje_sin_estadisticas %}
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="container">
                            <div class="alert alert-dismissable alert-warning">
                                <button type="button" class="close" data-dismiss="alert"></button>
                                <strong>{{mensaje_sin_estadisticas}}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

        <div class="col-xs-6 col-md-4">
            <div class="ibox-content content-grafica">
                <div class="text-center">
                    <p class="text-titulo"><strong>BOTS AFILIADOS</strong></p>
                </div>
                <div>
                    <img alt="image" class="img-responsive" src="{{cliente.logotipo.url}}" /></h2>
                </div>
                </br></br>

                {% if agentes_finales %}
                <ul class="list-group clear-list m-t">
                    {% for agente in agentes_finales %}
                    <li class="list-group-item">
                        <a href="{% url 'interacciones' agente.id %}"><span class="label label-info">{{forloop.counter}}</span> {{agente.nombre_agente}}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                </br>
                <div class="row m-t-sm">
                    <div class="col-md-6">
                        <span class="bar">5,3,9,6,5,9,7,3,5,2</span>
                        <h5><strong>{{sesiones_por_usuario.count}}</strong> Sesiones</h5>
                    </div>
                    <div class="col-md-6">
                        <span class="line">5,3,9,6,5,9,7,3,5,2</span>
                        <h5><strong>{{interacciones_totales_por_usuario.count}}</strong> Interacciones</h5>
                    </div>
                </div>
            </div>
        </div>
{% endif %}

        {% if intents_totales_por_usuario %}
            <div class="col-xs-6 col-md-4">
                <div class="ibox-content content-grafica">
                    <div class="text-center">
                        <p class="text-titulo"><strong>INTENCIONES FRECUENTES</strong></p>
                    </div>

                    <!-- HTML -->
                    <div id="donutdiv"></div>
                    <div class="m-t-md">
                       <small>
                            <div class="text-center">
                            <strong>Información:</strong> en la gráfica se muestran las 10 intenciones más recurrentes en el universo de los bots afiliados.
                            </div>
                       </small>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if frases_noReconocidas_por_usuario %}
            <div class="col-xs-6 col-md-4">
                <div class="ibox-content content-grafica">
                    <div class="text-center">
                        <p class="text-titulo"><strong>FRASES NO RECONOCIDAS</strong></p>
                    </div>
                    <!-- HTML -->
                    <div id="tuneldiv"></div>
                    <div class="m-t-md">
                       <small>
                            <div class="text-center">
                            <strong>Información:</strong> en la gráfica se muestran las 10 frases, expresiones o preguntas más frecuentes que no han sido reconocidas.
                            </div>
                       </small>
                    </div>
                </div>
            </div>

            {% endif %}

            <div class="col-md-12">
                <div class="small pull-right col-md-9 m-t-md text-right">

                </div>
            </div>

            {% if nro_interacciones_7_dias_por_usuario > 0 and nro_sesiones_sesiones_7_dias_por_usuario > 0 %}
            <div class="col-xs-12 col-md-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-content content-grafica">
                        <div class="text-center">
                            <p class="text-titulo"><strong>ESTADÍSTICAS DE LOS ÚLTIMOS 7 DÍAS</strong></p>
                            <small>
                                ({{fecha1_por_usuario|date:"d M Y"}} - {% now "d M Y" %})
                            </small>

                        </div>
                        <div>
                            <span class="pull-right text-right">
                                <strong>Sesiones:</strong> <strong>{{nro_sesiones_sesiones_7_dias_por_usuario}}</strong>
                            </span>
                            <h1 class="m-b-xs"><strong>{{nro_interacciones_7_dias_por_usuario}}</strong></h1>
                            <h3 class="font-bold no-margins">
                                Interacciones
                            </h3>
                            <small></small>
                        </div>
                        <!-- HTML -->
                        <div id="chartdiv2"></div>
                        <div class="m-t-md">
                            <small class="pull-right">
                                <i class="fa fa-clock-o"> </i>
                                {{user.last_login|date:"d M Y"}}
                            </small>
                           <small>
                               <strong>Información:</strong> en la gráfica se muestran las interacciones y sesiones globales de todos los bots de la empresa en los últimos 7 días.
                           </small>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            

            <div class="col-md-12">
                <div class="small pull-right col-md-9 m-t-md text-right">

                </div>
            </div>





{% if request.user|has_group:"Cliente Administrador" %}
<div class="wrapper wrapper-content animated fadeInUp">
    <div class="row">

            {% if mensaje_sin_estadisticas %}
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="container">
                            <div class="alert alert-dismissable alert-warning">
                                <button type="button" class="close" data-dismiss="alert"></button>
                                <strong>{{mensaje_sin_estadisticas}}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endif %}

            <div class="col-xs-6 col-md-4">
                <div class="ibox-content content-grafica">
                    <div class="text-center">
                        <p class="text-titulo"><strong>BOTS AFILIADOS</strong></p>
                    </div>
                    <div>
                        <img alt="image" class="img-responsive" src="{{cliente.logotipo.url}}" /></h2>
                    </div>
                    </br></br>

                    <ul class="list-group clear-list m-t">
                        {% for agente in agentes %}
                        <li class="list-group-item">
                            <a href="{% url 'interacciones' agente.id %}"><span class="label label-info">{{forloop.counter}}</span> {{agente.nombre_agente}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    </br>
                    <div class="row m-t-sm">
                        <div class="col-md-6">
                            <span class="bar">5,3,9,6,5,9,7,3,5,2</span>
                            <h5><strong>{{sesiones.count}}</strong> Sesiones</h5>
                        </div>
                        <div class="col-md-6">
                            <span class="line">5,3,9,6,5,9,7,3,5,2</span>
                            <h5><strong>{{interacciones_totales.count}}</strong> Interacciones</h5>
                        </div>
                    </div>
                </div>
            </div>



            {% if intents_totales %}
            <div class="col-xs-6 col-md-4">
                <div class="ibox-content content-grafica">
                    <div class="text-center">
                        <p class="text-titulo"><strong>INTENCIONES FRECUENTES</strong></p>
                    </div>

                    <!-- HTML -->
                    <div id="donutdiv"></div>
                    <div class="m-t-md">
                       <small>
                            <div class="text-center">
                            <strong>Información:</strong> en la gráfica se muestran las 10 intenciones más recurrentes en el universo de los bots afiliados.
                            </div>
                       </small>
                    </div>
                </div>
            </div>
            {% endif %}
            

            {% if frases_noReconocidas %}
            <div class="col-xs-6 col-md-4">
                <div class="ibox-content content-grafica">
                    <div class="text-center">
                        <p class="text-titulo"><strong>FRASES NO RECONOCIDAS</strong></p>
                    </div>
                    <!-- HTML -->
                    <div id="tuneldiv"></div>
                    <div class="m-t-md">
                       <small>
                            <div class="text-center">
                            <strong>Información:</strong> en la gráfica se muestran las 10 frases, expresiones o preguntas más frecuentes que no han sido reconocidas.
                            </div>
                       </small>
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="col-md-12">
                <div class="small pull-right col-md-9 m-t-md text-right">

                </div>
            </div>
            
            
            <div class="col-xs-6 col-md-12">
                <div class="ibox-content content-grafica">
                    <div class="text-center">
                        <p class="text-titulo"><strong>REGISTROS</strong></p>
                    </div>


                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover dataTables-example">

                                <thead>
                                <tr>
                                    <th style="background-color: red;">Nombre empresa</th>
                                    <th style="background-color: red;">Direccion Ingresada</th>
                                    <th style="background-color: red;">Numero Fijo</th>
                                    <th style="background-color: red;">Nombre</th>
                                    <th style="background-color: red;">Apellidos</th>
                                    <th style="background-color: red;">Email</th>
                                    <th style="background-color: red;">Pagina</th>
                                    <th style="background-color: red;">Comentario</th>
                                    <th style="background-color: red;">Numero Celular</th>
                                    <th style="background-color: red;">Sector</th>
                                    <th style="background-color: red;">Proyecto</th>
                                    <th style="background-color: red;">Municipio</th>
                                    <th style="background-color: red;">Estado</th>
                                    <th style="background-color: red;">Nombre nicho(s)</th>
                                    <th style="background-color: red;">Camara(s)</th>
                                </tr>
                                </thead>
                                <tbody>
                                
                                {% for r in result %}
                                <tr>
                                    <td style="background-color: white;"><font color="black">{{r.0}}</font></td>
                                    <td style="background-color: white;"><font color="black">{{r.1}}</font></td>
                                    <td style="background-color: white;"><font color="black">{{r.2}}</font></td>
                                    <td style="background-color: white;"><font color="black">{{r.3}}</font></td>
                                    <td style="background-color: white;"><font color="black">{{r.4}}</font></td>
                                    <td style="background-color: white;"><font color="black">{{r.5}}</font></td>
                                    <td style="background-color: white;"><font color="black">{{r.6}}</font></td>
                                    <td style="background-color: white;"><font color="black">{{r.7}}</font></td>
                                    <td style="background-color: white;"><font color="black">{{r.8}}</font></td>
                                    <td style="background-color: white;"><font color="black">{{r.9}}</font></td>
                                    <td style="background-color: white;"><font color="black">{{r.10}}</font></td>
                                    <td style="background-color: white;"><font color="black">{{r.11}}</font></td>
                                    <td style="background-color: white;"><font color="black">{{r.12}}</font></td>
                                    <td style="background-color: white;"><font color="black">{{r.13}}</font></td>
                                    <td style="background-color: white;"><font color="black">{{r.14}}</font></td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        
                </div>
            </div>



            <div class="col-md-12">
                <div class="small pull-right col-md-9 m-t-md text-right">

                </div>
            </div>


            {% if nro_interacciones_7_dias > 0 and nro_sesiones_sesiones_7_dias > 0 %}
            <div class="col-xs-6 col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content content-grafica">
                        <div class="text-center">
                            <p class="text-titulo"><strong>ESTADÍSTICAS DE LOS ÚLTIMOS 7 DÍAS</strong></p>
                            <small>
                                ({{fecha1|date:"d M Y"}} - {% now "d M Y" %})
                            </small>

                        </div>
                        <div>
                            <span class="pull-right text-right">
                                <strong>Sesiones:</strong> <strong>{{nro_sesiones_sesiones_7_dias}}</strong>
                            </span>
                            <h1 class="m-b-xs"><strong>{{nro_interacciones_7_dias}}</strong></h1>
                            <h3 class="font-bold no-margins">
                                Interacciones
                            </h3>
                            <small></small>
                        </div>
                        <!-- HTML -->
                        <div id="chartdiv2"></div>
                        <div class="m-t-md">
                            <small class="pull-right">
                                <i class="fa fa-clock-o"> </i>
                                {{user.last_login|date:"d M Y"}}
                            </small>
                           <small>
                               <strong>Información:</strong> en la gráfica se muestran las interacciones y sesiones globales de todos los bots de la empresa en los últimos 7 días.
                           </small>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}


            <div class="col-md-12">
                <div class="small pull-right col-md-9 m-t-md text-right">

                </div>
            </div>

            {% if usuarios %}
            <div class="col-md-12">
                <div class="ibox">
                    <div class="ibox-content content-grafica">

                        <div class="text-center">
                            <p class="text-titulo"><strong>RECURSOS HUMANOS</strong></p>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover dataTables-example">

                                <thead>
                                <tr>
                                    <th style="background-color: red;">Usuario</th>
                                    <th style="background-color: red;">Nombres</th>
                                    <th style="background-color: red;">Apellidos</th>
                                    <th style="background-color: red;">Cargo</th>
                                    <th style="background-color: red;">Grupo</th>
                                    <th style="background-color: red;">Activo</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in usuarios %}
                                <tr>
                                    <td style="color: #000;"><a href="{% url 'perfil' user.user.id %}">{{user.user.username}}</a></td>
                                    <td style="color: #000;">{{user.user.first_name}}</td>
                                    <td style="color: #000;">{{user.apellido_paterno}} {{user.apellido_materno}}</td>
                                    <td style="color: #000;">{{user.cargo}}</td>
                                    <td style="color: #000;">Operador</td>
                                    <td style="color: #000;">
                                        {% if user.user.is_active %}
                                            <i class="fa fa-check text-navy"></i>
                                        {% else %}
                                            <i class="fa fa-window-close text-danger"></i>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
    </div>
</div>
{% endif %}
<div class="wrapper wrapper-content animated fadeInUp">
    <div class="row">
        {% if posibles_citas %}
            <div class="col-md-12">
                <div class="ibox">
                    <div class="ibox-content content-grafica">

                        <div class="text-center">
                            <p class="text-titulo"><strong>PERSONAS QUE REQUIEREN CITA</strong></p>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover dataTables-example tabla-dashboard">

                                <thead>
                                <tr>
                                    <th style="background-color: red;">Nombre</th>
                                    <th style="background-color: red;">Email</th>
                                    <th style="background-color: red;">Teléfono</th>
                                    <th style="background-color: red;">Fecha</th>
                                    <th style="background-color: red;">Acción</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for cita in posibles_citas %}
                                <tr>
                                    <td>{{cita.nombre_usuario}}</td>
                                    <td>{{cita.email_usuario}}</td>
                                    <td>{{cita.telefono_usuario}}</td>
                                    <td>{{cita.fecha|date:'Y-m-d'}}</td>

                                    <td><a href="{% url 'cita_resuelta' cita.id %}" class="btn btn-danger">Resuelta</a></td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            {% endif %}
    </div>
</div>

{% endblock contenido %}