{% extends 'tags/empty_page.html' %}
{% load staticfiles %}
{% load querys %}

{% block head %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>

        {% if datos_empresa.nombre_empresa == None %}
          Dashboard | Bienvenido
        {% else %}
          {{datos_empresa.nombre_empresa}} | Bienvenido
        {% endif %}

    </title>
<link rel="icon" type="image/png" href="{% static 'img/icono-springlabs.png' %}" />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/iCheck/custom.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/chosen/bootstrap-chosen.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/colorpicker/bootstrap-colorpicker.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/cropper/cropper.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/switchery/switchery.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/jasny/jasny-bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/nouslider/jquery.nouislider.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/datapicker/datepicker3.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/ionRangeSlider/ion.rangeSlider.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/clockpicker/clockpicker.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/daterangepicker/daterangepicker-bs3.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/select2/select2.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/touchspin/jquery.bootstrap-touchspin.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/dualListbox/bootstrap-duallistbox.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/animate.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/blueimp/css/blueimp-gallery.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/estilos_menu.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>


{% endblock head %}

{% block js %}
    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{% static 'js/inspinia.js' %}"></script>
    <script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
    <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

    <!-- Chosen -->
    <script src="{% static 'js/plugins/chosen/chosen.jquery.js' %}"></script>

   <!-- JSKnob -->
   <script src="{% static 'js/plugins/jsKnob/jquery.knob.js' %}"></script>

   <!-- Input Mask-->
    <script src="{% static 'js/plugins/jasny/jasny-bootstrap.min.js' %}"></script>

   <!-- Data picker -->
   <script src="{% static 'js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>

   <!-- NouSlider -->
   <script src="{% static 'js/plugins/nouslider/jquery.nouislider.min.js' %}"></script>

   <!-- Switchery -->
   <script src="{% static 'js/plugins/switchery/switchery.js' %}"></script>

    <!-- IonRangeSlider -->
    <script src="{% static 'js/plugins/ionRangeSlider/ion.rangeSlider.min.js' %}"></script>

    <!-- iCheck -->
    <script src="{% static 'js/plugins/iCheck/icheck.min.js' %}"></script>

    <!-- MENU -->
    <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>

    <!-- Color picker -->
    <script src="{% static 'js/plugins/colorpicker/bootstrap-colorpicker.min.js' %}"></script>

    <!-- Clock picker -->
    <script src="{% static 'js/plugins/clockpicker/clockpicker.js' %}"></script>

    <!-- Image cropper -->
    <script src="{% static 'js/plugins/cropper/cropper.min.js' %}"></script>

    <!-- Date range use moment.js same as full calendar plugin -->
    <script src="{% static 'js/plugins/fullcalendar/moment.min.js' %}"></script>

    <!-- Date range picker -->
    <script src="{% static 'js/plugins/daterangepicker/daterangepicker.js' %}"></script>

    <!-- Select2 -->
    <script src="{% static 'js/plugins/select2/select2.full.min.js' %}"></script>

    <!-- TouchSpin -->
    <script src="{% static 'js/plugins/touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>

    <!-- Tags Input -->
    <script src="{% static 'js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script>

    <!-- Dual Listbox -->
    <script src="{% static 'js/plugins/dualListbox/jquery.bootstrap-duallistbox.js' %}"></script>

    <!-- blueimp gallery -->
    <script src="{% static 'js/plugins/blueimp/jquery.blueimp-gallery.min.js' %}"></script>


    <script src="{% static 'js/plugins/dataTables/datatables.min.js' %}"></script>

    <link href="{% static 'css/plugins/dataTables/datatables.min.css' %}" rel="stylesheet">

    <!--Morris-->

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">

    <script src="{% static 'js/plugins/morris/raphael-2.1.0.min.js' %}"></script>

    <script src="{% static 'js/plugins/morris/morris.js' %}"></script>

{% endblock js %}
{% block scripts %}
    <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                pageLength: 25,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy'},
                    {extend: 'csv'},
                    {extend: 'excel', title: 'ExampleFile'},
                    {extend: 'pdf', title: 'ExampleFile'},

                    {extend: 'print',
                     customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');

                    }
                    }
                ]
            });
        });
    </script>
    <script type="text/javascript">
      var horas = [];
      var datos=[];
      var le =[a=0,b=0,c=0,d=0,e=0,f=0,g=0,h=0,j=0,k=0,l=0,m=0,n=0,o=0,p=0,q=0,r=0,s=0,t=0,u=0,v=0,w=0,x=0,y=0,z=0];
        {% for data in interacciones %}
          horas.push('{{data.date.hour}}'-6);
        {%endfor%}
          for (var i = 0; i < horas.length; i++) {
            if (horas[i]==1) {le[1] = le[1]+1;}else{if (horas[i]==2) {le[2] = le[2]+1;}else {if (horas[i]==3) {le[3] = le[3]+1;}else {if (horas[i]==4) {le[4] = le[4]+1;}else {if (horas[i]==5) {le[5]=e+1;}else {if (horas[i]==6) {
                le[6]=le[6]+1;}else{if (horas[i]==7) {le[7] = le[7]+1; }else {if (horas[i]==8) {le[8]=le[8]+1;}else{if(horas[i]==9){le[9]=le[9]+1;}else{if(horas[i]==10) {
                le[10]=le[10]+1;}else{if(horas[i]==11){le[11]=le[11]+1;}else{if(horas[i]==12){le[12]=le[12]+1;}else{if(horas[i]==13){le[13]=le[13]+1;}else{if(horas[i]==14) {
                le[14] = le[14]+1;}else{if(horas[i]==15){le[15]=le[15]+1;}else{if(horas[i]==16){le[16]=le[16]+1;}else{if(horas[i]==17){le[17]=le[17]+1;}else {if (horas[i]==18)
                {le[18]=le[18]+1;}else {if (horas[i]==19) {le[19]=le[19]+1;}else{if(horas[i]==20){le[20]=le[20]+1;}else{if(horas[i]==21){le[21]=le[21]+1;}else {if (horas[i]==22)
                {le[22]=le[22]+1;}else {if(horas[i]==23){le[23]=le[23]+1;}else{if(horas[i]==24){le[24]=le[24]+1;}}}}}}}}}}}}}}}}}}}}}}}}
          }
          for (var i = 1; i < 25; i++) {
            datos.push({
                   "interacciones"    : le[i],
                    "hora"  : i+":00"
            });
          }
    </script>
    <script>
      new Morris.Bar({
        element: 'myfirstchart',
        barColors: ['#0193ed'],
        data:  datos  ,
        xkey: 'hora',
        ykeys: ['interacciones'],
        labels: ['interacciones'],
        colors: ["#1ab394"],
        resize:true
    });
    </script>
{% endblock scripts %}
{% block contenido_header %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2><img alt="image" height="50" src="{{cliente.logotipo.url}}" /></h2>
              <ol class="breadcrumb">
                  <li>
                      <a href="{% url 'home' %}"><span class="fa fa-home" alt='Inicio'></span></a>
                  </li>
                  <li class="">
                        <a href="{% url 'agentes' cliente.id %}">Agentes</a>
                  </li>
                  <li class="active">
                      <a href=""><strong>Grafica de interacciones por hora</strong></a>
                  </li>
              </ol>
        </div>
        <div class="col-sm-8">
            <div class="title-action">
                <h2><strong>{{cliente.nombre_cliente}}</strong></h2>
            </div>
        </div>
    </div>
{% endblock contenido_header %}
{% block contenido %}
    <div class="row">
      <div class="col-lg-12">
          <div class="wrapper wrapper-content animated fadeInRight">
            <h1>Dia {{dia}} de {{mes}} del {{ano}} {{fecha_inicio}} del agente {{agente.nombre_agente}}</h1>
              <div id="myfirstchart"></div>
              <h1 class="animated fadeInRight">Total de Interacciones {{total_int}}</h1>
        </div>
      </div>
    </div>
{% endblock contenido %}
