@charset "UTF-8";
/* CSS Document */

body {
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed !important;
    z-index: 2000;
    top: 0;
    left: 0;
    background-color: rgba(47,64,80,1.00);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 5%;
    width: 100%;
    text-align: left;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 14px;
    color: #818181;
    display: block;
    transition: 0.3s;
	line-height: 1;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: -20px;
    right: 10px;
    font-size: 60px;
	
}
	
	
.menu {
    background-color: rgba(47,64,80,1.00);
    position: absolute;
    top: 7px;
    width: 50px;
   left: 7px;
    color: #ffffff;
	height: 45px;
	border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
	}

.menu span{
	position: absolute;
	right: 11px;
}

#myNav{
	position: absolute;
	right: 0px;
}

.logout{
	min-width: 280px;
	position: absolute;
	right: 50px;
	top: 0px;
	color: #fff;
	z-index: 2;
	text-align: right;
	font-size: 12px;
	line-height: 1.5;
}

.logout p a:hover{
	text-decoration: underline;
}
.notif_bell{
	width: 40px;
	height: 40px;
	position: absolute;
	right: 45px;
	top: 3px;
}

.notif_bell img{
	width: 80%;
	height: auto;
	margin: 5%;
}

.notif_desp{
	width: 30%;
	min-height: 200px;
	position: absolute;
	right: 92px;
	top: 45px;
	background-color: #ffffff;
	border-radius: 10px 0px 10px 10px;
-moz-border-radius: 10px 0px 10px 10px;
-webkit-border-radius: 10px 0px 10px 10px;
border: 0px solid #000000;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.35);
-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.35);
box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.35);
	display: none;
	z-index: 2;
	
}
.notf_shot{
	width: 90%;
	margin-left: 5%;
	border-bottom: 1px solid #dedede;
}

.notf_shot h1{
	padding: 3px;
	font-size: 15px;
	line-height: 0.7;
	color: #457d2c;
}

.notf_shot p {
	padding: 3px;
	font-size: 12px;
	line-height: 0.7;
}
.flujo{
	width: 100%;
	position: fixed;
	margin-top: 50px;
	height: 40px;
	background-color: rgba(244,244,244,1.00);
	border-bottom: 1px solid rgba(171,171,171,1.00);
}
.flujo_int{
	min-width: 300px;
	margin-left: 180px;
}

.flujo_int p{
	float: left;
	margin-left: 2px;
	font-size: 13px;
	line-height: 1;
	color: rgba(134,133,133,1.00);}

.flujo_int p:link{
	text-decoration: none;
}
.flujo_int p:hover{
	text-decoration:underline;
}


.flujo_int p:after {
	content: "/";
	float: left;
	margin-left: 2px;
	margin-right: 2px;
}
.top{
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 2;
}
.logo{
	min-width:150px;
	max-width: 150px;
	position: absolute;
	z-index: 1;
	top:7px;
	left: 7px;
	
	
}

.logo img{
	width: 100%;
	height: auto;
}
@media screen and (max-width : 534px ){
.overlay {
	right: 0px;
	left: auto;
}
	
.overlay a {
    padding: 5px;
    font-size: 14px;
	left: auto;
	right: 0px;
}
	
	.menu {
   
    top: 7px;
    right: 7px;
		left: auto;
	}
	
}
@media screen and (max-height: 450px) {
  .overlay a {
    padding: 5px;
    font-size: 14px;
}
  .closebtn{
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
	
	.menu {
   
    top: 7px;
    right: 7px;
		left: auto;
	}
	
	 }
	
	
