{% load static %}
<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>

		{% if datos_empresa.nombre_empresa == None %}
          Dashboard | Activación
        {% else %}
          {{datos_empresa.nombre_empresa}} | Activación
        {% endif %}

	</title>

	<link rel="icon" type="image/png" href="{% static 'img/icono-springlabs.png' %}" />
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">
	<link href="{% static 'css/animate.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link href="{% static 'css/formularios.css' %}" rel="stylesheet">
	<!-- Sweet Alert -->
	<link href="{% static 'css/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet">
	<link href="{% static 'css/estilos_menu.css' %}" rel="stylesheet">
	<script type="text/javascript" src="{% static 'js/menu.js' %}"></script>

</head>

<body class="gray-bg">

	<div class="container">
		<div class="alert alert-dismissable alert-warning">
			<button type="button" class="close" data-dismiss="alert"></button>
			Para activar su cuenta de <strong>SpringDashBot</strong> debe suministrar en el siguiente formulario la dirección de <strong>Correo</strong>, el <strong>Nombre de Usuario</strong> y la <strong>Contraseña</strong> que le hemos asignado.
		</div>
	</div>


	{%if form.username.errors%}
	<div class="container">
		<div class="alert alert-dismissable alert-danger">
			<button type="button" class="close" data-dismiss="alert"></button>
			<strong>Usuario: </strong> {{ form.username.errors.as_text }}.
		</div>
	</div>
	{%endif%}

	{%if form.email.errors%}
	<div class="container">
		<div class="alert alert-dismissable alert-danger">
			<button type="button" class="close" data-dismiss="alert"></button>
			<strong>Email: </strong> {{ form.email.errors.as_text }}.
		</div>
	</div>
	{%endif%}

	{%if form.password.errors%}
	<div class="container">
		<div class="alert alert-dismissable alert-danger">
			<button type="button" class="close" data-dismiss="alert"></button>
			<strong>Password: </strong> {{ form.password.errors.as_text }}.
		</div>
	</div>
	{%endif%}

	<!--  -->

	{% if mensaje %}
	  <div class="container">
		<div class="alert alert-dismissable alert-danger">
		<button type="button" class="close" data-dismiss="alert"></button>
		<strong>{{mensaje}}</strong>
	  </div>
	{%endif%}

	<div class="middle-box text-center loginscreen animated fadeInDown">

		<div>
			<div>

				{% if datos_empresa.logotipo != '' %}
                <h1 class="logo-name ">
                    <img src="{{datos_empresa.logotipo.url}}" alt="logo" width="200px">
                </h1>
                {% else %}
                <img src="{% static 'imgs/Bipbot.png' %}" alt="logo" width="200px">
                {% endif %}

			</div>
			<div class="text-blanco">
				<h2>Activación de Cuenta</h2>
			</div>
<!--             <h3>Register to IN+</h3>
			<p>Create account to see it in action.</p> -->
			<form method="post" class="m-t" role="form" action="{% url 'activar' %}" enctype="multipart/form-data">{% csrf_token %}

				<div class="form-group">
					<!-- <input type="email" class="form-control" placeholder="Email" required=""> -->
					{{ form.email }}
				</div>

				<div class="form-group">
					<!-- <input type="text" class="form-control" placeholder="User" required=""> -->
					{{ form.username }}
				</div>

				<div class="form-group">
					<!-- <input type="password" class="form-control" placeholder="Password" required=""> -->
					{{ form.password }}
				</div>
<!--                 <div class="form-group">
						<div class="checkbox i-checks"><label> <input type="checkbox"><i></i> Agree the terms and policy </label></div>
				</div> -->
				<button type="submit" class="btn btn-primary block full-width m-b">Activar Cuenta</button>

				<p class="text-muted text-center"><small>¿Ya posee una cuenta activa?</small></p>
				<a class="btn btn-sm btn-white btn-block" href="{% url 'login' %}"">Login</a>
			</form>
			{% if datos_empresa.nombre_empresa == 'SpringLabs' %}
			<p class="m-t"> <small>Desarrollado por <a href="http://springlabs.net/" >SpringLabs</a> &copy; 2019</small> </p>
			{% endif %}
		</div>
	</div>

	<!-- Mainly scripts -->
	<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
	<script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

	<!-- Custom and plugin javascript -->
	<script src="{% static 'js/inspinia.js' %}"></script>
	<script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>

	<!-- Sweet alert -->
	<script src="{% static 'js/plugins/sweetalert/sweetalert.min.js' %}"></script>
{% if exito %}
<script>

	$(document).ready(function () {

		swal({
			title: "¡Buen trabajo!",
			text: "La activación de tu cuenta ha sido exitosa",
			type: "success",
			confirmButtonColor: "#00b295",
			confirmButtonText: "Continuar",
			closeOnConfirm: false
		}, function () {
			var url = "{% url 'login' %}";
			document.location.href = url;
		});

	});


</script>
{% endif %}
</body>

</html>
