{% extends 'tags/empty_page.html' %}
{% load staticfiles %}
{% load querys %}

{% block head %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>

        {% if datos_empresa.nombre_empresa == None %}
          Dashboard | Bienvenido
        {% else %}
          {{datos_empresa.nombre_empresa}} | Bienvenido
        {% endif %}

    </title>
    <link rel="icon" type="image/png" href="{% static 'img/icono-springlabs.png' %}" />

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/iCheck/custom.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/chosen/bootstrap-chosen.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/colorpicker/bootstrap-colorpicker.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/cropper/cropper.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/switchery/switchery.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/jasny/jasny-bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/nouslider/jquery.nouislider.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/datapicker/datepicker3.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/ionRangeSlider/ion.rangeSlider.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/clockpicker/clockpicker.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/daterangepicker/daterangepicker-bs3.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/select2/select2.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/touchspin/jquery.bootstrap-touchspin.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/dualListbox/bootstrap-duallistbox.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/animate.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/blueimp/css/blueimp-gallery.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/estilos_menu.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>


{% endblock head %}

{% block js %}
    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{% static 'js/inspinia.js' %}"></script>
    <script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
    <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

    <!-- Chosen -->
    <script src="{% static 'js/plugins/chosen/chosen.jquery.js' %}"></script>

   <!-- JSKnob -->
   <script src="{% static 'js/plugins/jsKnob/jquery.knob.js' %}"></script>

   <!-- Input Mask-->
    <script src="{% static 'js/plugins/jasny/jasny-bootstrap.min.js' %}"></script>

   <!-- Data picker -->
   <script src="{% static 'js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>

   <!-- NouSlider -->
   <script src="{% static 'js/plugins/nouslider/jquery.nouislider.min.js' %}"></script>

   <!-- Switchery -->
   <script src="{% static 'js/plugins/switchery/switchery.js' %}"></script>

    <!-- IonRangeSlider -->
    <script src="{% static 'js/plugins/ionRangeSlider/ion.rangeSlider.min.js' %}"></script>

    <!-- iCheck -->
    <script src="{% static 'js/plugins/iCheck/icheck.min.js' %}"></script>

    <!-- MENU -->
    <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>

    <!-- Color picker -->
    <script src="{% static 'js/plugins/colorpicker/bootstrap-colorpicker.min.js' %}"></script>

    <!-- Clock picker -->
    <script src="{% static 'js/plugins/clockpicker/clockpicker.js' %}"></script>

    <!-- Image cropper -->
    <script src="{% static 'js/plugins/cropper/cropper.min.js' %}"></script>

    <!-- Date range use moment.js same as full calendar plugin -->
    <script src="{% static 'js/plugins/fullcalendar/moment.min.js' %}"></script>

    <!-- Date range picker -->
    <script src="{% static 'js/plugins/daterangepicker/daterangepicker.js' %}"></script>

    <!-- Select2 -->
    <script src="{% static 'js/plugins/select2/select2.full.min.js' %}"></script>

    <!-- TouchSpin -->
    <script src="{% static 'js/plugins/touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>

    <!-- Tags Input -->
    <script src="{% static 'js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script>

    <!-- Dual Listbox -->
    <script src="{% static 'js/plugins/dualListbox/jquery.bootstrap-duallistbox.js' %}"></script>

    <!-- blueimp gallery -->
    <script src="{% static 'js/plugins/blueimp/jquery.blueimp-gallery.min.js' %}"></script>


    <script src="{% static 'js/plugins/dataTables/datatables.min.js' %}"></script>

    <link href="{% static 'css/plugins/dataTables/datatables.min.css' %}" rel="stylesheet">


{% endblock js %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                pageLength: 25,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy'},
                    {extend: 'csv'},
                    {extend: 'excel', title: 'ExampleFile'},
                    {extend: 'pdf', title: 'ExampleFile'},

                    {extend: 'print',
                     customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                    }
                    }
                ]

            });

        });
    </script>

{% endblock scripts %}

{% block contenido_header %}
    <div class="row wrapper white-bg page-heading">
        <div class="col-sm-4">
            <h2><img alt="image" height="50" src="{{cliente.logotipo.url}}" /></h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{% url 'home' %}">Inicio</a>
                </li>
                <li class="active">
                    <a href=""><strong>Agentes</strong></a>
                </li>
            </ol>
        </div>
        <div class="col-sm-8">
            <div class="title-action">
                <h2><strong>{{cliente.nombre_cliente}}</strong></h2>
            </div>
        </div>
    </div>
{% endblock contenido_header %}

{% block contenido %}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
        <div class="ibox float-e-margins">
            <div class="ibox-title content-grafica">
                <h5>Listado de Agentes</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#">Config option 1</a>
                        </li>
                        <li><a href="#">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content content-grafica">

            <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover dataTables-example tabla-dashboard">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Id del proyecto</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>

            {% for agente in agentes %}

            <tr class="gradeX">
                <td>{{agente.nombre_agente}}</td>
                <td>{{agente.id_proyecto}}</td>
                <td class="center">
                    <a href="{% url 'interacciones' agente.id %}">
                    <p class="text-success">Historial</p></a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
            </table>
                </div>

            </div>
        </div>
    </div>
    </div>
</div>

{% endblock contenido %}
