{% extends 'tags/empty_page.html' %}
{% load staticfiles %}
{% load querys %}

{% block head %}

    {% nombre_plataforma source as plataforma %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>

        {% if datos_empresa.nombre_empresa == None %}
          Dashboard | Bienvenido
        {% else %}
          {{datos_empresa.nombre_empresa}} | Bienvenido
        {% endif %}

    </title>
<link rel="icon" type="image/png" href="{% static 'img/icono-springlabs.png' %}" />

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/iCheck/custom.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/chosen/bootstrap-chosen.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/colorpicker/bootstrap-colorpicker.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/cropper/cropper.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/switchery/switchery.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/jasny/jasny-bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/nouslider/jquery.nouislider.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/datapicker/datepicker3.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/ionRangeSlider/ion.rangeSlider.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/clockpicker/clockpicker.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/daterangepicker/daterangepicker-bs3.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/select2/select2.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/touchspin/jquery.bootstrap-touchspin.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/dualListbox/bootstrap-duallistbox.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/animate.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/blueimp/css/blueimp-gallery.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/estilos_menu.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>


{% endblock head %}

{% block js %}
    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{% static 'js/inspinia.js' %}"></script>
    <script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
    <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

    <!-- Chosen -->
    <script src="{% static 'js/plugins/chosen/chosen.jquery.js' %}"></script>

   <!-- JSKnob -->
   <script src="{% static 'js/plugins/jsKnob/jquery.knob.js' %}"></script>

   <!-- Input Mask-->
    <script src="{% static 'js/plugins/jasny/jasny-bootstrap.min.js' %}"></script>

   <!-- Data picker -->
   <script src="{% static 'js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>

   <!-- NouSlider -->
   <script src="{% static 'js/plugins/nouslider/jquery.nouislider.min.js' %}"></script>

   <!-- Switchery -->
   <script src="{% static 'js/plugins/switchery/switchery.js' %}"></script>

    <!-- IonRangeSlider -->
    <script src="{% static 'js/plugins/ionRangeSlider/ion.rangeSlider.min.js' %}"></script>

    <!-- iCheck -->
    <script src="{% static 'js/plugins/iCheck/icheck.min.js' %}"></script>

    <!-- MENU -->
    <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>

    <!-- Color picker -->
    <script src="{% static 'js/plugins/colorpicker/bootstrap-colorpicker.min.js' %}"></script>

    <!-- Clock picker -->
    <script src="{% static 'js/plugins/clockpicker/clockpicker.js' %}"></script>

    <!-- Image cropper -->
    <script src="{% static 'js/plugins/cropper/cropper.min.js' %}"></script>

    <!-- Date range use moment.js same as full calendar plugin -->
    <script src="{% static 'js/plugins/fullcalendar/moment.min.js' %}"></script>

    <!-- Date range picker -->
    <script src="{% static 'js/plugins/daterangepicker/daterangepicker.js' %}"></script>

    <!-- Select2 -->
    <script src="{% static 'js/plugins/select2/select2.full.min.js' %}"></script>

    <!-- TouchSpin -->
    <script src="{% static 'js/plugins/touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>

    <!-- Tags Input -->
    <script src="{% static 'js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script>

    <!-- Dual Listbox -->
    <script src="{% static 'js/plugins/dualListbox/jquery.bootstrap-duallistbox.js' %}"></script>

    <!-- blueimp gallery -->
    <script src="{% static 'js/plugins/blueimp/jquery.blueimp-gallery.min.js' %}"></script>


    <script src="{% static 'js/plugins/dataTables/datatables.min.js' %}"></script>

    <link href="{% static 'css/plugins/dataTables/datatables.min.css' %}" rel="stylesheet">

{% endblock js %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                pageLength: 25,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy'},
                    {extend: 'csv'},
                    {extend: 'excel', title: 'ExampleFile'},
                    {extend: 'pdf', title: 'ExampleFile'},

                    {extend: 'print',
                     customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                    }
                    }
                ]

            });

        });
    </script>

{% endblock scripts %}

{% block contenido_header %}
{% nombre_plataforma source as plataforma %}
    <div class="row wrapper page-heading">
        <div class="col-sm-4">
            <h2><img alt="image" height="50" src="{{cliente.logotipo.url}}" /></h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{% url 'home' %}">Inicio</a>
                </li>
                {% if request.user|has_group:"Administrador" %}
                <li>
                    <a href="{% url 'agentes' cliente.id %}">Agentes</a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'interacciones' id_agente %}">Interacciones</a>
                </li>
                <li class="active">
                    <a href=""><strong>{{plataforma}}</strong></a>
                </li>
            </ol>
        </div>
<!--         <div class="col-sm-8">
            <div class="title-action">
                <h2><strong><p class="text-success">{{cliente.nombre_cliente}}</p></strong></h2>
            </div>
        </div> -->
    </div>
{% endblock contenido_header %}

{% block contenido %}
{% nombre_plataforma source as plataforma %}
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="ibox-content m-b-sm">
                <div class="p-xs">
                    <div class="pull-left m-r-md">
                        
                    </div>
                    <div class="pull-right m-r-md">
                        <h2><strong><p class="text-info">{{agente}}</p></strong></h2>
                    </div>
                    <h2>{{plataforma}}</h2>
                    <span>Historial de interacciones</span>
                </div>
            </div>

            {% for chat in sesiones reversed %}
            <div class="faq-item">
                <div class="row">
                    <div class="col-md-7">
                        <a data-toggle="collapse" href="#{{chat.session}}" class="faq-question">
                        {% titulo_chat chat.session as titulo %}
                        Sesión {{plataforma}}: {{titulo}}
                        </a>
                        {% hora_inicial chat.session as inicio %}
                        {% hora_final chat.session as fin %}
                        <small><i class="fa fa-clock-o"></i> <strong>Inicio</strong> {{inicio}} <i class="fa fa-clock-o"></i> <strong>Fin</strong> {{fin}}</small>
                    </div>
                    <div class="col-md-3">
                        {% cliente_agente chat.session as cliente %}
                        <span class="small font-bold">{{cliente}}</span>
                        <div class="tag-list">
                            <span class="tag-item">{{plataforma}}</span>
                        </div>
                    </div>
                    <div class="col-md-2 text-right">
                        <span class="small font-bold">Total </span><br/>
                        {{chat.total_interacciones}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div id="{{chat.session}}" class="panel-collapse collapse ">
                            <div class="wrapper wrapper-content">
                                <div class="col-lg-12">
                                    <div class="ibox float-e-margins">
                                        <div class="faq-answer" id="ibox-content">
                                            <div id="vertical-timeline" class="vertical-container light-timeline left-orientation">
                                                {% for inter in interacciones %}
                                                {% if inter.session.id == chat.session %}
                                                <div class="vertical-timeline-block">
                                                    <div class="vertical-timeline-icon navy-bg">
                                                        <i class="fa fa-user-o"></i>
                                                    </div>

                                                    <div class="vertical-timeline-content">
                                                        <p>
                                                            <strong>
                                                            {{inter.queryText}}
                                                            </strong>
                                                        </p>
                                                        <span class="btn btn-sm btn-primary">&nbsp;Usuario&nbsp;</span>
                                                    </div>
                                                </div>

                                                <div class="vertical-timeline-block">
                                                    <div class="vertical-timeline-icon yellow-bg">
                                                        <i class="fa fa-{{plataforma}}"></i>
                                                    </div>

                                                    <div class="vertical-timeline-content">
                                                        <p class="text-danger">
                                                            <strong>
                                                            {% ifequal inter.fulfillmentText 'Vacio' %}
                                                            {% else %}
                                                                <strong>{{inter.fulfillmentText}}</strong>
                                                            {% endifequal %}
                                                            </strong>
                                                        </p>
                                                        <p>
                                                            {% for tarjeta in tarjetas %}
                                                                {% if inter.responseId == tarjeta.responseId.responseId %}
                                                                    <p class="text-success">
                                                                        {% ifequal tarjeta.title 'Vacio' %}
                                                                            <strong>Opciones</strong>
                                                                        {% else %}
                                                                            <strong>{{tarjeta.title}}</strong>
                                                                        {% endifequal %}
                                                                        {% ifequal tarjeta.subtitle None %}
                                                                        {% else %}
                                                                            <br><small>{{tarjeta.subtitle}}</small>
                                                                        {% endifequal %}
                                                                    </p>
                                                                    {% for boton in botones %}
                                                                        {% if tarjeta.responseId == boton.card.responseId %}

                                                                            <div class="ibox float-e-margins">
                                                                                <span class="vertical-date"><span class="btn btn-success btn-rounded btn-outline">{{boton.text}}</span></span><br>
                                                                            </div>

                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endif %}
                                                            {% endfor %}
                                                        </p>
                                                        <span class="btn btn-sm btn-warning">&nbsp;&nbsp;Agente&nbsp;&nbsp;</span>
                                                        <span class="vertical-date">
                                                            Fecha / Hora<br/>
                                                            <small>{{inter.date}}</small>
                                                        </span>
                                                    </div>
                                                </div>
                                                 <hr>
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock contenido %}
