{% extends 'tags/empty_page.html' %}
{% load staticfiles %}
{% load querys %}

{% block head %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>

        {% if datos_empresa.nombre_empresa == None %}
          Dashboard | Chats
        {% else %}
          {{datos_empresa.nombre_empresa}} | Chats
        {% endif %}

    </title>

    <link rel="icon" type="image/png" href="{% static 'img/icono-springlabs.png' %}" />

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/iCheck/custom.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/chosen/bootstrap-chosen.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/colorpicker/bootstrap-colorpicker.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/cropper/cropper.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/switchery/switchery.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/jasny/jasny-bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/nouslider/jquery.nouislider.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/datapicker/datepicker3.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/ionRangeSlider/ion.rangeSlider.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/clockpicker/clockpicker.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/daterangepicker/daterangepicker-bs3.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/select2/select2.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/touchspin/jquery.bootstrap-touchspin.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/dualListbox/bootstrap-duallistbox.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/animate.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/blueimp/css/blueimp-gallery.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/estilos_menu.css' %}" rel="stylesheet">

    <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>

    <style>
      div.chat-discussion {
        height: 700px;
        width: 100%;
        background-color:#d2ebed;
      }
    </style>


{% endblock head %}


{% block js %}
    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{% static 'js/inspinia.js' %}"></script>
    <script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
    <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

    <!-- Chosen -->
    <script src="{% static 'js/plugins/chosen/chosen.jquery.js' %}"></script>

   <!-- JSKnob -->
   <script src="{% static 'js/plugins/jsKnob/jquery.knob.js' %}"></script>

   <!-- Input Mask-->
    <script src="{% static 'js/plugins/jasny/jasny-bootstrap.min.js' %}"></script>

   <!-- Data picker -->
   <script src="{% static 'js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>

   <!-- NouSlider -->
   <script src="{% static 'js/plugins/nouslider/jquery.nouislider.min.js' %}"></script>

   <!-- Switchery -->
   <script src="{% static 'js/plugins/switchery/switchery.js' %}"></script>

    <!-- IonRangeSlider -->
    <script src="{% static 'js/plugins/ionRangeSlider/ion.rangeSlider.min.js' %}"></script>

    <!-- iCheck -->
    <script src="{% static 'js/plugins/iCheck/icheck.min.js' %}"></script>

    <!-- MENU -->
    <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>

    <!-- Color picker -->
    <script src="{% static 'js/plugins/colorpicker/bootstrap-colorpicker.min.js' %}"></script>

    <!-- Clock picker -->
    <script src="{% static 'js/plugins/clockpicker/clockpicker.js' %}"></script>

    <!-- Image cropper -->
    <script src="{% static 'js/plugins/cropper/cropper.min.js' %}"></script>

    <!-- Date range use moment.js same as full calendar plugin -->
    <script src="{% static 'js/plugins/fullcalendar/moment.min.js' %}"></script>

    <!-- Date range picker -->
    <script src="{% static 'js/plugins/daterangepicker/daterangepicker.js' %}"></script>

    <!-- Select2 -->
    <script src="{% static 'js/plugins/select2/select2.full.min.js' %}"></script>

    <!-- TouchSpin -->
    <script src="{% static 'js/plugins/touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>

    <!-- Tags Input -->
    <script src="{% static 'js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script>

    <!-- Dual Listbox -->
    <script src="{% static 'js/plugins/dualListbox/jquery.bootstrap-duallistbox.js' %}"></script>

    <!-- blueimp gallery -->
    <script src="{% static 'js/plugins/blueimp/jquery.blueimp-gallery.min.js' %}"></script>



    <!-- Morris -->
    <link href="{% static 'css/plugins/morris/morris-0.4.3.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Morris demo data-->
    <script src="{% static 'js/demo/morris-demo.js' %}"></script>

    <!-- Morris -->
    <script src="{% static 'js/plugins/morris/raphael-2.1.0.min.js' %}"></script>
    <script src="{% static 'js/plugins/morris/morris.js' %}"></script>

    <link href="{% static 'css/plugins/dataTables/datatables.min.css' %}" rel="stylesheet">

    <script src="{% static 'js/plugins/dataTables/datatables.min.js' %}"></script>

    <script src="{% static 'js/plugins/chartJs/Chart.min.js' %}"></script>


    <script src="http://code.jquery.com/jquery-latest.min.js"></script>


{% endblock js %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                pageLength: 25,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy'},
                    {extend: 'csv'},
                    {extend: 'excel', title: 'ExampleFile'},
                    {extend: 'pdf', title: 'ExampleFile'},

                    {extend: 'print',
                     customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                    }
                    }
                ]

            });

        });
    </script>

    <script type="text/javascript">
        var chatBox;

        chatBox = document.querySelector('.chat-discussion');

        // cuando exista un nuevo mensaje
        chatBox.scrollTop = chatBox.scrollHeight;
    </script>

    <script>

  function scrollSmoothToBottom (id) {
     var div = document.getElementById(id);
     $('#' + id).animate({
        scrollTop: div.scrollHeight - div.clientHeight
     }, 500);
  }

  var session_id = document.getElementById("session_id").value;
  var agente_id = document.getElementById("agente_id").value;
  var plataforma = document.getElementById("plataforma").value;
  var titulo = document.getElementById("titulo").value;

  function submit_message(message, user) {

    $.post( "/send_message", {
        message: message,
        user: user,
    }, handle_response);

    function handle_response(data) {
      // append the bot repsonse to the div
      var date = new Date(data.date);
      var logoCliente = document.getElementById("imagen_id").value
      dateString = date.toUTCString();
      if (data.message != ""){
        console.log(data);
        if ((data.nombre)&&(data.apellido)){
          $('.chat-discussion').append(`
                <div class="chat-message left" id="loading">
                <img class="message-avatar" src="https://cdn3.iconfinder.com/data/icons/faticons/32/user-01-128.png" alt="" >
                <div class="message">
                    <a class="message-author" href="#">`+ data.nombre + ` ` + data.apellido+` </a>
                    <span class="message-date">`+ date.toLocaleString() +`</span>
                    <span class="message-content text-negro">
                        ${data.message}
                    </span>
                </div>
            </div>
          `)}
        else{
          $('.chat-discussion').append(`
                <div class="chat-message left" id="loading">
                <img class="message-avatar" src="https://cdn3.iconfinder.com/data/icons/faticons/32/user-01-128.png" alt="" >
                <div class="message">
                    <a class="message-author" href="#">`+ titulo +` </a>
                    <span class="message-date">`+ date.toLocaleString() +`</span>
                    <span class="message-content text-negro">
                        ${data.message}
                    </span>
                </div>
            </div>
          `)}}
      if (data.bot != ""){
      $('.chat-discussion').append(`
          <div class="chat-message right">
              <img class="message-avatar" src="`+logoCliente+`" alt="" >
              <div class="message">
                  <a class="message-author" href="#">`+ data.nombre_bot +`</a>
                  <span class="message-date">`+ date.toLocaleString() +`</span>
                  <span class="message-content text-negro">
                      ${data.bot}
                  </span>
              </div>
          </div>
      `)}
      // remove the loading indicator
      // $( "#loading" ).remove();
      scrollSmoothToBottom("div")
    }
}

$('#target').on('submit', function(e){
    e.preventDefault();
    const input_message = $('#input_message').val()

    // return if the user does not enter any text
    if (!input_message) {
      return
    }
    imput_message(input_message, session_id, plataforma)

    // clear the text input
    $('#input_message').val('')
    scrollSmoothToBottom("div");
    // send the message
    // submit_message(input_message)
});

function imput_message(message, session_id, plataforma) {

  $.post( "/imput_message", {
      message: message,
      session: session_id,
      plataforma: plataforma,
  }, handle_response_2);

  function handle_response_2(data) {
    // append the bot repsonse to the div
    console.log(data.message);
  }
}


function submit_sesion(session, user, plataforma, cero) {

    console.log("YA SE ESTA EJECUTANDO FUNCIÓN")

    $.post( "/send_session", {
        session: session,
        user: user,
        plataforma: plataforma,
    }, handle_response_3);

    function handle_response_3(data) {
        console.log("YA SE ESTA EJECUTANDO FUNCIÓN")
      // append the bot repsonse to the div
      var date = new Date(data.date);
      var aux_mes = date.getMonth() + 1;
      if(aux_mes == 1){
        var mes = "Enero";
      }else if(aux_mes == 2){
        var mes = "Febrero";
      }else if(aux_mes == 3){
        var mes = "Marzo";
      }else if(aux_mes == 4){
        var mes = "Abril";
      }else if(aux_mes == 5){
        var mes = "Mayo";
      }else if(aux_mes == 6){
        var mes = "Junio";
      }else if(aux_mes == 7){
        var mes = "Julio";
      }else if(aux_mes == 8){
        var mes = "Agosto";
      }else if(aux_mes == 9){
        var mes = "Septiembre";
      }else if(aux_mes == 10){
        var mes = "Octubre";
      }else if(aux_mes == 11){
        var mes = "Noviembre";
      }else if(aux_mes == 12){
        var mes = "Diciembre"
      }
      var dia = date.getDate();
      var año = date.getFullYear();
      var sesion = data.session;
      var plataforma = data.plataforma;
      var id_sesion = data.id_session;
      var status = data.status;
      var sesion_seleccionada = document.getElementById("session_id").value;
      var agente_id = document.getElementById("agente_id").value;
      dateString = date.toUTCString();
      var url = data.url
      var url1 = "facebook.com"
      var fechaImprimir = dia + " de "+ mes + " de "+año;
      var cortar_cadena = data.mensaje.slice(0, 25);
      var mensaje = "";
      if(data.mensaje.length > 25) {
        mensaje = cortar_cadena+"...";
      }else {
        mensaje = data.mensaje;
      }

      if (data.sesion != ""){
        console.log(data);
        if(cero == id_sesion){
            console.log("ENTRA");
            $('.users-list').remove();
            $('.file-manager').append(
                '<div class="users-list"></div>'
            )
        }
        if (data.plataforma == 'Developer Source'){
            if(sesion_seleccionada == sesion) {
                $('.users-list').prepend(`
                    <a href="${id_sesion}" class="links-sesiones">
                      <div class="chat-user chat-sesiones col-lg-12" style="background: rgba(21,103,120,1);">
                        <i class="chat-avatar fa fa-file-code-o"></i>
                          <div class="chat-user-name">
                            <div class="col-lg-6 text-azul" style="font-weight: bold;">
                              ${plataforma.toUpperCase()}
                            </div>
                            <spam style="font-size:9px; color:#3C9A93;">
                              <p class="text-right text-blanco">${fechaImprimir}</p>
                            </spam>
                            <div class="col-lg-12 float-md-left">
                              <div class="col-lg-1"></div>
                              <div class="col-lg-10">
                                <p class="text-blanco">${mensaje}</p>
                              </div>
                            </div>
                          </div>
                      </div>
                    </a>
              `)
            }

            else if(status == 0) {
                $('.users-list').prepend(`
                    <a href="${id_sesion}" class="links-sesiones">
                      <div class="chat-user chat-sesiones col-lg-12" style="background: #0084bf;">
                        <i class="chat-avatar fa fa-file-code-o"></i>
                          <div class="chat-user-name">
                            <div class="col-lg-6 text-azul" style="font-weight: bold;">
                              ${plataforma.toUpperCase()}
                            </div>
                            <spam style="font-size:9px; color:#3C9A93;">
                              <p class="text-right text-blanco">${fechaImprimir}</p>
                            </spam>
                            <div class="col-lg-12 float-md-left">
                              <div class="col-lg-1"></div>
                              <div class="col-lg-10">
                                <p class="text-blanco">${mensaje}</p>
                              </div>
                            </div>
                          </div>
                      </div>
                    </a>
              `)
            }
            else {
                $('.users-list').prepend(`
                   <a href="${id_sesion}" class="links-sesiones">
                      <div class="chat-user chat-sesiones col-lg-12">
                        <i class="chat-avatar fa fa-file-code-o"></i>
                          <div class="chat-user-name">
                            <div class="col-lg-6 text-azul" style="font-weight: bold;">
                              ${plataforma.toUpperCase()}
                            </div>
                            <spam style="font-size:9px; color:#3C9A93;">
                              <p class="text-right text-blanco">${fechaImprimir}</p>
                            </spam>
                            <div class="col-lg-12 float-md-left">
                              <div class="col-lg-1"></div>
                              <div class="col-lg-10">
                                <p class="text-blanco">${mensaje}</p>
                              </div>
                            </div>
                          </div>
                      </div>
                    </a>
              `)
            }
        }
        else if (data.plataforma == 'skype'){
            if(sesion_seleccionada == sesion) {
                $('.users-list').prepend(`

                    <a href="${id_sesion}" class="links-sesiones">
                      <div class="chat-user chat-sesiones col-lg-12" style="background: rgba(21,103,120,1);"">
                        <i class="chat-avatar fa fa-file-code-o"></i>
                          <div class="chat-user-name">
                            <div class="col-lg-6 text-azul" style="font-weight: bold;">
                              WEB CHAT SIN HANDOVER
                            </div>
                            <spam style="font-size:9px; color:#3C9A93;">
                              <p class="text-right text-blanco">${fechaImprimir}</p>
                            </spam>
                            <div class="col-lg-12 float-md-left">
                              <div class="col-lg-1"></div>
                              <div class="col-lg-10">
                                <p class="text-blanco">${mensaje}</p>
                              </div>
                            </div>
                          </div>
                      </div>
                    </a>
                `)
            }
            else if(status == 0) {
                $('.users-list').prepend(`
                    <a href="${id_sesion}" class="links-sesiones">
                      <div class="chat-user chat-sesiones col-lg-12" style="background: #0084bf;">
                        <i class="chat-avatar fa fa-file-code-o"></i>
                          <div class="chat-user-name">
                            <div class="col-lg-6 text-azul" style="font-weight: bold;">
                              ${plataforma.toUpperCase()}
                            </div>
                            <spam style="font-size:9px; color:#3C9A93;">
                              <p class="text-right text-blanco">${fechaImprimir}</p>
                            </spam>
                            <div class="col-lg-12 float-md-left">
                              <div class="col-lg-1"></div>
                              <div class="col-lg-10">
                                <p class="text-blanco">${mensaje}</p>
                              </div>
                            </div>
                          </div>
                      </div>
                    </a>
                `)
            }
            else
            {
                $('.users-list').prepend(`
                      <a href="${id_sesion}" class="links-sesiones">
                        <div class="chat-user chat-sesiones col-lg-12">
                            <i class="chat-avatar fa fa-wechat"></i>
                            <div class="chat-user-name">
                            <div class="col-lg-6 text-azul" style="font-weight: bold;">
                              ${plataforma.toUpperCase()}
                            </div>
                            <spam style="font-size:9px; color:#3C9A93;">
                              <p class="text-right text-blanco">${fechaImprimir}</p>
                            </spam>
                            <div class="col-lg-12 float-md-left">
                              <div class="col-lg-1"></div>
                              <div class="col-lg-10">
                                <p class="text-blanco">${mensaje}</p>
                              </div>
                            </div>
                          </div>
                      </div>
                    </a>
                `)
            }
        }
        else{

            if(sesion_seleccionada == sesion) {
                $('.users-list').prepend(`

                    <a href="${id_sesion}" class="links-sesiones">
                      <div class="chat-user chat-sesiones col-lg-12" style="background: rgba(21,103,120,1);>
                        <i class="chat-avatar fa fa-${plataforma}"></i>
                          <div class="chat-user-name">
                            <div class="col-lg-6 text-azul" style="font-weight: bold;">
                              ${plataforma.toUpperCase()}
                            </div>
                            <spam style="font-size:9px; color:#3C9A93;">
                              <p class="text-right text-blanco">${fechaImprimir}</p>
                            </spam>
                            <div class="col-lg-12 float-md-left">
                              <div class="col-lg-1"></div>
                              <div class="col-lg-10">
                                <p class="text-blanco">${mensaje}</p>
                              </div>
                            </div>
                          </div>
                      </div>
                    </a>
                `)
            }
            else if(status == 0) {
                $('.users-list').prepend(`
                    <a href="${id_sesion}" class="links-sesiones">
                        <div class="chat-user chat-sesiones col-lg-12" style="background: #0084bf;">
                            <i class="chat-avatar fa fa-${plataforma}"></i>
                            <div class="chat-user-name">
                            <div class="col-lg-6 text-azul" style="font-weight: bold;">
                              ${plataforma.toUpperCase()}
                            </div>
                            <spam style="font-size:9px; color:#3C9A93;">
                              <p class="text-right text-blanco">${fechaImprimir}</p>
                            </spam>
                            <div class="col-lg-12 float-md-left">
                              <div class="col-lg-1"></div>
                              <div class="col-lg-10">
                                <p class="text-blanco">${mensaje}</p>
                              </div>
                            </div>
                          </div>
                      </div>
                    </a>

                `)
            }
            else{
                $('.users-list').prepend(`

                     <a href="${id_sesion}" class="links-sesiones">
                      <div class="chat-user chat-sesiones col-lg-12">
                        <i class="chat-avatar fa fa-${plataforma}"></i>
                          <div class="chat-user-name">
                            <div class="col-lg-6 text-azul" style="font-weight: bold;">
                              ${plataforma.toUpperCase()}
                            </div>
                            <spam style="font-size:9px; color:#3C9A93;">
                              <p class="text-right text-blanco">${fechaImprimir}</p>
                            </spam>
                            <div class="col-lg-12 float-md-left">
                              <div class="col-lg-1"></div>
                              <div class="col-lg-10">
                                <p class="text-blanco">${mensaje}</p>
                              </div>
                            </div>
                          </div>
                      </div>
                    </a>

                `)
            }
        }
    }

    }
}

</script>

    <script>
        setInterval(function(){

            var session_id = document.getElementById("session_id").value;

            var agente_id = document.getElementById("agente_id").value;
            if(session_id != "")
            {
              cuenta_interacciones(session_id, agente_id);
              cuenta_sesiones(session_id, agente_id);
            }else{
              cuenta_sesiones(session_id, agente_id);
            }


        },7000);


        function cuenta_sesiones(session_id, agente_id){
          var sesiones
          $.ajax({
            url: '{% url "contador_sesiones" %}',
            data: {
              'agente_id': agente_id,
            },
            dataType: 'json',
            success: function (JSONer) {
              let json = JSONer
              console.log(json);
              var json1 = JSON.parse(json);
              for (let i in json1){
                submit_sesion(json1[i].id_sesion, json1[i].id_user, json1[i].id_plataforma, json1[0].id_sesion);
              }
            }
          });
        }

        function cuenta_interacciones(session_id, agente_id){
          var sesiones
          $.ajax({
                url: '{% url "contador_interacciones" %}',
                data: {
                  'session_id': session_id,
                },
                dataType: 'json',
                success: function (JSONer) {
                  let json = JSONer
                  console.log(json)
                  for (let i in json){
                    for (let j in json[i]){
                      submit_message(json[i][j].responseId_id, json[i][j].id_user_id);
                    }
                  }
                }
            });
        }


    </script>
       <script type="text/javascript">
        function FindNext () {
            var str = document.getElementById ("findField").value;
            if (str == "") {
                alert ("Por favor ingresa un texto a buscar!");
                return;
            }

            var supported = false;
            var found = false;
            if (window.find) {        // Firefox, Google Chrome, Safari
                supported = true;
                    // if some content is selected, the start position of the search
                    // will be the end position of the selection
                found = window.find (str);
            }
            else {
                if (document.selection && document.selection.createRange) { // Internet Explorer, Opera before version 10.5
                    var textRange = document.selection.createRange ();
                    if (textRange.findText) {   // Internet Explorer
                        supported = true;
                            // if some content is selected, the start position of the search
                            // will be the position after the start position of the selection
                        if (textRange.text.length > 0) {
                            textRange.collapse (true);
                            textRange.move ("character", 1);
                        }

                        found = textRange.findText (str);
                        if (found) {
                            textRange.select ();
                        }
                    }
                }
            }

            if (supported) {
                if (!found) {
                    alert ("EL sigiente texto no fue encontrado:\n" + str);
                }
            }
            else {
                alert ("Tu navegador no soporta esta opción de busqueda!");
            }
        }
    </script>





{% endblock scripts %}

{% block contenido_header %}
    <div class="row wrapper white-bg page-heading">
        <div class="col-sm-4">
            <h2><img alt="image" height="50" src="{{cliente.logotipo.url}}" /></h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{% url 'home' %}">Inicio</a>
                </li>
                {% if request.user|has_group:"Administrador" %}
                <li>
                    <a href="{% url 'agentes' cliente.id %}">Agentes</a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'interacciones' agente %}">Interacciones</a>
                </li>
                <li class="active">
                    <a href=""><strong>Chats</strong></a>
                </li>
            </ol>
        </div>
        <div class="col-sm-8">
            <div class="title-action">
                <h2><strong>{{cliente.nombre_cliente}}:</strong> {{objAgente.nombre_agente}}</h2>
            </div>
        </div>
    </div>


{% endblock contenido_header %}

{% block contenido %}
{% titulo_chat sesion_seleccionada.id as titulo %}
{% nombre_plataforma plataforma as plataforma %}

    <input id="session_id" name="session_id" type="hidden" value="{{sesion_seleccionada.session}}">
    <input id="agente_id" name="agente_id" type="hidden" value="{{agente}}">
    <input id="titulo" name="titulo" type="hidden" value="{{titulo}}">

    <div class="wrapper wrapper-content">
      <div class="row">
        <div class="col-lg-3 animated fadeIn chat-usuarios" >
            <div class="ibox float-e-margins">
                <div class="ibox-content mailbox-content">
                    <div class="file-manager">
                      <h5 class="text-azul"><strong>Sesiones</strong></h5>
                      <div class="users-list chat-users-sesiones">
                      {% for sesion in lista_ordenada reversed %}
                          <ul class="category-list" style="padding: 0">
                            <li>
                              <a href="{% url 'chats' agente sesion.obj_sesion.id %}" class="links-sesiones">
                              {% if sesion_seleccionada.session == sesion.obj_sesion.session %}
                                <div class="chat-user chat-sesiones col-lg-12" style="background: rgba(21,103,120,1);">
                              {% elif sesion.status == 0 %}
                                <div class="chat-user chat-sesiones col-lg-12" style="background: #0084bf">
                              {% else %}
                                <div class="chat-user chat-sesiones col-lg-12">
                              {% endif %}
                              {% if sesion.objPlataforma.originalDetectIntentRequest_source|stringformat:"s" == 'Developer Source' %}
                                  <i class="chat-avatar fa fa-file-code-o"></i>
                              {% elif sesion.objPlataforma.originalDetectIntentRequest_source|stringformat:"s" == 'skype' %}
                                  <i class="chat-avatar fa fa-wechat"></i>
                              {% elif sesion.objPlataforma.originalDetectIntentRequest_source|stringformat:"s" == 'Web Chat' %}
                                  <i class="chat-avatar fa fa-wechat"></i>
                              {% else %}
                                  <i class="chat-avatar fa fa-{{sesion.objPlataforma.originalDetectIntentRequest_source}}"></i>
                              {% endif %}
                              <div class="chat-user-name">
                                <div class="col-lg-6"style="font-weight: bold;">
                                  {% if sesion.objPlataforma.originalDetectIntentRequest_source|stringformat:"s" == 'skype' %}
                                    <p class="text-azul">WEB CHAT SIN HANDOVER</p>
                                  {% else %}
                                    <p class="text-azul">{{sesion.objPlataforma.originalDetectIntentRequest_source|upper}}</p>
                                  {% endif %}
                                </div>
                                <spam style="font-size:9px; color:#3C9A93;">
                                  <p class="text-right text-blanco">{{sesion.fecha.date}}</p>
                                </spam>
                              </div>
                              <div class="col-lg-12 float-md-left">
                                <div class="col-lg-1"></div>
                                <div class="col-lg-10">
                                  <p class="text-blanco">{{sesion.mensaje|slice:"25"}}</p>
                                </div>
                              </div>
                              </div>
                              </a>
                            </li>
                          </ul>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-9 animated fadeInUp chat-mensajes">
              <div class="mail-box-header content-grafica">
                <div class="row">
                  <div class="wrapper wrapper-content">
                    <div class="col-md-6">
                        <input class="form-control" type="text" id="findField" placeholder="Introduce lo que deseas buscar" style="width: 100%;" />
                    </div>
                    <div class="col-md-3">
                      <button class="btn btn-success btn-rounded" onclick="FindNext();" style="width: 100%;">Buscar</button>
                    </div>
                    <div class="col-md-3">
                      {% if plataforma|stringformat:"s" == 'facebook' %}
                          <a class="btn btn-primary btn-rounded" style="width: 100%;" href="{% url 'facebook_room' agente plataforma.id id_sesion sesion_seleccionada.facebook_chat %}">Handover</a>
                      {% elif plataforma|stringformat:"s" == 'telegram' %}
                          <a class="btn btn-primary btn-rounded" style="width: 100%;" href="{% url 'telegram_room' agente plataforma.id id_sesion sesion_seleccionada.originalDetectIntentRequest_chat_id %}">Handover</a>
                      {% elif plataforma|stringformat:"s" == 'whatsapp' %}
                          {% if objAgente.api_ws == True %}
                            <a class="btn btn-primary btn-rounded" style="width: 100%;" href="{% url 'whatsapp_room' agente plataforma.id sesion_seleccionada.id %}">Handover</a>
                          {% else %}
                            <a class="btn btn-primary btn-rounded" style="width: 100%;" href="https://api.whatsapp.com/send?phone={{titulo}}" target="_blank" id="demo" onclick="myFunction()">Handover</a>
                          {% endif %}
                      {% else %}
                          <a class="btn btn-primary btn-rounded disabled" style="width: 100%;" href="#">Handover</a>
                      {% endif %}
                      <!-- <button class="btn btn-primary btn-rounded" style="width: 100%;">HandOver</button> -->
                    </div>
                  </div>
                </div>
                </div>
                <div class="ibox float-e-margins">
                  <div class="ibox-content content-grafica">
                      <div class="chat-discussion chat-discussion-sesiones" id="div">
                        {% if id_sesion != '0' %}
                            {% titulo_chat id_sesion as titulo %}
                            {% for interaccion in interacciones_seleccionadas%}
                                {% nombre_plataforma interaccion.originalDetectIntentRequest_source.id as plataforma %}
                                <div class="chat-message left">
                                    <img class="message-avatar" src="https://cdn3.iconfinder.com/data/icons/faticons/32/user-01-128.png" alt="" >
                                    <div class="message">
                                        {% if plataforma|stringformat:"s" == 'telegram' %}
                                        <a class="message-author" href="#"> {{interaccion.session.originalDetectIntentRequest_chat_first_name}} {{interaccion.session.originalDetectIntentRequest_chat_last_name}}</a>
                                        {% else %}
                                        <a class="message-author" href="#"> {{titulo}}</a>
                                        {% endif %}
                                        <span class="message-date"> {{interaccion.date}} </span>
                                        <span class="message-content text-negro">
                                        {{interaccion.queryText}}
                                        </span>
                                    </div>
                                </div>
                                <div class="chat-message right">
                                    <img class="message-avatar" src="{{interaccion.session.id_proyecto.cliente.logotipo.url}}" alt="" >
                                    <input id="imagen_id" name="imagen_id" type="hidden" value="{{interaccion.session.id_proyecto.cliente.logotipo.url}}">
                                    <div class="message">
                                        <a class="message-author" href="#"> {{interaccion.session.id_proyecto.nombre_agente}} </a>
                                        <span class="message-date">  {{interaccion.date}} </span>
                                        <span class="message-content text-negro">
                                        {{interaccion.fulfillmentText}}
                                        </span>
                                    </div>
                                </div>

                            {% endfor %}
                        {% else %}
                            <div style="text-align:center;">
                                <br><br>
                                <br><br>
                                <br><br>
                                <br><br>
                                <br><br>
                              <img src="https://www.zapptales.com/wp-content/uploads/2018/05/Facebook-Nachrichten-l%C3%B6schen-So-gehts.jpg" alt="" class="img-circle" style="width: 160px; height: 160px;">
                              <h1>Selecciona una conversacion.</h1>
                              <h3>Los mensajes y sesiones tienen un margen de espera de 5 segundos.</h3>
                            </div>
                        {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

{% endblock contenido %}
