{% load static %}
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>

{% if datos_empresa.nombre_empresa == None %}
  Dashboard | Bienvenido
{% else %}
  {{datos_empresa.nombre_empresa}} | Bienvenido
{% endif %}

</title>


<link rel="icon" type="image/png" href="{% static 'img/icono-springlabs.png' %}" />

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/estilos-responsive.css' %}">
<link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet">
<link href="{% static 'css/estilos_menu.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'js/menu.js' %}"></script>

<!-- Sweet Alert -->
<link href="{% static 'css/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet">
</head>

<body margin="50px">
<!--TOP-->
  <div class="top">
    <div class="row">
    <br>

      <div class="col-sm-4">
        {% if datos_empresa.logotipo != '' %}
        <img class="img-responsive" src="{{datos_empresa.logotipo.url}}" align="center" width="200px" />
        {% endif %}
      </div>
      <div class="col-sm-8">
       {% if next %}
       <form class="form-inline" action="/login/?next={{next}}" method="post" enctype="multipart/form-data">
         {%else%}
          <form class="form-inline" action="/login/?next={{next}}" method="post" enctype="multipart/form-data">
             {%endif%}
             {% csrf_token %}
            <div class="form-group">
              <label id="lblformlogin">Usuario</label>
              <input class="form-control" type="text" placeholder="Usuario o correo" name="username"/>
            </div>
            <div class="form-group">
              <label id="lblformlogin">Contraseña</label>
              <input class="form-control" type="password" placeholder="Contraseña" name="password"/>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
            <div class="checkbox">
              <p class="p1"><a href="{% url 'password_reset' %}">olvidé mi contraseña</a></p>
            </div>
            <!--<div class="form1_shoot">Contraseña<input type="password" placeholder="Contraseña" name="password"></div>
            <div class="form2_shoot"><button type="submit" class="btn1">Enviar</button></div>
            <p><a href="{% url 'password_reset' %}">He olvidado mi contraseña</a></p>-->
          </form>
        </form>
      </div>
    </div>
  </div>

<!--MAIN-->
  <div class="margen_top"></div>
  <div class="main">
    <div class="container">
      <div class="col-sm-4">
        <h1>
        {% if datos_empresa.nombre_empresa == None %}
          Dashboard
        {% else %}
          {{datos_empresa.nombre_empresa}}
        {% endif %}
        </h1>
        <div class="mainl_card">
          <div class="mainl_card_img"><img src="{% static 'imgs/Bipbot.png' %}"/></div>
        </div>
      </div>
      <div class="col-sm-4">
        <h1>Activa tu cuenta</h1>
        <p>Sólo necesitamos algunos datos.</p>
        <form method="post" class="m-t" role="form" enctype="multipart/form-data">{% csrf_token %}
          {{ form.email }}
          {{ form.username }}
          {{ form.password }}
          <button type="submit" class="btn btn-primary">Activar</button>
        </form>
      </div>
    </div>
  </div>
<!-- Mainly scripts -->
  <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
  <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

  <!-- Custom and plugin javascript -->
  <script src="{% static 'js/inspinia.js' %}"></script>
  <script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>

  <!-- Sweet alert -->
  <script src="{% static 'js/plugins/sweetalert/sweetalert.min.js' %}"></script>


{% if exito %}
<script>

  $(document).ready(function () {

    swal({
      title: "¡Buen trabajo!",
      text: "La activación de tu cuenta ha sido exitosa",
      type: "success",
      confirmButtonColor: "#00b295",
      confirmButtonText: "Continuar",
      closeOnConfirm: false
    }, function () {
      var url = "{% url 'login' %}";
      document.location.href = url;
    });

  });


</script>
{% endif %}

{% if mensaje %}
<script>

  $(document).ready(function () {

    swal({
      title: "Oops!!!",
      text: "{{mensaje}}",
      type: "warning",
    });

  });


</script>
{% endif %}

</body>
<footer class="page-footer font-small blue">
      <!-- Copyright -->
      {% if datos_empresa.nombre_empresa == 'SpringLabs' %}
      <div class="footer-copyright text-center py-3"> Desarrollado por:
        <a href="http://springlabs.net/"> SpringLabs</a> &copy; 2019</a>
      </div>
      {% endif %}
  <!-- Copyright
      <div class="legal">
        <strong>Legal</strong>: Desarrollado por
        <a href="http://springlabs.net/" >SpringLabs</a> &copy; 2019
      </div>-->
</footer>

</html>
