{% load static %}
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>

{% if datos_empresa.nombre_empresa == None %}
	Dashboard | Bienvenido
{% else %}
	{{datos_empresa.nombre_empresa}} | Bienvenido
{% endif %}

</title>
<link rel="icon" type="image/png" href="{% static 'img/icono-springlabs.png' %}" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="{% static 'css/gral.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/mediaq.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/style_menu.css' %}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
<link rel="shortcut icon" type="image/x-icon" href="imgs/favicon.ico">
<link href="{% static 'css/animate.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/estilos_menu.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'js/menu.js' %}"></script>

<!-- Sweet Alert -->
<link href="{% static 'css/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet">
</head>

<body>
<div class="cover">


	<!--TOP-MENU-->
	<div class="top" >
		<div class="logo"><img src="{% static 'imgs/logo_web.png' %}"/> </div>

		<div class="containermenu">
			<div class="contmenu">

			{% if next %}
				<form action="/login/?next={{next}}" method="post">
			{%else%}
				<form action="/login/?next={{next}}" method="post">
			{%endif%}
					{% csrf_token %}
					<div class="form-group">
					<div class="divform1">
						<input class="form-control" type="text" placeholder="Usuario" name="username">
					</div>
					<div class="divform1">
						<input type="password" placeholder="Contraseña" name="password">
					</div>
			 		<div class="divform1">
				 		<input type="submit" value="Enviar">
					</div>

					<div class="divform1">
					<ul>

						<li><a href="{% url 'password_reset' %}">Olvide mi contraseña<img src="{% static 'imgs/forgot.png' %}"/></a></li>
						<li><a href="#">EN<img src="{% static 'imgs/flag_usa.png' %}"/></a></li>
						<li><a href="#">ES<img src="{% static 'imgs/flag_mex.png' %}"/></a></li>

					</ul>
				</div>
				</form>
				</div>
			</div>

		</div>
		</div>

	<!--HOME-->
	<div class="cont_logs">
		<div class="logs"><h1>Activa tu cuenta</h1>
			<p>Sólo necesitamos algunos datos:</p>

			<form method="post" role="form" enctype="multipart/form-data">
				{% csrf_token %}

				<div class="logsin">
          {{ form.email }}
          {{ form.username }}
          {{ form.password }}

        </div>

				<div class="logsin">

					<div class="btns">
						<button type="submit" class="btn_btn">Activar</button>
					</div>

				</div>
			</form>
		</div>
	</div>
<!--ROJO-NOSOTROS-->
	<!--AQUA-->
	<!--BLANCO-->



<!--FOOTER-->



<!--	footer-->
<div class="footer">
<p>© 2019. Derechos reservados. Powered by SpringLabs </p>
</div>

<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<!-- Sweet alert -->
<script src="{% static 'js/plugins/sweetalert/sweetalert.min.js' %}"></script>

<script src="{% static 'js/wow.min.js' %}"></script>

							<script>
							new WOW().init();
							</script>

{% if exito %}
<script>

  $(document).ready(function () {

    swal({
      title: "¡Buen trabajo!",
      text: "La activación de tu cuenta ha sido exitosa",
      type: "success",
      confirmButtonColor: "#00b295",
      confirmButtonText: "Continuar",
      closeOnConfirm: false
    }, function () {
      var url = "{% url 'login' %}";
      document.location.href = url;
    });

  });


</script>
{% endif %}

{% if mensaje %}
<script>

  $(document).ready(function () {

    swal({
      title: "Oops!!!",
      text: "{{mensaje}}",
      type: "warning",
    });

  });


</script>
{% endif %}

</body>
</html>
