{% extends 'tags/empty_page.html' %}
{% load staticfiles %}
{% load querys %}

{% block head %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>

        {% if datos_empresa.nombre_empresa == None %}
          Dashboard | Resumen de actividad
        {% else %}
          {{datos_empresa.nombre_empresa}} | Resumen de actividad
        {% endif %}

    </title>

    <link rel="icon" type="image/png" href="{% static 'img/icono-springlabs.png' %}" />

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/iCheck/custom.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/chosen/bootstrap-chosen.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/colorpicker/bootstrap-colorpicker.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/cropper/cropper.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/switchery/switchery.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/jasny/jasny-bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/nouslider/jquery.nouislider.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/datapicker/datepicker3.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/ionRangeSlider/ion.rangeSlider.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/clockpicker/clockpicker.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/daterangepicker/daterangepicker-bs3.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/select2/select2.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/touchspin/jquery.bootstrap-touchspin.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/dualListbox/bootstrap-duallistbox.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/animate.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/blueimp/css/blueimp-gallery.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/estilos_menu.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>

{% endblock head %}

{% block js %}
    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{% static 'js/inspinia.js' %}"></script>
    <script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
    <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

    <!-- Chosen -->
    <script src="{% static 'js/plugins/chosen/chosen.jquery.js' %}"></script>

   <!-- JSKnob -->
   <script src="{% static 'js/plugins/jsKnob/jquery.knob.js' %}"></script>

   <!-- Input Mask-->
    <script src="{% static 'js/plugins/jasny/jasny-bootstrap.min.js' %}"></script>

   <!-- Data picker -->
   <script src="{% static 'js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>

   <!-- NouSlider -->
   <script src="{% static 'js/plugins/nouslider/jquery.nouislider.min.js' %}"></script>

   <!-- Switchery -->
   <script src="{% static 'js/plugins/switchery/switchery.js' %}"></script>

    <!-- IonRangeSlider -->
    <script src="{% static 'js/plugins/ionRangeSlider/ion.rangeSlider.min.js' %}"></script>

    <!-- iCheck -->
    <script src="{% static 'js/plugins/iCheck/icheck.min.js' %}"></script>

    <!-- MENU -->
    <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>

    <!-- Color picker -->
    <script src="{% static 'js/plugins/colorpicker/bootstrap-colorpicker.min.js' %}"></script>

    <!-- Clock picker -->
    <script src="{% static 'js/plugins/clockpicker/clockpicker.js' %}"></script>

    <!-- Image cropper -->
    <script src="{% static 'js/plugins/cropper/cropper.min.js' %}"></script>

    <!-- Date range use moment.js same as full calendar plugin -->
    <script src="{% static 'js/plugins/fullcalendar/moment.min.js' %}"></script>

    <!-- Date range picker -->
    <script src="{% static 'js/plugins/daterangepicker/daterangepicker.js' %}"></script>

    <!-- Select2 -->
    <script src="{% static 'js/plugins/select2/select2.full.min.js' %}"></script>

    <!-- TouchSpin -->
    <script src="{% static 'js/plugins/touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>

    <!-- Tags Input -->
    <script src="{% static 'js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script>

    <!-- Dual Listbox -->
    <script src="{% static 'js/plugins/dualListbox/jquery.bootstrap-duallistbox.js' %}"></script>

    <!-- blueimp gallery -->
    <script src="{% static 'js/plugins/blueimp/jquery.blueimp-gallery.min.js' %}"></script>



    <!-- Morris -->
    <link href="{% static 'css/plugins/morris/morris-0.4.3.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Morris demo data-->
    <script src="{% static 'js/demo/morris-demo.js' %}"></script>

    <!-- Morris -->
    <script src="{% static 'js/plugins/morris/raphael-2.1.0.min.js' %}"></script>
    <script src="{% static 'js/plugins/morris/morris.js' %}"></script>

    <link href="{% static 'css/plugins/dataTables/datatables.min.css' %}" rel="stylesheet">

    <script src="{% static 'js/plugins/dataTables/datatables.min.js' %}"></script>

    <script src="{% static 'js/plugins/chartJs/Chart.min.js' %}"></script>

    <!-- GRAFICA NUEVA DE PRUEBA -->
    <style>
        #chartdiv {
          width: 100%;
          height: 800px;
        }
        #donutdiv {
          width: 100%;
          height: 800px;
        }
        #tuneldiv {
          width: 100%;
          height: 800px;
        }
        #chartdiv2 {
          width: 100%;
          height: 800px;
        }
    </style>

    <!-- GRAFICAS DE AMCHARTS LOCALMENTE -->
    <script src="{% static 'js/plugins/amcharts_4.4.10/amcharts4/core.js' %}"></script>
    <script src="{% static 'js/plugins/amcharts_4.4.10/amcharts4/charts.js' %}"></script>
    <script src="{% static 'js/plugins/amcharts_4.4.10/amcharts4/themes/animated.js' %}"></script>
    <script src="{% static 'js/plugins/amcharts_4.4.10/amcharts4/themes/dark.js' %}"></script>
    <script src="{% static 'js/plugins/amcharts_4.4.10/amcharts4/themes/kelly.js' %}"></script>
    <script src="{% static 'js/plugins/amcharts_4.4.10/amcharts4/themes/material.js' %}"></script>

{% endblock js %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                pageLength: 25,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy'},
                    {extend: 'csv'},
                    {extend: 'excel', title: 'ExampleFile'},
                    {extend: 'pdf', title: 'ExampleFile'},

                    {extend: 'print',
                     customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                    }
                    }
                ]

            });

        });
    </script>

    <!-- GRAFICA NUEVA DE PRUEBA "ESTADÍSTICAS POR DÍA" -->
    <script>
        am4core.ready(function() {

        // Themes begin
        //am4core.useTheme(am4themes_dark);
        //am4core.useTheme(am4themes_kelly);
        am4core.useTheme(am4themes_dark);
        am4core.useTheme(am4themes_animated);
        // Themes end

        // Create chart instance
        var chart = am4core.create("chartdiv", am4charts.XYChart3D);
        chart.responsive.enabled = true;

        // Add data
        chart.data = [

        {% for hora in interacciones_hora %}
            {
                "horas": "{{hora.hora|date:'H:i'}}",
                "interacciones": "{{hora.total}}"
            },
        {% endfor %}

        ];

        // Create axes
        let categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
        categoryAxis.dataFields.category = "horas";
        categoryAxis.renderer.labels.template.rotation = 270;
        categoryAxis.renderer.labels.template.hideOversized = false;
        categoryAxis.renderer.minGridDistance = 20;
        categoryAxis.renderer.labels.template.horizontalCenter = "right";
        categoryAxis.renderer.labels.template.verticalCenter = "middle";
        categoryAxis.tooltip.label.rotation = 270;
        categoryAxis.tooltip.label.horizontalCenter = "right";
        categoryAxis.tooltip.label.verticalCenter = "middle";

        let valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
        valueAxis.title.text = "No. de interacciones";
        valueAxis.title.fontWeight = "bold";

        // Create series
        var series = chart.series.push(new am4charts.ColumnSeries3D());
        series.dataFields.valueY = "interacciones";
        series.dataFields.categoryX = "horas";
        series.name = "Interacciones";
        series.tooltipText = "{categoryX} hrs.: [bold]{valueY}[/] interacciones";
        series.columns.template.fillOpacity = .8;

        var columnTemplate = series.columns.template;
        columnTemplate.strokeWidth = 2;
        columnTemplate.strokeOpacity = 1;
        columnTemplate.stroke = am4core.color("#FFFFFF");

        columnTemplate.adapter.add("fill", (fill, target) => {
          return chart.colors.getIndex(target.dataItem.index);
        })

        columnTemplate.adapter.add("stroke", (stroke, target) => {
          return chart.colors.getIndex(target.dataItem.index);
        })

        chart.cursor = new am4charts.XYCursor();
        chart.cursor.lineX.strokeOpacity = 0;
        chart.cursor.lineY.strokeOpacity = 0;

        }); // end am4core.ready()
    </script>

<!-- GRAFICA NUEVA DE PRUEBA "INTENCIONES FRECUENTES" -->
    <script>
        am4core.ready(function() {

        // Themes begin
        am4core.useTheme(am4themes_animated);
        // Themes end

        // Create chart instance
        var chart = am4core.create("donutdiv", am4charts.PieChart);
        chart.responsive.enabled = true;

        // Add data
        chart.data = [
        {%for data in intents_totales %}
            {
                "intencion": '{{data.intent_displayName}}',
                "cantidad":'{{data.totales}}'
            },
        {% endfor %}

        ];

        // Add and configure Series
        var pieSeries = chart.series.push(new am4charts.PieSeries());
        pieSeries.dataFields.value = "cantidad";
        pieSeries.dataFields.category = "intencion";
        pieSeries.innerRadius = am4core.percent(50);
        pieSeries.ticks.template.disabled = true;
        pieSeries.labels.template.disabled = true;

        var rgm = new am4core.RadialGradientModifier();
        rgm.brightnesses.push(-0.8, -0.8, -0.5, 0, - 0.5);
        pieSeries.slices.template.fillModifier = rgm;
        pieSeries.slices.template.strokeModifier = rgm;
        pieSeries.slices.template.strokeOpacity = 0.4;
        pieSeries.slices.template.strokeWidth = 0;

        chart.legend = new am4charts.Legend();
        chart.legend.position = "bottom";

        }); // end am4core.ready()
    </script>

<!-- GRAFICA NUEVA DE PRUEBA "FRASES NO RECONOCIDAS" -->
    <script>
        am4core.ready(function() {

        // Themes begin
        am4core.useTheme(am4themes_animated);
        // Themes end

        let chart = am4core.create("tuneldiv", am4charts.SlicedChart);
        chart.responsive.enabled = true;
        chart.data = [
            {%for data in frases_noReconocidas %}
                {
                    "name": '{{data.queryText}}',
                    "value":'{{data.totales}}'
                },
            {% endfor %}
        ];

        let series = chart.series.push(new am4charts.FunnelSeries());
        series.dataFields.value = "value";
        series.dataFields.category = "name";

        var fillModifier = new am4core.LinearGradientModifier();
        fillModifier.brightnesses = [-0.5, 1, -0.5];
        fillModifier.offsets = [0, 0.5, 1];
        series.slices.template.fillModifier = fillModifier;
        series.alignLabels = true;

        series.labels.template.text = "{category}: [bold]{value}[/]";

        }); // end am4core.ready()
    </script>


<!-- GRAFICA NUEVA DE PRUEBA "ESTADÍSTICAS POR SEMANA" -->
    <script>
        am4core.ready(function() {

        // Themes begin
        am4core.useTheme(am4themes_animated);
        // Themes end

        // Create chart instance
        var chart = am4core.create("chartdiv2", am4charts.XYChart3D);
        chart.responsive.enabled = true;

        // Add data
        chart.data = [{
            "fecha": "{{fecha1}}",
            "sesiones": {{nro_sesiones1}},
            "interacciones": {{nro_interacciones1}}
        }, {
            "fecha": "{{fecha2}}",
            "sesiones": {{nro_sesiones2}},
            "interacciones": {{nro_interacciones2}}
        }, {
            "fecha": "{{fecha3}}",
            "sesiones": {{nro_sesiones3}},
            "interacciones": {{nro_interacciones3}}
        }, {
            "fecha": "{{fecha4}}",
            "sesiones": {{nro_sesiones4}},
            "interacciones": {{nro_interacciones4}}
        }, {
            "fecha": "{{fecha5}}",
            "sesiones": {{nro_sesiones5}},
            "interacciones": {{nro_interacciones5}}
        }, {
            "fecha": "{{fecha6}}",
            "sesiones": {{nro_sesiones6}},
            "interacciones": {{nro_interacciones6}}
        }, {
            "fecha": "{{fecha7}}",
            "sesiones": {{nro_sesiones7}},
            "interacciones": {{nro_interacciones7}}
        }];

        // Create axes
        var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
        categoryAxis.dataFields.category = "fecha";
        categoryAxis.renderer.grid.template.location = 0;
        categoryAxis.renderer.minGridDistance = 30;
        
        // Setting up label rotation
        //categoryAxis.renderer.labels.template.rotation = 315;
        categoryAxis.renderer.labels.template.rotation = 270;

        var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
        valueAxis.title.text = "Cantidad";
        valueAxis.renderer.labels.template.adapter.add("text", function(text) {
          return text;
        });

        // Create series
        var series = chart.series.push(new am4charts.ColumnSeries3D());
        series.dataFields.valueY = "sesiones";
        series.dataFields.categoryX = "fecha";
        series.name = "Cantidad de sesiones";
        series.clustered = false;
        series.columns.template.tooltipText = "Cantidad de sesiones: [bold]{valueY}[/]";
        series.columns.template.fillOpacity = 0.9;
        series.fill = am4core.color("green");

        var series2 = chart.series.push(new am4charts.ColumnSeries3D());
        series2.dataFields.valueY = "interacciones";
        series2.dataFields.categoryX = "fecha";
        series2.name = "Cantidad de interacciones";
        series2.clustered = false;
        series2.columns.template.tooltipText = "Cantidad de interacciones: [bold]{valueY}[/]";
        series2.fill = am4core.color("#e93d31");
        });

         // end am4core.ready()
    </script>





    <!-- Función para pintar los datos de grafica "INTENCIONES FRECUENTES"-->
    <script>
        $(function() {
            var x=0;
            Morris.Donut({
                element: 'morris-donut-chart',
                data: [
                    {%for data in intents_totales %}
                        {label: '{{data.intent_displayName}}', value:'{{data.totales}}'},
                    {% endfor %}

                ],
                resize: true,
                colors: ['#008ea1','#48c6b0', '#a3e1d4', '#dedede','#b5b8cf'],
            });
        });
    </script>

    <!-- Función para pintar los datos de grafica "frases_erroneas"-->
    <script>
        $(function() {
            var x=0;
            Morris.Donut({
                element: 'morris-donut-chart1',
                data: [
                    {%for data in frases_noReconocidas %}
                        {label: '{{data.queryText}}', value:'{{data.totales}}'},
                    {% endfor %}

                ],
                resize: true,
                colors: ['#008ea1','#48c6b0', '#a3e1d4', '#dedede','#b5b8cf'],
            });
        });
    </script>

    <!-- Función para pintar los datos de grafica "interacciones_fecha"-->
    <script type="text/javascript">
        $(function ()
        {
            var lineData =
            {
                labels: ["{{fecha1}}","{{fecha2}}","{{fecha3}}","{{fecha4}}","{{fecha5}}","{{fecha6}}","{{ultimaFecha}}"],
                datasets:
                [

                    {
                        label: "Interacciones por día",
                        backgroundColor: 'rgba(26,179,148,0.5)',
                        borderColor: "rgba(26,179,148,0.7)",
                        pointBackgroundColor: "rgba(26,179,148,1)",
                        pointBorderColor: "#fff",
                        data: [{{nro_interacciones1}},{{nro_interacciones2}},{{nro_interacciones3}},{{nro_interacciones4}},{{nro_interacciones5}},{{nro_interacciones6}},{{nro_interacciones7}}]

                    }
                    ,
                    {
                        label: "Sesiones por día",
                        backgroundColor: '#0769b6',
                        pointBorderColor: "#fff",
                        data: [{{nro_sesiones1}},{{nro_sesiones2}},{{nro_sesiones3}},{{nro_sesiones4}},{{nro_sesiones5}},{{nro_sesiones6}},{{nro_sesiones7}}]

                    }

                ]

            };
            var lineOptions =
            {
                responsive: true

            };
            var ctx = document.getElementById("lineChart").getContext("2d");
            new Chart(ctx, {type: 'line', data: lineData, options:lineOptions});

        });
    </script>

    <!-- Función para pintar los datos de grafica "interacciones_hora"-->
    <script type="text/javascript">
    var barData = {

        labels: [

        {% for hora in interacciones_hora %}
            "{{hora.hora|date:'H:i'}}",
        {% endfor %}

        ],

        datasets: [
            {
                label: "Interacciones",
                backgroundColor: 'rgba(26,179,148,0.5)',
                borderColor: "rgba(26,179,148,0.7)",
                pointBackgroundColor: "rgba(26,179,148,1)",
                pointBorderColor: "#fff",
                data: [

                {% for data in interacciones_hora %}
                    "{{data.total}}",
                {% endfor %}
                "0",

                ]
            }
        ]
    };

    var barOptions = {
        responsive: true
    };


    var ctx2 = document.getElementById("barChart").getContext("2d");
    new Chart(ctx2, {type: 'bar', data: barData, options:barOptions});
    </script>




{% endblock scripts %}

{% block contenido_header %}
    <div class="row wrapper white-bg page-heading">
        <div class="col-sm-4">
            <h2><img alt="image" height="50" src="{{cliente.logotipo.url}}" /></h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{% url 'home' %}">Inicio</a>
                </li>
                {% if request.user|has_group:"Administrador" %}
                <li>
                    <a href="{% url 'agentes' cliente.id %}">Agentes</a>
                </li>
                {% endif %}
                <li class="active">
                    <a href=""><strong>Interacciones</strong></a>
                </li>
            </ol>
        </div>
        <div class="col-sm-8">
            <div class="title-action">
                <h2><strong>{{cliente.nombre_cliente}}:</strong> {{agente.nombre_agente}}</h2>
            </div>
        </div>
    </div>
{% endblock contenido_header %}

{% block contenido %}

    <div class="wrapper wrapper-content">
        <div class="row">
        <div class="ibox-content m-b-sm animated fadeInRight">
            <div class="p-xs">
                <div class="pull-left m-r-md">
                    <i class="fa fa-globe text-azul mid-icon"></i>
                </div>

                {% if not mensaje_sin_estadisticas %}
                <div class="pull-right m-r-md">
                    {% with sesiones_order_by_date_interaccion|first as ultima_sesion %}
                    <br>
                    <a href="{% url 'chats' agente.id ultima_sesion.session %}" class="btn btn-primary">Interacción en tiempo real</a>
                    {% endwith %}
                </div>
                {% endif %}

                <h2 class="text-titulo">Resumen de conversaciones</h2>
                <span>Filtradas por sesión, plataforma y número de interacciones</span>
            </div>
        </div>

        {% if mensaje_sin_estadisticas %}
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="container">
                            <div class="alert alert-dismissable alert-warning">
                                <button type="button" class="close" data-dismiss="alert"></button>
                                <strong>{{mensaje_sin_estadisticas}}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}


        {% if not mensaje_sin_estadisticas %}
        <div class="ibox-content forum-container animated fadeInUp">

            <div class="forum-title">
                <h3>Vista general</h3>
            </div>
            {% for item in plataforma_interacciones %}
            {% nombre_plataforma item.originalDetectIntentRequest_source as plataforma %}
            <div class="forum-item active">
                <div class="row">
                    <div class="col-md-9">
                        <div class="forum-icon text-azul">
                            {% if plataforma|stringformat:"s" == 'Developer Source' %}
                              <i class="fa fa-file-code-o"></i>
                            {% elif plataforma|stringformat:"s" == 'Web Chat' %}
                              <i class="fa fa-wechat"></i>
                            {% elif plataforma|stringformat:"s" == 'Web Chat Sin Handover' %}
                              <i class="fa fa-wechat"></i>
                            {% else %}
                              <i class="fa fa-{{plataforma}} "></i>
                            {% endif %}
                        </div>
                        {% if plataforma|stringformat:"s" == 'Web Chat Sin Handover'%}
                          <a href="{% url 'sesiones' agente.id item.originalDetectIntentRequest_source %}" class="text-titulo text-titulo-a">Web Chat</a>
                          <small> Sin Handover</small>
                        {% else %}
                          <a href="{% url 'sesiones' agente.id item.originalDetectIntentRequest_source %}" class="text-titulo text-titulo-a">{{plataforma}}</a>
                        {% endif %}
                        <div class="text-blanco">Interacciones provenientes de la plataforma {{plataforma}}</div>
                    </div>
                    <div class="col-md-1 forum-info">
                    </div>
                    <div class="col-md-1 forum-info">
                        <span class="views-number">
                            {% for data in total_sesion_plataforma %}
                                {% if data.originalDetectIntentRequest_source == item.originalDetectIntentRequest_source %}
                                    {{data.total_sesiones}}
                                {% endif %}
                            {% endfor %}
                        </span>
                        <div>
                            <small class="text-blanco">Sesiones</small>
                        </div>
                    </div>
                    <div class="col-md-1 forum-info">
                        <span class="views-number">
                            {{item.total_interacciones}}
                        </span>
                        <div>
                            <small class="text-blanco">Interacciones</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="row animated fadeInUp">
        <div class="col-md-12">
            <div class="small pull-right col-md-9 m-t-md text-right">

            </div>
        </div>
        {% if nro_interacciones_7_dias > 0 and nro_sesiones_sesiones_7_dias > 0 %}
        <div class="col-md-12">
            <div class="ibox-content content-grafica">
                <div class="text-center">
                    <p class="text-titulo"><strong>ESTADÍSTICAS DE LOS ÚLTIMOS 7 DÍAS</strong></p>
                    <small>
                        ({{fecha1|date:"d M Y"}} - {% now "d M Y" %})
                    </small>
                </div>
                <div>
                    <span class="pull-right text-right">
                        <strong>Sesiones:</strong> <strong>{{nro_sesiones_sesiones_7_dias}}</strong>
                    </span>
                    <h1 class="m-b-xs"><strong>{{nro_interacciones_7_dias}}</strong></h1>
                    <h3 class="font-bold no-margins">
                        Interacciones
                    </h3>
                </div>

                <!-- HTML -->
                    <div id="chartdiv2"></div>
                <div class="m-t-md">
                    <small class="pull-right">
                        <i class="fa fa-clock-o"> </i>
                        {{user.last_login|date:"d M Y"}}
                    </small>
                   <small>
                       <strong>Información:</strong>en la gráfica se muestran las interacciones y sesiones globales del bot en los últimos 7 días.
                   </small>
                </div>
            </div>
        </div>
        {% endif %}

        {% if interacciones_hora %}
        <div class="col-md-12">
            <div class="ibox-content content-grafica">
                <div class="text-center">
                    <p class="text-titulo"><strong>ESTADÍSTICAS DEL DÍA</strong></p>
                    <small>{% now "d M Y" %}</small>
                </div>
                <div>
                    <span class="pull-right text-right">
                        <strong>Promedio de interacciones por hora:</strong> <strong>{{x.total__avg}}</strong>
                    </span>
                    <h1 class="m-b-xs"><strong>{{sesiones_del_dia}}</strong></h1>
                    <h3 class="font-bold no-margins">
                        Sesiones del día
                    </h3>
                    <small></small>
                </div>
                <!-- HTML -->
                <div id="chartdiv"></div>
                        <div class="m-t-md">
                    <small class="pull-right">
                        <i class="fa fa-clock-o"> </i>
                        {{user.last_login|date:"d M Y"}}
                    </small>
                   <small>
                       <strong>Información:</strong> en la gráfica se muestran las interacciones globales por hora del bot. Los datos son extraidos de las estadíticas del día en curso.
                   </small>
                </div>
            </div>
        </div>
        {% endif %}
        
            <div class="col-md-12">
                <div class="small pull-right col-md-9 m-t-md text-right">

                </div>
            </div>
            
        {% if intents_totales %}
        <div class="col-md-6">
            <div class="ibox-content content-grafica">
                <div class="text-center">
                    <p class="text-titulo"><strong>INTENCIONES FRECUENTES</strong></p>
                </div>
                <!-- HTML -->
                <div id="donutdiv"></div>
                <div class="m-t-md">
                    <small class="pull-right">
                        <i class="fa fa-clock-o"> </i>
                        {{user.last_login|date:"d M Y"}}
                    </small>
                   <small>
                       <strong>Información:</strong> en la gráfica se muestran las 10 intenciones más recurrentes en el universo del bot.
                   </small>
                </div>
            </div>
        </div>
        {% endif %}

        {% if frases_noReconocidas %}
        <div class="col-md-6">
            <div class="ibox-content content-grafica">
                <div class="text-center">
                    <p class="text-titulo"><strong>FRASES NO RECONOCIDAS</strong></p>
                </div>
                <!-- HTML -->
                <div id="tuneldiv"></div>
                <div class="m-t-md">
                    <small class="pull-right">
                        <i class="fa fa-clock-o"> </i>
                        {{user.last_login|date:"d M Y"}}
                    </small>
                   <small>
                       <strong>Información:</strong> en la gráfica se muestran las 10 frases, expresiones o preguntas más frecuentes que no han sido reconocidas.
                   </small>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endif %}
{% endblock contenido %}
