{% load static %}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>

        {% if datos_empresa.nombre_empresa == None %}
          Dashboard | Bienvenido
        {% else %}
          {{datos_empresa.nombre_empresa}} | Bienvenido
        {% endif %}

    </title>

    <link rel="icon" type="image/png" href="{% static 'img/icono-springlabs.png' %}" />

    <link rel="icon" type="image/png" href="{% static 'img/icono-springlabs.png' %}" />

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">

    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link href="{% static 'css/estilos_menu.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>

</head>

<body class="gray-bg">

{% if mensaje %}
  <div class="container">
    <div class="alert alert-dismissable alert-danger">
    <button type="button" class="close" data-dismiss="alert"></button>
    <strong>{{mensaje}}</strong>
  </div>
{%endif%}

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>
                {% if datos_empresa.logotipo != '' %}
                <h1 class="logo-name ">
                    <img src="https://firebasestorage.googleapis.com/v0/b/itienerario-proyectos.appspot.com/o/AISLACON.png?alt=media&token=7fc8d929-7035-422e-84fe-961a9ed15fee" alt="logo" width="200px">
                </h1>
                {% else %}
                <img src="https://firebasestorage.googleapis.com/v0/b/itienerario-proyectos.appspot.com/o/AISLACON.png?alt=media&token=7fc8d929-7035-422e-84fe-961a9ed15fee" alt="logo" width="200px">
                {% endif %}

            </div>
            <h3 class="text-blanco">Bienvenido a Aislacon</h3>

            {% if next %}
            <form class="m-t" role="form" action="/login/?next={{next}}" method="post">
            {%else%}
            <form class="m-t" role="form" action="/login/?next={{next}}" method="post">
            {%endif%}
            {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Usuario o email" required="yes" name="username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Contraseña" required="yes" name="password">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

<!--                 <a href="#"><small>Forgot password?</small></a>
                <p class="text-muted text-center"><small>Do not have an account?</small></p> -->
                <a class="btn btn-sm btn-white btn-block" href="{% url 'activar' %}">Activar Cuenta</a>
            </form>
            {% if datos_empresa.nombre_empresa == 'SpringLabs' %}
            <p class="m-t"> <small>Desarrollado por <a href="http://springlabs.net/" >SpringLabs</a> &copy; 2019</small> </p>
            {% endif %}
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>
