{% extends 'tags/empty_page.html' %}
{% load staticfiles %}
{% load querys %}

{% block head %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>

        {% if datos_empresa.nombre_empresa == None %}
          Dashboard | Notificaciones
        {% else %}
          {{datos_empresa.nombre_empresa}} | Notificaciones
        {% endif %}

    </title>
<link rel="icon" type="image/png" href="{% static 'img/icono-springlabs.png' %}" />

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/dataTables/datatables.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link href="{% static 'css/estilos_menu.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>

{% endblock head %}

{% block js %}

    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

    <script src="{% static 'js/plugins/dataTables/datatables.min.js' %}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{% static 'js/inspinia.js' %}"></script>
    <script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>

{% endblock js %}

{% block scripts %}

<script>
    $(document).ready(function(){
        $('.dataTables-example').DataTable({
            pageLength: 25,
            responsive: true,
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                { extend: 'copy'},
                {extend: 'csv'},
                {extend: 'excel', title: 'ExampleFile'},
                {extend: 'pdf', title: 'ExampleFile'},

                {extend: 'print',
                 customize: function (win){
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                }
                }
            ]

        });

    });

</script>

<script>
function myFunction() {
  //document.getElementById("demo").innerHTML = "YOU CLICKED ME!";
    var session_id = document.getElementById("session_id").value;

    $.ajax({
    url: '{% url "sesion_status_enter" %}',
    data: {
      'session_id': session_id,
    },
    dataType: 'json',
    success: function (data) {
      if (data.resultado) {
        console.log(data.resultado);
      }
    }
    });
}
</script>

<script>
function myFunction2() {
  //document.getElementById("demo").innerHTML = "YOU CLICKED ME!";
    var session_id = document.getElementById("session_id").value;

    $.ajax({
    url: '{% url "eliminar_notificacion" %}',
    data: {
      'session_id': session_id,
    },
    dataType: 'json',
    success: function (data) {
      if (data.resultado) {
        console.log(data.resultado);
      }
    }
    });
}
</script>

{% endblock scripts %}

{% block contenido_header %}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2><img alt="image" height="50" src="{{cliente.logotipo.url}}" /></h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{% url 'home' %}">Inicio</a>
                </li>
                <li class="active">
                    <a href="{% url 'notificaciones' %}"><strong>Notificaciones</strong></a>
                </li>
            </ol>
        </div>
<!--         <div class="col-sm-8">
            <div class="title-action">
                <h2><strong><p class="text-success">{{cliente.nombre_cliente}}</p></strong></h2>
            </div>
        </div> -->
    </div>
{% endblock contenido_header %}

{% block contenido %}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
        <div class="ibox float-e-margins">
            <div class="ibox-content content-grafica">
                <h5 class="text-titulo">Notificaciones Handover</h5>
                <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover dataTables-example tabla-dashboard">
            <thead>
            <tr>
                <th>Plataforma</th>
                <th>Agente</th>
                <th>Descripción</th>
                <th>Fecha</th>
                <th>Acción</th>
            </tr>
            </thead>
        <tbody>

    {% for cita2 in result3 %}

    <tr class="gradeX">
        <td>{{cita2.1}}</td>
        <td>{{cita2.2}}</td>
        <td>{{cita2.3}}</td>
        <td>{{cita2.4}}</td>
        <td><center><a class="btn btn-success btn-rounded btn-outline" href="{% url 'eliminar_notificacion3' cita2.7 cita2.8 cita2.0 %}">Atender</a>
            <a class="btn btn-danger btn-rounded btn-outline" href="{% url 'eliminar_notificacion4' cita2.0 cita2.7 %}">Eliminar</a></center></td>
        
    </tr>
    {% endfor %}
    </tbody>
    </table>
                </div>

            </div>
        </div>
    </div>
    </div>
</div>


{% endblock contenido %}
