{% extends 'tags/empty_page.html' %}
{% load staticfiles %}
{% load querys %}

{% block head %}

    {% nombre_plataforma source as plataforma %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>

        {% if datos_empresa.nombre_empresa == None %}
          Dashboard | Sesiones
        {% else %}
          {{datos_empresa.nombre_empresa}} | Sesiones
        {% endif %}

    </title>

    <link rel="icon" type="image/png" href="{% static 'img/icono-springlabs.png' %}" />

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">

    <link href="{% static 'css/animate.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/dataTables/datatables.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/estilos_menu.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>

{% endblock head %}

{% block js %}
    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{% static 'js/inspinia.js' %}"></script>
    <script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
    <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

    <script src="{% static 'js/plugins/dataTables/datatables.min.js' %}"></script>

{% endblock js %}

{% block scripts %}


{% endblock scripts %}

{% block contenido_header %}
{% nombre_plataforma source as plataforma %}

{%if plataforma|stringformat:"s" != 'Web Chat' %}
{%if plataforma|stringformat:"s" != 'Chat Web' %}

    <div class="row wrapper white-bg page-heading">
        <div class="col-sm-4">
            <h2><img alt="image" height="50" src="{{cliente.logotipo.url}}" /></h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{% url 'home' %}">Inicio</a>
                </li>
                {% if request.user|has_group:"Administrador" %}
                <li>
                    <a href="{% url 'agentes' cliente.id %}">Agentes</a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'interacciones' id_agente %}">Interacciones</a>
                </li>
                <li class="active">
                    <a href=""><strong>{{plataforma}}</strong></a>
                </li>
            </ol>
        </div>
    </div>

{% endif %}
{% endif %}

{% endblock contenido_header %}

{% block contenido %}
{% nombre_plataforma source as plataforma %}


{% if plataforma|stringformat:"s" != 'Web Chat' %}
{% if plataforma|stringformat:"s" != 'Chat Web' %}


    <div class="wrapper wrapper-content">
        <div class="ibox-content m-b-sm animated fadeIn content-grafica">
            <div class="p-xs">
                <div class="pull-left m-r-md">
                  {% if plataforma|stringformat:"s" == 'Developer Source' %}
                    <i class="fa fa-file-code-o text-azul mid-icon"></i>
                  {% elif plataforma|stringformat:"s" == 'Web Chat' %}
                    <i class="fa fa-wechat text-azul mid-icon"></i>
                  {% else %}
                    <i class="fa fa-{{plataforma}} text-azul mid-icon"></i>
                  {% endif %}
                </div>
                <div class="pull-right m-r-md">
                    <h2><strong><p class="text-info">{{agente}}</p></strong></h2>
                </div>
                <h2 class="text-titulo">{{plataforma}}</h2>
                <span>Historial de Sesiones</span>
            </div>
        </div>

{% endif %}
{% endif %}

        <div class="row">
            <div class="col-lg-3 animated fadeIn">
                <div class="ibox float-e-margins content-grafica">

                    <div class="widget azul-bg no-padding">
                        <div class="p-m">
                            <h1 class="m-xs">{{result.count}}</h1>





                                {% if plataforma|stringformat:"s" == 'facebook' %}
                                    <h3>Plataforma con Handover soportado.</h3>
                                {% elif plataforma|stringformat:"s" == 'Developer Source' %}
                                    <h3>Plataforma con Handover soportado. (En desarrollo)</h3>
                                {% elif plataforma|stringformat:"s" == 'telegram' %}
                                    <h3>Plataforma con Handover soportado.</h3>
                                {% elif plataforma|stringformat:"s" == 'whatsapp' %}
                                    <h3>Plataforma con Handover soportado.</h3>
                                {% else %}
                                    <h3>Plataforma con Handover NO soportado.</h3>
                                {% endif %}

                        </div>
                    </div>

                    <div class="ibox-content mailbox-content">
                        <div class="file-manager">


                            <div class="space-25"></div>
                            <h5>OTRAS PLATAFORMAS</h5>
                            <ul class="folder-list" style="padding: 0">
                                {% for fuente in plataformas_del_agente %}
                                    {% nombre_plataforma fuente.originalDetectIntentRequest_source as platform %}
{% if platform|stringformat:"s" != 'Web Chat' %}
{% if platform|stringformat:"s" != 'Chat Web' %}
                    <li><a href="{% url 'sesiones' id_agente fuente.originalDetectIntentRequest_source %}" class="text-blanco"> <i class="fa fa-globe text-blanco"></i>

                                    {{platform}}

                                    <span class="label label-warning pull-right">{{fuente.total_interacciones}}</span> </a></li>
{% endif %}
{% endif %}
                {% endfor %}
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="wrapper  wrapper-content animated fadeInRight">
<div class="col-lg-9">
                <div class="">
<div class="ibox-content content-grafica">
                    <h2 class="text-titulo">Sesiones ({{sesiones.count}})</h2>
                    <div class="">
                        <table class="table table-striped table-bordered table-hover dataTables-example tabla-dashboard">
                            <thead>
                                <tr>
                                  <th>Fecha</th>
                                  <th>Plataforma</th>
                                  <th>Nombre de Usuario o Username</th>


                                </tr>
                            </thead>
                            <tbody>
                                {% for chat in result %}
                                <tr class="read">

                                    <td><a href="{% url 'timeline' id_agente source chat.4 %}">{{chat.2}}</a></td>
                                    <td><a href="{% url 'timeline' id_agente source chat.4 %}">{{chat.1}}</a></a> <!-- <span class="label label-warning pull-right">Clients</span> --> </td>
                                    <td><a href="{% url 'timeline' id_agente source chat.4 %}">{{chat.5}}</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
<!--                             <tfoot>
                                <tr>

                                    <th></th>
                                    <th>Tipo</th>
                                    <th>ID</th>
                                    <th>Fecha</th>
                                </tr>
                            </tfoot> -->
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock contenido %}
