
{% load staticfiles %}
{% load querys %}



{% block js %}
    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{% static 'js/inspinia.js' %}"></script>
    <script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
    <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

    <!-- Chosen -->
    <script src="{% static 'js/plugins/chosen/chosen.jquery.js' %}"></script>

   <!-- JSKnob -->
   <script src="{% static 'js/plugins/jsKnob/jquery.knob.js' %}"></script>

   <!-- Input Mask-->
    <script src="{% static 'js/plugins/jasny/jasny-bootstrap.min.js' %}"></script>

   <!-- Data picker -->
   <script src="{% static 'js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>

   <!-- NouSlider -->
   <script src="{% static 'js/plugins/nouslider/jquery.nouislider.min.js' %}"></script>

   <!-- Switchery -->
   <script src="{% static 'js/plugins/switchery/switchery.js' %}"></script>

    <!-- IonRangeSlider -->
    <script src="{% static 'js/plugins/ionRangeSlider/ion.rangeSlider.min.js' %}"></script>

    <!-- iCheck -->
    <script src="{% static 'js/plugins/iCheck/icheck.min.js' %}"></script>

    <!-- MENU -->
    <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>

    <!-- Color picker -->
    <script src="{% static 'js/plugins/colorpicker/bootstrap-colorpicker.min.js' %}"></script>

    <!-- Clock picker -->
    <script src="{% static 'js/plugins/clockpicker/clockpicker.js' %}"></script>

    <!-- Image cropper -->
    <script src="{% static 'js/plugins/cropper/cropper.min.js' %}"></script>

    <!-- Date range use moment.js same as full calendar plugin -->
    <script src="{% static 'js/plugins/fullcalendar/moment.min.js' %}"></script>

    <!-- Date range picker -->
    <script src="{% static 'js/plugins/daterangepicker/daterangepicker.js' %}"></script>

    <!-- Select2 -->
    <script src="{% static 'js/plugins/select2/select2.full.min.js' %}"></script>

    <!-- TouchSpin -->
    <script src="{% static 'js/plugins/touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>

    <!-- Tags Input -->
    <script src="{% static 'js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script>

    <!-- Dual Listbox -->
    <script src="{% static 'js/plugins/dualListbox/jquery.bootstrap-duallistbox.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js"></script>

    <link href="{% static 'css/estilos_menu.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>


{% endblock js %}

{% block scripts %}

    <script>
        $(document).ready(function(){
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
{% endblock scripts %}



{% block contenido %}
{% nombre_plataforma source as plataforma %}
    <div class="wrapper wrapper-content">
        <table align="center" width="80%">
            <tr>
                <td width="20%">
                    <div align="left">
                        <img width="200px" height="200px" src="{{cliente.logotipo.url}}">
                    </div>
                </td>
                <td>
                    <h1>{{cliente}}</h1>
                    <h2>{{agente}}</h2>
                    <h3>
                        <span>Sesión: </span>
                        <small>
                            {% titulo_chat session as titulo %}
                            {{titulo}}
                        </small>
                    </h3>
                    <h3>
                        <span>Plataforma: </span>
                        <small>{{plataforma}}</small>
                    </h3>
                    <h3>
                        {% hora_inicial session as inicio %}
                        {% hora_final session as fin %}
                        <span>
                            Inicio:
                            <small>{{fin}}</small>
                        </span>
                        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                        <span>
                            Fin:
                            <small>{{inicio}}</small>
                        </span>
                    </h3>
                </td>

            </tr>
        </table>
        <table align="center" width="80%">

            <tbody>
            {% for inter in dataInteraccion reversed %}
                <tr class="center">
                    <td colspan="2" width="40%" bgcolor="#BFC2FC"><strong>{{inter.queryText}}</strong></td>
                    <td width="40%"></td>
                </tr>
                <tr>
                    <td colspan=2 width="40%"><small>Usuario {{inter.date}}</small></td>
                    <td width="40%"></td>
                </tr>
                <tr>
                    <td width="40%"></td>
                    <td colspan="2" class="center" width="40%" bgcolor="#C4FCBF" align="right">
                        <p class="text-danger">
                            <strong>
                                {% ifequal inter.fulfillmentText 'Vacio' %}
                                {% else %}
                                <strong>{{inter.fulfillmentText}}</strong>
                                {% endifequal %}
                            </strong>
                        </p>
                        <p>
                            {% for tarjeta in tarjetas %}
                            {% if inter.responseId == tarjeta.responseId.responseId %}
                            <p class="text-success">
                                {% ifequal tarjeta.title 'Vacio' %}
                                <strong>Opciones</strong>
                                {% else %}
                                <strong>{{tarjeta.title}}</strong>
                                {% endifequal %}
                                {% ifequal tarjeta.subtitle None %}
                                {% else %}
                                <br><small>{{tarjeta.subtitle}}</small>
                                {% endifequal %}
                            </p>
                                {% for boton in botones %}
                                    {% if tarjeta.responseId == boton.card.responseId %}
                                        <div class="ibox float-e-margins">
                                            <span class="vertical-date"><span class="btn btn-success btn-rounded btn-outline">{{boton.text}}</span></span><br>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                {% endif %}
                                {% endfor %}
                            </p>
                    </td>
                    </tr>
                    <tr>

                        <td width="40%"></td>
                        <td colspan="2" width="40%" align="right"><small>{{inter.date}} Agente</small></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock contenido %}
