{% extends 'tags/empty_page.html' %}
{% load staticfiles %}
{% load querys %}

{% block head %}

    {% nombre_plataforma source as plataforma %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>

        {% if datos_empresa.nombre_empresa == None %}
          Timeline | {{plataforma}}
        {% else %}
          Timeline | {{datos_empresa.nombre_empresa}} | {{plataforma}}
        {% endif %}

    </title>

    <link rel="icon" type="image/png" href="{% static 'img/icono-springlabs.png' %}" />

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/iCheck/custom.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/chosen/bootstrap-chosen.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/colorpicker/bootstrap-colorpicker.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/cropper/cropper.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/switchery/switchery.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/jasny/jasny-bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/nouslider/jquery.nouislider.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/datapicker/datepicker3.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/ionRangeSlider/ion.rangeSlider.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/clockpicker/clockpicker.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/daterangepicker/daterangepicker-bs3.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/select2/select2.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/touchspin/jquery.bootstrap-touchspin.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/dualListbox/bootstrap-duallistbox.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/animate.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/blueimp/css/blueimp-gallery.min.css' %}" rel="stylesheet">
    <!-- Toastr style -->
    <link href="{% static 'css/plugins/toastr/toastr.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/estilos_menu.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>

  <style>
    div.chat-discussion {
      height: 700px;
      width: 100%;
      background-color:#d2ebed;
    }
  </style>

{% endblock head %}

{% block js %}
    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{% static 'js/inspinia.js' %}"></script>
    <script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
    <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

    <!-- Chosen -->
    <script src="{% static 'js/plugins/chosen/chosen.jquery.js' %}"></script>

   <!-- JSKnob -->
   <script src="{% static 'js/plugins/jsKnob/jquery.knob.js' %}"></script>

   <!-- Input Mask-->
    <script src="{% static 'js/plugins/jasny/jasny-bootstrap.min.js' %}"></script>

   <!-- Data picker -->
   <script src="{% static 'js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>

   <!-- NouSlider -->
   <script src="{% static 'js/plugins/nouslider/jquery.nouislider.min.js' %}"></script>

   <!-- Switchery -->
   <script src="{% static 'js/plugins/switchery/switchery.js' %}"></script>

    <!-- IonRangeSlider -->
    <script src="{% static 'js/plugins/ionRangeSlider/ion.rangeSlider.min.js' %}"></script>

    <!-- iCheck -->
    <script src="{% static 'js/plugins/iCheck/icheck.min.js' %}"></script>

    <!-- MENU -->
    <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>

    <!-- Color picker -->
    <script src="{% static 'js/plugins/colorpicker/bootstrap-colorpicker.min.js' %}"></script>

    <!-- Clock picker -->
    <script src="{% static 'js/plugins/clockpicker/clockpicker.js' %}"></script>

    <!-- Image cropper -->
    <script src="{% static 'js/plugins/cropper/cropper.min.js' %}"></script>

    <!-- Date range use moment.js same as full calendar plugin -->
    <script src="{% static 'js/plugins/fullcalendar/moment.min.js' %}"></script>

    <!-- Date range picker -->
    <script src="{% static 'js/plugins/daterangepicker/daterangepicker.js' %}"></script>

    <!-- Select2 -->
    <script src="{% static 'js/plugins/select2/select2.full.min.js' %}"></script>

    <!-- TouchSpin -->
    <script src="{% static 'js/plugins/touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>

    <!-- Tags Input -->
    <script src="{% static 'js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script>

    <!-- Dual Listbox -->
    <script src="{% static 'js/plugins/dualListbox/jquery.bootstrap-duallistbox.js' %}"></script>

    <!-- blueimp gallery -->
    <script src="{% static 'js/plugins/blueimp/jquery.blueimp-gallery.min.js' %}"></script>


    <script src="{% static 'js/plugins/dataTables/datatables.min.js' %}"></script>

    <link href="{% static 'css/plugins/dataTables/datatables.min.css' %}" rel="stylesheet">
    <!-- Toastr -->
    <script src="{% static 'js/plugins/toastr/toastr.min.js' %}"></script>

{% endblock js %}

{% block scripts %}

<script>

    window.onload = function()
    {
      scrollSmoothToBottom("div")
    }

</script>

<script>

  function scrollSmoothToBottom (id) {
     var div = document.getElementById(id);
     $('#' + id).animate({
        scrollTop: div.scrollHeight - div.clientHeight
     }, 500);
  }

  var session_id = document.getElementById("session_id").value;
  var plataforma = document.getElementById("plataforma").value;
  var titulo = document.getElementById("titulo").value;
  var logoCliente = document.getElementById("imagen_id").value

  function submit_message(message, user) {

    $.post( "/send_message", {
        message: message,
        user: user,
    }, handle_response);

    function handle_response(data) {
      // append the bot repsonse to the div
      var date = new Date(data.date);
      dateString = date.toUTCString();
      if (data.message != ""){
        console.log(data);
        if ((data.nombre)&&(data.apellido)){
          $('.chat-discussion').append(`
                <div class="chat-message left" id="loading">
                <img class="message-avatar" src="https://cdn3.iconfinder.com/data/icons/faticons/32/user-01-128.png" alt="" >
                <div class="message">
                    <a class="message-author" href="#">`+ data.nombre + ` ` + data.apellido+` </a>
                    <span class="message-date">`+ date.toLocaleString() +`</span>
                    <span class="message-content text-negro">
                        ${data.message}
                    </span>
                </div>
            </div>
          `)}
        else{
          $('.chat-discussion').append(`
                <div class="chat-message left" id="loading">
                <img class="message-avatar" src="https://cdn3.iconfinder.com/data/icons/faticons/32/user-01-128.png" alt="" >
                <div class="message">
                    <a class="message-author" href="#">`+ titulo +` </a>
                    <span class="message-date">`+ date.toLocaleString() +`</span>
                    <span class="message-content text-negro">
                        ${data.message}
                    </span>
                </div>
            </div>
          `)}}
      if (data.bot != ""){
      $('.chat-discussion').append(`
          <div class="chat-message right">
              <img class="message-avatar" src="`+logoCliente+`" alt="" >
              <div class="message">
                  <a class="message-author" href="#">`+ data.nombre_bot +`</a>
                  <span class="message-date">`+ date.toLocaleString() +`</span>
                  <span class="message-content text-negro">
                      ${data.bot}
                  </span>
              </div>
          </div>
      `)}
      // remove the loading indicator
      // $( "#loading" ).remove();
      scrollSmoothToBottom("div")
    }
}

$('#target').on('submit', function(e){
    e.preventDefault();
    const input_message = $('#input_message').val()

    // return if the user does not enter any text
    if (!input_message) {
      return
    }


    imput_message(input_message, session_id, plataforma)

    // clear the text input
    $('#input_message').val('')
    scrollSmoothToBottom("div");
    // send the message
    // submit_message(input_message)
});

function imput_message(message, session_id, plataforma) {

  $.post( "/imput_message", {
      message: message,
      session: session_id,
      plataforma: plataforma,
  }, handle_response_2);

  function handle_response_2(data) {
    // append the bot repsonse to the div
    console.log(data.message);
  }
}

</script>

<script>
    setInterval(function(){

        var session_id = document.getElementById("session_id").value;
        var interacciones

        $.ajax({
            url: '{% url "contador_interacciones" %}',
            data: {
              'session_id': session_id,
            },
            dataType: 'json',
            success: function (JSONer) {
              let json = JSONer
              for (let i in json){
                for (let j in json[i]){
                  submit_message(json[i][j].responseId_id, json[i][j].id_user_id);
                }
              }
            }
        });

    },1000);
</script>

<script>
function myFunction() {
  //document.getElementById("demo").innerHTML = "YOU CLICKED ME!";
    var session_id = document.getElementById("session_id").value;

    $.ajax({
    url: '{% url "sesion_status_enter" %}',
    data: {
      'session_id': session_id,
    },
    dataType: 'json',
    success: function (data) {
      if (data.resultado) {
        console.log(data.resultado);
      }
    }
    });
}
</script>

{% endblock scripts %}

{% block contenido_header %}
{% nombre_plataforma source as plataforma %}
    <div class="row wrapper white-bg page-heading">
        <div class="col-sm-4">
            <h2><img alt="image" height="50" src="{{cliente.logotipo.url}}" /></h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{% url 'home' %}">Inicio</a>
                </li>
                {% if request.user|has_group:"Administrador" %}
                <li>
                    <a href="{% url 'agentes' cliente.id %}">Agentes</a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'interacciones' id_agente %}">Interacciones</a>
                </li>
                <li class="active">
                    <a href=""><strong>{{plataforma}}</strong></a>
                </li>
            </ol>
        </div>
    </div>
{% endblock contenido_header %}

{% block contenido %}
{% nombre_plataforma source as plataforma %}
{% titulo_chat session as titulo %}

<input id="session_id" name="session_id" type="hidden" value="{{dataSesion.session}}">
<input id="plataforma" name="plataforma" type="hidden" value="{{plataforma}}">
<input id="titulo" name="titulo" type="hidden" value="{{titulo}}">
<input id="imagen_id" name="imagen_id" type="hidden" value="{{cliente.logotipo.url}}">


    <div class="wrapper wrapper-content">
      <div class="row">
        <div class="ibox-content m-b-sm animated fadeIn content-grafica">
            <div class="p-xs">
                <div class="pull-left m-r-md">
                  {% if plataforma|stringformat:"s" == 'Developer Source' %}
                    <i class="fa fa-file-code-o text-azul mid-icon"></i>
                  {% elif plataforma|stringformat:"s" == 'Web Chat' %}
                    <i class="fa fa-wechat text-azul mid-icon"></i>
                  {% else %}
                    <i class="fa fa-{{plataforma}} text-azul mid-icon"></i>
                  {% endif %}
                </div>
                <div class="pull-right m-r-md">
                    <h2><strong><p class="text-info">{{agente}}</p></strong></h2>
                </div>
                <h2 class="text-titulo">{{plataforma}}</h2>
                {% titulo_chat session as titulo %}
                <span>Sesión: {{titulo}}</span>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-lg-3 animated fadeIn">

                    <div class="ibox-content mailbox-content">
                        <div class="file-manager">
                            {% if plataforma|stringformat:"s" == 'facebook' %}
                                <a class="btn btn-block btn-primary compose-mail" href="{% url 'facebook_room' id_agente source session dataSesion.facebook_chat %}">Handover</a>
                            {% elif plataforma|stringformat:"s" == 'telegram' %}
                                <a class="btn btn-block btn-primary compose-mail" href="{% url 'telegram_room' id_agente source session dataSesion.originalDetectIntentRequest_chat_id %}">Handover</a>
                            {% elif plataforma|stringformat:"s" == 'whatsapp' %}
                                {% if agente.api_ws == True %}
                                  <a class="btn btn-block btn-primary compose-mail" href="{% url 'whatsapp_room' id_agente source session %}">Handover</a>
                                {% else %}
                                  <a class="btn btn-block btn-primary compose-mail" href="https://api.whatsapp.com/send?phone={{titulo}}" target="_blank" id="demo" onclick="myFunction()">Handover</a>
                                {% endif %}
                            {% elif plataforma|stringformat:"s" == 'Web Chat' %}
                                <a class="btn btn-block btn-primary compose-mail" href="{% url 'webchat_room' id_agente source session %}">Handover</a>
                            {% else %}
                                <a class="btn btn-block btn-primary compose-mail disabled" href="#">Handover</a>
                            {% endif %}
                            <div class="space-25"></div>
                            <h5>OTRAS PLATAFORMAS</h5>
                            <ul class="folder-list m-b-md" style="padding: 0">
                                {% for fuente in plataformas_del_agente %}
                                <li><a href="{% url 'sesiones' id_agente fuente.originalDetectIntentRequest_source %}" class="text-blanco"> <i class="fa fa-globe text-blanco"></i>
                                {% nombre_plataforma fuente.originalDetectIntentRequest_source as platform %}
                                {{platform}}
                                <span class="label label-warning pull-right">{{fuente.total_interacciones}}</span> </a></li>
                                {% endfor %}
                            </ul>
                            <!-- IDEA POR DEFINIR 
                            <h5>Etiquetas</h5>
                            <ul class="category-list" style="padding: 0">
                                <li><a href="#" class="text-blanco"> <i class="fa fa-circle text-navy"></i> Resuelta </a></li>
                                <li><a href="#" class="text-blanco"> <i class="fa fa-circle text-danger"></i> Importante</a></li>
                                <li><a href="#" class="text-blanco"> <i class="fa fa-circle text-warning"></i> Revisar</a></li>
                            </ul>
                            -->
                        </div>
                    </div>

            </div>
            <div class="col-lg-9 animated fadeInUp content-grafica">

                <div class="pull-right tooltip-demo">
                    <a href="{% url 'timelinePDF' id_agente source session %}" target="_blank" class="btn text-blanco" data-toggle="tooltip" data-placement="top" title="Descargar"><i class="fa fa-download"></i> </a>
                </div>
                <h2 class="text-titulo">
                    Interacciones
                </h2>
                <div class="mail-tools tooltip-demo m-t-md">


                    <h3>
                        {% titulo_chat session as titulo %}
                        <strong>Sesión:</strong>
                        <span class="font-normal">{{titulo}}</span>
                        <span class="pull-right font-normal">
                          {% nombre_usuario_session session as username %}
                          <strong>Nombre de usuario:</strong>
                          <span class="font-normal">{{username}}</span>
                        </span>
                    </h3>
                    <h5>
                        {% hora_inicial session as inicio %}
                        {% hora_final session as fin %}
                        <span class="pull-right font-normal">
                            <i class="fa fa-clock-o"></i> <strong>Inicio</strong> {{fin}} <i class="fa fa-clock-o"></i> <strong>Fin</strong> {{inicio}}
                        </span>

                        <strong>Plataforma:</strong>
                        <span class="font-normal">{{plataforma}}</span> <br>
                        <br>
                    </h5>
                </div>

                    <div class="ibox-content m-b-sm">

                          <div class="chat-discussion" id="div">
                              <!-- chat messages -->
                              {% for item in dataInteraccion reversed %}
                                {% if item.queryText != "" %}
                                <div class="chat-message left" id="loading">
                                  <img class="message-avatar" src="https://cdn3.iconfinder.com/data/icons/faticons/32/user-01-128.png" alt="" >
                                  <div class="message">
                                      {% if plataforma|stringformat:"s" == 'telegram' %}
                                      <a class="message-author" href="#"> {{item.session.originalDetectIntentRequest_chat_first_name}} {{item.session.originalDetectIntentRequest_chat_last_name}}</a>
                                      {% else %}
                                      <a class="message-author" href="#"> {{titulo}}</a>
                                      {% endif %}
                                      <span class="message-date"> {{item.date}} </span>
                                      <span class="message-content text-negro">
                                        {{item.queryText}}
                                      </span>
                                  </div>
                                </div>
                                {% endif %}
                                {% if item.fulfillmentText != "" %}
                                <div class="chat-message right">
                                    <img class="message-avatar" src="{{cliente.logotipo.url}}" alt="" >
                                    <div class="message">
                                        <a class="message-author" href="#"> {{item.session.id_proyecto.nombre_agente}} </a>
                                        <span class="message-date"> {{item.date}} </span>
                                        <span class="message-content text-negro">
                                            {{item.fulfillmentText}}
                                        </span>
                                    </div>
                                </div>
                                {% endif %}
                              {% endfor %}
                          </div>
                    </div>

        </div>
    </div>
</div>

{% endblock contenido %}
