{% extends 'tags/empty_page.html' %}
{% load staticfiles %}
{% load querys %}

{% block head %}

    {% nombre_plataforma source as plataforma %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>

        {% if datos_empresa.nombre_empresa == None %}
          {{plataforma}} | HandOver
        {% else %}
          {{datos_empresa.nombre_empresa}} | {{platafroma}} | HandOver
        {% endif %}

    </title>

    <link rel="icon" type="image/png" href="{% static 'img/icono-springlabs.png' %}" />

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">

    <link href="{% static 'css/animate.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'style.css' %}">

    <link href="{% static 'css/estilos_menu.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>

{% endblock head %}

{% block js %}
    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{% static 'js/inspinia.js' %}"></script>
    <script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
    <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

    <!-- MENU -->
    <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>

{% endblock js %}

{% block scripts %}

<script>
  //Require jQuery

</script>

<script>
    var inFormOrLink;
    $('a').on('click', function() { inFormOrLink = true; });
    $('form').on('submit', function() { inFormOrLink = true; });

    $(window).on("beforeunload", function() {

      var session_id = document.getElementById("session_id").value;

      $.ajax({
        url: '{% url "sesion_status" %}',
        data: {
          'session_id': session_id,
        },
        dataType: 'json',
        success: function (data) {
          if (data.resultado) {
            console.log(data.resultado);
          }
        }
      });

      $.ajax({
        url: '{% url "borrar_registro_interacciones_realtime" %}',
        data: {
          'session_id': session_id,
        },
        dataType: 'json',
        success: function (data) {
          if (data.resultado) {
            console.log(data.resultado);
          }
        }
      });

    })
</script>

<script>

    window.onload = function()
    {
       var session_id = document.getElementById("session_id").value;
       var interacciones_totales = document.getElementById("interacciones_totales").value;
       var interacciones

       $.ajax({
        url: '{% url "sesion_status_enter" %}',
        data: {
          'session_id': session_id,
        },
        dataType: 'json',
        success: function (data) {
          if (data.resultado) {
            console.log(data.resultado);
          }
        }
      });

      scrollSmoothToBottom("div")
    }

</script>

<script>

  function scrollSmoothToBottom (id) {
     var div = document.getElementById(id);
     $('#' + id).animate({
        scrollTop: div.scrollHeight - div.clientHeight
     }, 500);
  }

  var session_id = document.getElementById("session_id").value;
  var plataforma = document.getElementById("plataforma").value;
  var titulo = document.getElementById("titulo").value;
  var logoCliente = document.getElementById("imagen_id").value

  function submit_message(message, user) {

    $.post( "/send_message", {
        message: message,
        user: user,
    }, handle_response);

    function handle_response(data) {
      // append the bot repsonse to the div
      var date = new Date(data.date);
      dateString = date.toUTCString();
      if (data.message != ""){
        console.log(data);
        if ((data.nombre)&&(data.apellido)){
          $('.chat-discussion').append(`
                <div class="chat-message left" id="loading">
                <img class="message-avatar" src="https://cdn3.iconfinder.com/data/icons/faticons/32/user-01-128.png" alt="" >
                <div class="message">
                    <a class="message-author" href="#">`+ data.nombre + ` ` + data.apellido+` </a>
                    <span class="message-date">`+ date.toLocaleString() +`</span>
                    <span class="message-content text-negro">
                        ${data.message}
                    </span>
                </div>
            </div>
          `)}
        else{
          $('.chat-discussion').append(`
                <div class="chat-message left" id="loading">
                <img class="message-avatar" src="https://cdn3.iconfinder.com/data/icons/faticons/32/user-01-128.png" alt="" >
                <div class="message">
                    <a class="message-author" href="#">`+ titulo +` </a>
                    <span class="message-date">`+ date.toLocaleString() +`</span>
                    <span class="message-content text-negro">
                        ${data.message}
                    </span>
                </div>
            </div>
          `)}}
      if (data.bot != ""){
      $('.chat-discussion').append(`
          <div class="chat-message right">
              <img class="message-avatar" src="`+logoCliente+`" alt="" >
              <div class="message">
                  <a class="message-author" href="#">`+ data.nombre_bot +`</a>
                  <span class="message-date">`+ date.toLocaleString() +`</span>
                  <span class="message-content text-negro">
                      ${data.bot}
                  </span>
              </div>
          </div>
      `)}
      // remove the loading indicator
      // $( "#loading" ).remove();
      scrollSmoothToBottom("div")
    }
}

$('#target').on('submit', function(e){
    e.preventDefault();
    const input_message = $('#input_message').val()

    // return if the user does not enter any text
    if (!input_message) {
      return
    }

    imput_message(input_message, session_id, plataforma)

    // clear the text input
    $('#input_message').val('')
    scrollSmoothToBottom("div");
    // send the message
    // submit_message(input_message)
});

function imput_message(message, session_id, plataforma) {

  $.post( "/imput_message", {
      message: message,
      session: session_id,
      plataforma: plataforma,
  }, handle_response_2);

  function handle_response_2(data) {
    // append the bot repsonse to the div
    console.log(data.message);
  }
}

</script>

<script>
    setInterval(function(){

        var interacciones_totales = document.getElementById("interacciones_totales").value;
        var session_id = document.getElementById("session_id").value;
        var interacciones

        $.ajax({
            url: '{% url "contador_interacciones" %}',
            data: {
              'session_id': session_id,
            },
            dataType: 'json',
            success: function (JSONer) {
              let json = JSONer
              for (let i in json){
                for (let j in json[i]){
                  submit_message(json[i][j].responseId_id, json[i][j].id_user_id);
                }
              }
            }
        });

    },1000);
</script>

{% endblock scripts %}

{% block contenido_header %}
{% nombre_plataforma source as plataforma %}
    <div class="row wrapper white-bg page-heading">
        <div class="col-sm-4">
            <h2><img alt="image" height="50" src="{{cliente.logotipo.url}}" /></h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{% url 'home' %}">Inicio</a>
                </li>
                {% if request.user|has_group:"Administrador" %}
                <li>
                    <a href="{% url 'agentes' cliente.id %}">Agentes</a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'interacciones' id_agente %}">Interacciones</a>
                </li>
                <li>
                    <a href="{% url 'sesiones' id_agente source %}">{{plataforma}}</a>
                </li>
                <li class="active">
                    <a href=""><strong>Handover Room {{plataforma}}</strong></a>
                </li>
            </ol>
        </div>
<!--         <div class="col-sm-8">
            <div class="title-action">
                <h2><strong><p class="text-success">{{cliente.nombre_cliente}}</p></strong></h2>
            </div>
        </div> -->
    </div>
{% endblock contenido_header %}

{% block contenido %}
{% nombre_plataforma source as plataforma %}
{% titulo_chat session as titulo %}

<input id="session_id" name="session_id" type="hidden" value="{{dataSesion.session}}">
<input id="interacciones_totales" name="interacciones_totales" type="hidden" value="{{dataSesion.session}}">
<input id="plataforma" name="plataforma" type="hidden" value="{{plataforma}}">
<input id="titulo" name="titulo" type="hidden" value="{{titulo}}">
<input id="imagen_id" name="imagen_id" type="hidden" value="{{cliente.logotipo.url}}">


<div class="row">
    <div class="col-lg-12">

        <div class="ibox chat-view">

            <div class="ibox-title content-grafica">
                <!-- <small class="pull-right text-muted">Último mensaje:  Lun Mar 26 2015 - 18:39:23</small> -->
                 Chat room panel
            </div>

            <br>
            <div class="ibox-content animated fadeInUp">

                <div class="row">
                    <div class="col-md-3">
                        <div>
                            <div class="widget navy-bg p-lg text-center">
                                <div class="m-b-md">
                                    <i class="fa fa-{{plataforma}} fa-4x"></i>
                                    <h1 class="m-xs">{{titulo}}</h1>
                                    <h3 class="font-bold no-margins">
                                        {{plataforma}}
                                    </h3>
                                    <small>HandOver</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 ">
                        <div class="chat-discussion content-grafica" id="div">
                            <!-- chat messages -->
                            {% for item in interacciones %}
                              {% if item.queryText != "" %}
                              <div class="chat-message left" id="loading">
                                <img class="message-avatar" src="https://cdn3.iconfinder.com/data/icons/faticons/32/user-01-128.png" alt="" >
                                <div class="message">
                                    {% if plataforma|stringformat:"s" == 'telegram' %}
                                    <a class="message-author" href="#"> {{item.session.originalDetectIntentRequest_chat_first_name}} {{item.session.originalDetectIntentRequest_chat_last_name}}</a>
                                    {% else %}
                                    <a class="message-author" href="#"> {{titulo}}</a>
                                    {% endif %}
                                    <span class="message-date"> {{item.date}} </span>
                                    <span class="message-content text-negro">
                                      {{item.queryText}}
                                    </span>
                                </div>
                              </div>
                              {% endif %}
                              {% if item.fulfillmentText != "" %}
                              <div class="chat-message right">
                                  <img class="message-avatar" src="{{cliente.logotipo.url}}" alt="" >
                                  <div class="message">
                                      <a class="message-author" href="#"> {{item.session.id_proyecto.nombre_agente}} </a>
                                      <span class="message-date"> {{item.date}} </span>
                                      <span class="message-content text-negro">
                                          {{item.fulfillmentText}}
                                      </span>
                                  </div>
                              </div>
                              {% endif %}
                            {% endfor %}
                        </div>
                        <form id="target" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input class="input content-grafica" type="text" value="" placeholder=" Escribe un mensaje aquí..." id="input_message"/>
                            <input onClick="scrollSmoothToBottom('div')" type="submit" hidden>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}
