{% extends 'tags/empty_page.html' %}
{% load staticfiles %}
{% load querys %}

{% block head %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>

        {% if datos_empresa.nombre_empresa == None %}
          Dashboard | Equipos
        {% else %}
          {{datos_empresa.nombre_empresa}} | Equipos
        {% endif %}

    </title>

    <link rel="icon" type="image/png" href="{% static 'img/icono-springlabs.png' %}" />

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/iCheck/custom.css' %}" rel="stylesheet">

    <link href="{% static 'css/animate.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link href="{% static 'css/estilos_menu.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>


{% endblock head %}

{% block js %}
    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{% static 'js/inspinia.js' %}"></script>
    <script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
    <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

    <!-- iCheck -->
    <script src="{% static 'js/plugins/iCheck/icheck.min.js' %}"></script>

    <!-- MENU -->
    <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>


{% endblock js %}

{% block scripts %}
<!-- iCheck -->

<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });
</script>

<script>

  function asignar() {

    var agente_id = document.getElementById("agente_id").value;

    {% for operador in operadores_no_asignados %}
      var isChecked = document.getElementById('{{operador.id}}').checked;
      var operador = document.getElementById('{{operador.id}}').value;

      if(isChecked){
        console.log(operador);
        $.ajax({
            url: '{% url "asignar_bot" %}',
            data: {
              'agente_id': agente_id,
              'operador_id' : operador,
            },
            dataType: 'json',
            success: function (data) {
              console.log(data.resultado);
              location.reload();
            }
        });
      }
    {% endfor %}
}

function desvincular(operador) {

  var agente_id = document.getElementById("agente_id").value;
  $.ajax({
      url: '{% url "desvincular_bot" %}',
      data: {
        'agente_id': agente_id,
        'operador_id' : operador,
      },
      dataType: 'json',
      success: function (data) {
        console.log(data.resultado);
        location.reload();
      }
  });
}

</script>

{% endblock scripts %}

{% block contenido_header %}
    <div class="row wrapper white-bg page-heading">
        <div class="col-sm-4">
            <h2><img alt="image" height="50" src="{{cliente.logotipo.url}}" /></h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{% url 'home' %}">Inicio</a>
                </li>
                <li class="active">
                    <a href="{% url 'equipos_agente' %}">Agentes</a>
                </li>
                <li class="active">
                    <a href=""><strong>Operadores</strong></a>
                </li>
            </ol>
        </div>
        <div class="col-sm-8">
            <div class="title-action">
                <h2><strong>{{cliente.nombre_cliente}}: </strong><i>{{agente.nombre_agente}}</i></h2>
            </div>
        </div>
    </div>
{% endblock contenido_header %}

{% block contenido %}
<input id="agente_id" name="agente_id" type="hidden" value="{{agente.id}}">

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="text-center">
            <p class="text-titulo"><strong>USUARIOS AFILIADOS AL AGENTE</strong></p>
        </div>
        {% if lista_de_operadores %}
        {% for data in lista_de_operadores %}
        <div class="col-lg-4">
            <div class="contact-box content-grafica">
                <a href="{% url 'perfil' data.user_id %}">
                <div class="col-sm-4">
                    <div class="text-center">
                        {% if data.foto %}
                          <img alt="image" class="img-circle m-t-xs img-responsive" src="{{data.foto.url}}">
                        {% else %}
                          <img alt="image" class="img-circle m-t-xs img-responsive" src="{% static 'img/NO-IMAGE-AVAILABLE-300x300.png' %}">
                        {% endif %}
                        <div class="m-t-xs font-bold">{{data.cargo}}</div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <h3 class="text-titulo"><strong>{{data}}</strong></h3>
                    <p><i class="fa fa-map-marker"></i> {{data.direccion}}</p>
                       <span class="fa fa-mobile"></span> {{data.tlf}}
                </div>
                <div class="clearfix">

                </div>
               </a>
               <div class="text-right">
                 <button type="button" class="btn btn-danger" onclick="desvincular({{data.user.id}});">
                   Desvincular
                 </button>
               </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
          <div class="col-sm-4"></div>
          <div class="alert alert-danger col-sm-4">
            No hay operadores asignados.
          </div>
          <div class="col-sm-4"></div>
        {% endif %}
        </div>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        Asignar Operador
      </button>
      <div class="modal inmodal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
          <div class="modal-content animated fadeIn">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                      <i class="fa fa-laptop modal-icon"></i>
                      <h4 class="modal-title">Operadores Disponibles</h4>
                      <small class="font-bold">Recuerde que es posible asignar uno o más bots a un mismo operador</small>
                  </div>
                  <div class="modal-body">
                    {% if operadores_no_asignados %}
                      <div class="i-checks">
                        {% for operador in operadores_no_asignados %}
                        <label for="{{operador.id}}">
                          <div class="icheckbox_square-green" style="position: relative;">
                            <input type="checkbox" value="{{operador.id}}" id={{operador.id}} style="position: absolute; opacity: 0;">
                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                          </div> <i></i> {{operador.first_name}} {{operador.usuario.apellido_paterno}} {{operador.usuario.apellido_materno}}
                        </label><br>
                        {% endfor %}
                      </div>
                    {% else %}
                    <div class="alert alert-danger">
                      No hay operadores disponibles.
                    </div>
                    {% endif %}
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="asignar()">Asignar</button>
                  </div>
              </div>
          </div>
      </div>
    </div>

{% endblock contenido %}
