{% extends 'tags/empty_page.html' %}
{% load staticfiles %}
{% load querys %}

{% block head %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>

        {% if datos_empresa.nombre_empresa == None %}
          Dashboard | Bienvenido
        {% else %}
          {{datos_empresa.nombre_empresa}} | Bienvenido
        {% endif %}

    </title>

    <link rel="icon" type="image/png" href="{% static 'img/icono-springlabs.png' %}" />

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/iCheck/custom.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/chosen/bootstrap-chosen.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/steps/jquery.steps.css' %}" rel="stylesheet">

    <link href="{% static 'css/animate.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link href="{% static 'css/estilos_menu.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>


{% endblock head %}

{% block js %}
    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{% static 'js/inspinia.js' %}"></script>
    <script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
    <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

   <!-- Input Mask-->
    <script src="{% static 'js/plugins/jasny/jasny-bootstrap.min.js' %}"></script>

    <script src="{% static 'js/plugins/ionRangeSlider/ion.rangeSlider.min.js' %}"></script>

    <!-- iCheck -->
    <script src="{% static 'js/plugins/iCheck/icheck.min.js' %}"></script>

    <!-- MENU -->
    <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>

    <script src="{% static 'js/plugins/dataTables/datatables.min.js' %}"></script>

    <!-- Steps -->
    <script src="{% static 'js/plugins/steps/jquery.steps.min.js' %}"></script>

    <!-- Jquery Validate -->
    <script src="{% static 'js/plugins/validate/jquery.validate.min.js' %}"></script>

    <link href="{% static 'css/plugins/dataTables/datatables.min.css' %}" rel="stylesheet">


{% endblock js %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                pageLength: 25,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy'},
                    {extend: 'csv'},
                    {extend: 'excel', title: 'ExampleFile'},
                    {extend: 'pdf', title: 'ExampleFile'},

                    {extend: 'print',
                     customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                    }
                    }
                ]

            });

        });
    </script>
<script>
        $(document).ready(function(){
            $("#wizard").steps();
            $("#form").steps({
                bodyTag: "fieldset",
                onStepChanging: function (event, currentIndex, newIndex)
                {
                    // Always allow going backward even if the current step contains invalid fields!
                    if (currentIndex > newIndex)
                    {
                        return true;
                    }

                    // Forbid suppressing "Warning" step if the user is to young
                    if (newIndex === 3 && Number($("#age").val()) < 18)
                    {
                        return false;
                    }

                    var form = $(this);

                    // Clean up if user went backward before
                    if (currentIndex < newIndex)
                    {
                        // To remove error styles
                        $(".body:eq(" + newIndex + ") label.error", form).remove();
                        $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                    }

                    // Disable validation on fields that are disabled or hidden.
                    form.validate().settings.ignore = ":disabled,:hidden";

                    // Start validation; Prevent going forward if false
                    return form.valid();
                },
                onStepChanged: function (event, currentIndex, priorIndex)
                {
                    // Suppress (skip) "Warning" step if the user is old enough.
                    if (currentIndex === 2 && Number($("#age").val()) >= 18)
                    {
                        $(this).steps("next");
                    }

                    // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                    if (currentIndex === 2 && priorIndex === 3)
                    {
                        $(this).steps("previous");
                    }
                },
                onFinishing: function (event, currentIndex)
                {
                    var form = $(this);

                    // Disable validation on fields that are disabled.
                    // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                    form.validate().settings.ignore = ":disabled";

                    // Start validation; Prevent form submission if false
                    return form.valid();
                },
                onFinished: function (event, currentIndex)
                {
                    var form = $(this);

                    // Submit form input
                    form.submit();
                }
            }).validate({
                        errorPlacement: function (error, element)
                        {
                            element.before(error);
                        },
                        rules: {
                            confirm: {
                                equalTo: "#password"
                            }
                        }
                    });


            $('#id_username').keypress(function(e) {
                preventNumberInput(e);
            });

            $('#id_nombres').keypress(function(e) {
                preventNumberInput(e);
            });

            $('#id_apellido_paterno').keypress(function(e) {
                preventNumberInput(e);
            });
            $('#id_apellido_materno').keypress(function(e) {
                preventNumberInput(e);
            });

            $('#id_email').keypress(function(e) {
                preventRareData(e);
            });

       });

        function preventNumberInput(e){
            var keyCode = (e.keyCode ? e.keyCode : e.which);
            if (keyCode > 47 && keyCode < 58){
                e.preventDefault();
            }
        }

        function preventRareData(e){
            var forbidden = [123,124,125,126,91,92,93,94,96,58,59,60,61,62,63,47,43,42,41,40,33,34,35,36,37,38,39,192,63,191];
            var keyCode = (e.keyCode ? e.keyCode : e.which);
            console.log(keyCode);
            if (!forbidden.indexOf(keyCode)){
                e.preventDefault();
            }
        }
    </script>



{% endblock scripts %}

{% block contenido_header %}

    <div class="row wrapper white-bg page-heading">
        <div class="col-sm-4">
            <h2><img alt="image" height="50" src="{{cliente.logotipo.url}}" /></h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{% url 'home' %}">Inicio</a>
                </li>
                <li class="active">
                    <a href=""><strong>Ingresar Operador</strong></a>
                </li>
            </ol>
        </div>
        <div class="col-sm-8">
            <div class="title-action">
                <h2><strong>{{cliente.nombre_cliente}}</strong></h2>
            </div>
        </div>
    </div>
{% endblock contenido_header %}

{% block contenido %}
    {% if request.user|has_group:"Cliente Administrador" %}
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-lg-10">
                    {% if mensaje_error %}
                        <div class="alert alert-danger">
                            El nombre de usuario ya existe, favor asigne un nombre de usuario diferente.
                        </div>
                    {% endif %}
                    {% if mensaje_exito %}
                        <div class="alert alert-success">
                            El usuario se registró de manera exitosa.
                        </div>
                    {% endif %}
                    <div class="ibox">
                        <div class="ibox-content content-grafica">
                            <h5 class="text-titulo">Ingresar Usuario</h5>
                            <p>
                                Completa los campos para agregar un nuevo usuario.
                            </p>
                            <form id="form" action="" class="wizard-big" method="post" role="form" enctype="multipart/form-data">
                                <h1>Ingresar Usuario</h1>
                                <fieldset>
                                    {% csrf_token %}
                                    {{ operador.as_p }}
                                </fieldset>
                                <h1>Asignar Bots</h1>
                                <fieldset>
                                    <h2>Asignar bots a usuario</h2>
                                    {% csrf_token %}
                                    {{ usuarioAgente.as_p }}
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock contenido %}
