{% extends 'tags/empty_page.html' %}
{% load staticfiles %}
{% load querys %}

{% block head %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>

        {% if datos_empresa.nombre_empresa == None %}
          Dashboard | Ingresar Nuevo Cliente
        {% else %}
          {{datos_empresa.nombre_empresa}} | Ingresar Nuevo Cliente
        {% endif %}

    </title>

    <link rel="icon" type="image/png" href="{% static 'img/icono-springlabs.png' %}" />

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/iCheck/custom.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/chosen/bootstrap-chosen.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/colorpicker/bootstrap-colorpicker.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/cropper/cropper.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/switchery/switchery.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/jasny/jasny-bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/nouslider/jquery.nouislider.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/datapicker/datepicker3.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/ionRangeSlider/ion.rangeSlider.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/clockpicker/clockpicker.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/daterangepicker/daterangepicker-bs3.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/select2/select2.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/touchspin/jquery.bootstrap-touchspin.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/dualListbox/bootstrap-duallistbox.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/animate.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/blueimp/css/blueimp-gallery.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/estilos_menu.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>


{% endblock head %}

{% block js %}
    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{% static 'js/inspinia.js' %}"></script>
    <script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
    <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

    <!-- Chosen -->
    <script src="{% static 'js/plugins/chosen/chosen.jquery.js' %}"></script>

   <!-- JSKnob -->
   <script src="{% static 'js/plugins/jsKnob/jquery.knob.js' %}"></script>

   <!-- Input Mask-->
    <script src="{% static 'js/plugins/jasny/jasny-bootstrap.min.js' %}"></script>

   <!-- Data picker -->
   <script src="{% static 'js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>

   <!-- NouSlider -->
   <script src="{% static 'js/plugins/nouslider/jquery.nouislider.min.js' %}"></script>

   <!-- Switchery -->
   <script src="{% static 'js/plugins/switchery/switchery.js' %}"></script>

    <!-- IonRangeSlider -->
    <script src="{% static 'js/plugins/ionRangeSlider/ion.rangeSlider.min.js' %}"></script>

    <!-- iCheck -->
    <script src="{% static 'js/plugins/iCheck/icheck.min.js' %}"></script>

    <!-- MENU -->
    <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>

    <!-- Color picker -->
    <script src="{% static 'js/plugins/colorpicker/bootstrap-colorpicker.min.js' %}"></script>

    <!-- Clock picker -->
    <script src="{% static 'js/plugins/clockpicker/clockpicker.js' %}"></script>

    <!-- Image cropper -->
    <script src="{% static 'js/plugins/cropper/cropper.min.js' %}"></script>

    <!-- Date range use moment.js same as full calendar plugin -->
    <script src="{% static 'js/plugins/fullcalendar/moment.min.js' %}"></script>

    <!-- Date range picker -->
    <script src="{% static 'js/plugins/daterangepicker/daterangepicker.js' %}"></script>

    <!-- Select2 -->
    <script src="{% static 'js/plugins/select2/select2.full.min.js' %}"></script>

    <!-- TouchSpin -->
    <script src="{% static 'js/plugins/touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>

    <!-- Tags Input -->
    <script src="{% static 'js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script>

    <!-- Dual Listbox -->
    <script src="{% static 'js/plugins/dualListbox/jquery.bootstrap-duallistbox.js' %}"></script>

    <!-- blueimp gallery -->
    <script src="{% static 'js/plugins/blueimp/jquery.blueimp-gallery.min.js' %}"></script>


    <script src="{% static 'js/plugins/dataTables/datatables.min.js' %}"></script>

    <!-- Morris -->
    <link href="{% static 'css/plugins/morris/morris-0.4.3.min.css' %}" rel="stylesheet">
    <!--
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">-->

    <!-- Morris demo data-->
    <script src="{% static 'js/demo/morris-demo.js' %}"></script>

    <!-- Morris -->
    <script src="{% static 'js/plugins/morris/raphael-2.1.0.min.js' %}"></script>
    <script src="{% static 'js/plugins/morris/morris.js' %}"></script>

    <link href="{% static 'css/plugins/dataTables/datatables.min.css' %}" rel="stylesheet">

{% endblock js %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                pageLength: 25,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy'},
                    {extend: 'csv'},
                    {extend: 'excel', title: 'ExampleFile'},
                    {extend: 'pdf', title: 'ExampleFile'},

                    {extend: 'print',
                     customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                    }
                    }
                ]

            });
            $('#contenedor-alertas').hide();
            $('#alertas').hide();
            $('#id_nombre_cliente').change(function(){
                validate();
            });
        });
        function validate(){
            let cadena = $('#id_nombre_cliente').val();
            if( cadena.includes('/') || cadena.includes('*') || cadena.includes('+') || cadena.includes('{') || cadena.includes('}')){
                $('#contenedor-alertas').attr("class","alert alert-danger");
                $('#alertas').text("Advertencia, está ingresando caracteres no permitidos: / * { }");
            }

            $('#contenedor-alertas').show();
            $('#alertas').show();
        }
    </script>

    <!-- Función para pintar los datos de grafica 2-->
    <script>

    </script>


{% endblock scripts %}

{% block contenido_header %}
    <div class="row wrapper white-bg page-heading">
        <div class="col-sm-4">
            <ol class="breadcrumb">
                <li>
                    <a href="{% url 'home' %}">Inicio</a>
                </li>
                <li class="active">
                    <a href=""><strong>Ingresar Cliente</strong></a>
                </li>
            </ol>
        </div>
    </div>
{% endblock contenido_header %}

{% block contenido %}

<div class="wrapper wrapper-content">
    {% if id_cliente == "0" %}
        <div class="text-center">
            <p class="text-titulo"><strong>SELECCIONAR CLIENTE</strong></p>
        </div>
        {% for cliente in clientes %}<!--Recorremos el arreglo de equipos favoritos del ususario-->
            <div class="col-lg-3">
                <div class="widget-head-color-box white-bg p-lg text-center content-grafica">
                    <a href="{% url 'asignar_grafica' cliente.id %}"><!--Llamamos la funcion que agrega o elimina los equipos favoritos-->
                        <div class="col-sm-12">
                            <img alt="image" class="img-circle" style="width: 60px; height: 60px;" src="{{cliente.logotipo.url}}">
                            <div class="text-blanco">{{cliente.nombre_cliente}}</div>
                        </div>
                    <div class="clearfix"></div>
                   </a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        {% if graficas_seleccionadas %}
            <div class="row">
                <div class="text-center">
                    <p class="text-titulo"><strong>GRÁFICAS SELECCIONADAS</strong></p>
                </div>
                {% for grafica in graficas_seleccionadas2 %}<!--Recorremos el arreglo de equipos favoritos del ususario-->
                    <div class="col-lg-3">
                        <div class="widget-head-color-box white-bg p-lg text-center content-grafica">
                            <a href="{% url 'agregar_graficas' id_cliente grafica.id %}"><!--Llamamos la funcion que agrega o elimina los equipos favoritos-->
                                <div class="col-sm-12">
                                    <img alt="image" class="img-circle" style="width: 60px; height: 60px;" src="{% static 'imgs/robot.png' %}">
                                    <div class="text-blanco">{{grafica.nombre_grafica}}</div>
                                    <i class="fa fa-star fa-3x text-warning"></i>
                                </div>
                            <div class="clearfix"></div>
                           </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <<span></span>
        {%if graficas_no_seleccionadas %}

            <div class="row">
                <div class="text-center">
                    <p class="text-titulo"><strong>GRÁFICAS NO SELECCIONADAS</strong></p>
                </div>
                {% for grafica in graficas_no_seleccionadas %}<!--Recorremos el arreglo de equipos favoritos del ususario-->
                    <div class="col-lg-3">
                        <div class="widget-head-color-box white-bg p-lg text-center content-grafica">
                            <a href="{% url 'agregar_graficas' id_cliente grafica.id %}"><!--Llamamos la funcion que agrega o elimina los equipos favoritos-->
                                <div class="col-sm-12">
                                    <img alt="image" class="img-circle" style="width: 60px; height: 60px;" src="{% static 'imgs/robot.png' %}">
                                    <div class="text-blanco">{{grafica.nombre_grafica}}</div>
                                </div>
                            <div class="clearfix"></div>
                           </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {%endif %}

    {% endif %}
</div>

{% endblock contenido %}
